:host {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
  min-height: 0;
}

.smp-table-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: scroll;
  min-height: 100px;
  height: 10px;
  overflow: hidden;
  padding-right: 5px;
}

.smp-table-container mat-table {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  min-height: 100px;
}

.smp-table-filter {
  width: 100%;
  padding-top: 1em;
}


