<div class="smp-table-container">
  <mat-form-field id="smp-table-filter_id" class="smp-table-filter">
    <mat-label *ngIf="filterLabel">{{ filterLabel | translate }}</mat-label>
    <input matInput #tableFilter
           (keyup)="onFilterChangedEvent($event)"
           placeholder="{{ filterPlaceholder | translate }}"
           [disabled]="disabledResourceFilter"
    >
  </mat-form-field>
  <ng-container *ngIf="dataSource.data.length == 0">
    <p>There is no data for this filter</p>
  </ng-container>
  <mat-table class="mat-elevation-z2"
             [dataSource]="dataSource"
  >

    <ng-container *ngFor="let colDef of columnDefList; let colIndex = index"
                  matColumnDef="{{colDef.columnDef}}">
      <mat-header-cell *matHeaderCellDef>{{ colDef.header | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ colDef.cell(row) }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>

    <mat-row *matRowDef="let odd = odd; let row; columns: displayedColumns;"
             (click)="onSelected(row)"
             [ngClass]="{'datatable-row-selected': row==selectedResource,'datatable-row-odd': odd}"
    ></mat-row>


    <!-- Row shown when there is no matching data. -->
    <mat-row class="mat-row" *matNoDataRow>
      <mat-row *ngIf="tableFilter.value;else noDataFound"
          class="mat-cell">
        {{ noResultForFilterLabel | translate: {filterValue: tableFilter.value} }}
      </mat-row>
      <ng-template #noDataFound>
        <mat-row>{{ noResultLabel | translate }}
        </mat-row>
      </ng-template>
    </mat-row>

    <!-- Row shown when there is no matching data. -->
    <mat-row *matNoDataRow>
      <mat-cell colspan="2">No data matching the filter </mat-cell>
    </mat-row>

  </mat-table>

</div>

<mat-paginator #smpTablePaginator class="mat-elevation-z2"
               (page)="onPageChangedEvent($event)"
               [pageSizeOptions]="[5, 10, 15, 20]"
               showFirstLastButtons
               [pageSize]="10"
></mat-paginator>

