<div class="smp-table-container">
  <mat-form-field id="smp-table-filter_id" class="smp-table-filter">
    <mat-label *ngIf="filterLabel">{{ filterLabel | translate }}</mat-label>
    <input matInput #tableFilter
           (keyup)="onFilterChangedEvent($event)"
           placeholder="{{ filterPlaceholder | translate }}"
           [disabled]="disabledFilter"
    >
  </mat-form-field>
  <mat-table class="mat-elevation-z2"
             [dataSource]="dataSource"
  >
    <!-- configure table columns based on the  columnDefList -->
    <ng-container *ngFor="let colDef of columnDefList; let colIndex = index"
                  matColumnDef="{{colDef.columnDef}}">
      <mat-header-cell *matHeaderCellDef
                       [style]="colDef.style">{{ colDef.header | translate }}

      </mat-header-cell>
      <mat-cell class="smp-table-cell"  *matCellDef="let row"
                [style]="colDef.style"
                [matTooltip]="colDef.tooltip? colDef.tooltip(row):null"
      >{{ colDef.cell(row) }}</mat-cell>
    </ng-container>
    <!-- configure table header -->
    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <!-- configure table rows -->
    <mat-row class="smp-table-row" *matRowDef="let odd = odd; let row; columns: displayedColumns;"
             (click)="onRowClickedEvent(row)"
             (dblclick)="onRowDoubleClickedEvent(row)"
             [ngClass]="{'datatable-row-selected': row==selectedRow,'datatable-row-odd': odd}"
    ></mat-row>

    <!-- Row shown when there is no matching data. -->
    <div class="mat-row" *matNoDataRow>
      <div *ngIf="tableFilter.value;else noDataFound"
           class="mat-cell">
        {{ noResultForFilterLabel | translate: {filterValue: tableFilter.value} }}
      </div>
      <ng-template #noDataFound>
        <div>{{ noResultLabel | translate }}</div>
      </ng-template>
    </div>
  </mat-table>
</div>

<mat-paginator #smpTablePaginator
               (page)="onPageChangedEvent($event)"
               [pageSizeOptions]="[5, 10, 15, 20]"
               showFirstLastButtons
               [pageSize]="10"

></mat-paginator>

