
#extension-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  min-height: 600px;
  padding: 0 2em;

}
#extension-filter {
  width: 100%;
  padding-top: 1em;
}


#extension-table {
  width: 100%;
  padding-top: 1em;
}

