<smp-search-table
  #searchTable
  [title]="'alert.panel.title' | translate"
  noResultLabel='alert.panel.table.no.data.found'
  [showIndexColumn]="false"
  [columns]="columns"
  [displayedColumnIds]="displayedColumnIds"
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="alertController"
  [showSearchParametersPanel]="false"
  [filter]="filter"
  [allowNewItems]="false"
  [allowDeleteItems]="false"
  [allowEditItems]="true"
  [showActionButtons]="false"
  (onRowDoubleClickedEventEmitter)="onRowDoubleClicked($event)"
>
  <ng-template #additionalToolButtons>
    <span style="width: 2px">&nbsp;</span>
  </ng-template>
  <ng-template #dateTimeColumn let-row="row" >
    <div class='truncate-text' title="{{row.reportingTime | date:dateTimeFormat}}">{{ row.reportingTime | date:dateTimeFormat }}</div>
  </ng-template>
  <ng-template #truncateText let-row="row" >
    <div class='truncate-text' title="{{row.alertStatusDesc}}">{{ row.alertStatusDesc }}</div>
  </ng-template>
  <ng-template #forUser let-row="row" >
    <div class='truncate-text' title="{{ 'alert.panel.user.title' | translate: {value:row.username, mailTo: row.mailTo} }}">{{row.username }}</div>
  </ng-template>
  <ng-template #credentialType let-row="row" >
    <div class='truncate-text'>{{ row.alertDetails['CREDENTIAL_TYPE'] }}</div>
  </ng-template>
</smp-search-table>
