#custom-file-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.user-panel {
  height: 100%;
}

.user-toggle {
  width: 220px;
}

.role-field {
  width: 220px;
}
.username {
  width: calc(100% - 250px);
}

.email {
  width: calc(100% - 250px);
}

.role, .certificate-subject, .certificate-issuer, .certificate-serial-number, .certificate-id {
  width: 100%;
}

.certificate-valid-from, .certificate-valid-to {
  width: 40%;
}

.required-fields {
  text-align: right;
  font-size: 70%
}

.has-error {
  color: red;
  font-size: 70%;
}
