<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <mat-slide-toggle mat-no-ink class="mat-primary" [formControl]="userForm.controls['userToggle']" (change)="onUserToggleChanged($event)">
        User Details
      </mat-slide-toggle>
      <div *ngIf="userForm.errors?.userDetailsOrCertificateRequired && (userForm.get('userToggle').dirty || userForm.get('certificateToggle').dirty)" class="has-error">You need to enter at least the details or the certificate for this user</div>

      <div class="panel">
        <mat-form-field class="username">
          <input matInput placeholder="Username" [formControl]="userForm.controls['userName']" maxlength="255" required>
          <div *ngIf="userForm.controls['userName'].hasError('required') && userForm.controls['userName'].touched" class="has-error">You should type an username</div>
        </mat-form-field>

        <mat-form-field class="role">
          <mat-select matInput placeholder="Role" class="role" [formControl]="userForm.controls['role']" required>
            <mat-option *ngFor="let item of existingRoles" [value]="item">{{item}}</mat-option>
          </mat-select>
          <div *ngIf="userForm.controls['role'].hasError('required') && userForm.controls['role'].touched" class="has-error">You need to choose at least one role for this user</div>
        </mat-form-field>

        <mat-form-field class="password">
          <input matInput placeholder="Password" type="password" [formControl]="userForm.controls['password']" [pattern]="passwordPattern" [required]="!editMode">
          <div *ngIf="!editMode && userForm.controls['password'].hasError('required') && userForm.controls['password'].touched" class="has-error">You should type a password</div>
          <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('pattern') && userForm.controls['password'].touched" class="has-error">
            Password should follow all of these rules:<br>
            - Minimum length: 8 characters<br>
            - Maximum length: 32 characters<br>
            - At least one letter in lowercase<br>
            - At least one letter in uppercase<br>
            - At least one digit<br>
            - At least one special character
          </div>
        </mat-form-field>

        <mat-form-field class="password-confirmation">
          <input matInput placeholder="Confirmation" type="password" [formControl]="userForm.controls['confirmation']" [required]="!editMode">
          <div *ngIf="!editMode && userForm.controls['confirmation'].hasError('required') && userForm.controls['confirmation'].touched" class="has-error">You should type a password</div>
          <div *ngIf="userForm.errors?.confirmationMatch && userForm.controls['confirmation'].touched" class="has-error">Passwords do not match</div>
        </mat-form-field>
      </div>

      <mat-slide-toggle mat-no-ink class="mat-primary" [formControl]="userForm.controls['certificateToggle']">
        Certificate
      </mat-slide-toggle>
      <div *ngIf="userForm.errors?.userDetailsOrCertificateRequired && (userForm.get('userToggle').dirty || userForm.get('certificateToggle').dirty)" class="has-error">You need to enter at least the details or the certificate for this user</div>
      <div *ngIf="userForm.errors?.certificateDetailsRequired && userForm.get('certificateToggle').touched" class="has-error">All the certificate fields are required so please upload a new certificate</div>

      <div class="panel">
        <mat-form-field class="certificate-subject">
          <input matInput placeholder="Subject Name" [formControl]="userForm.controls['subject']">
        </mat-form-field>
        <mat-form-field class="certificate-valid-from">
          <input matInput placeholder="Valid From" [formControl]="userForm.controls['validFrom']">
        </mat-form-field>
        <mat-form-field class="certificate-valid-until">
          <input matInput placeholder="Valid To" [formControl]="userForm.controls['validUntil']">
        </mat-form-field>
        <mat-form-field class="certificate-issuer">
          <input matInput placeholder="Issuer" [formControl]="userForm.controls['issuer']">
        </mat-form-field>
        <mat-form-field class="certificate-fingerprint">
          <input matInput placeholder="Fingerprints" [formControl]="userForm.controls['fingerprints']">
        </mat-form-field>

        <label class="custom-file-upload">
          <input #fileInput type="file" id="custom-file-upload" accept=".cer" (change)="uploadCertificate()" [disabled]="!userForm.controls['certificateToggle']?.value">
          <button mat-flat-button color="primary" (click)="fileInput.click()" [disabled]="!userForm.controls['certificateToggle']?.value">Import</button>
        </label>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<table class="buttonsRow">
  <tr>
    <td>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="submitForm()" [disabled]="!userForm.valid">
        <mat-icon>check_circle</mat-icon>
        <span>OK</span>
      </button>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </td>
  </tr>
</table>
<div class="required-fields">* required fields</div>

