#custom-file-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.username, .role, .password, .password-confirmation, .certificate-subject, .certificate-issuer, .certificate-fingerprint {
  width: 100%;
}

.certificate-valid-from, .certificate-valid-until {
  width: 40%;
}
