<smp-search-table
  page_id='participants_id'
  title='Participants'
  [columnPicker]="columnPicker"
  url="ui/servicegroup"
  [additionalToolButtons]="additionalToolButtons"
  [searchPanel]="searchPanel"
  [filter]="filter"
  [searchTableController]="serviceGroupController"
>

  <ng-template #rowMetadataAction let-row="row" let-value="value" ngx-datatable-cell-template>

    <button mat-button color="primary"
            (click)="metadataRowButtonAction(row)" id="metadataRowButtonAction{{row.$$index}}_id" tooltip="Metadata">
      <mat-icon>view_list</mat-icon>
      <span>Metadata</span>
    </button>

  </ng-template>

  <ng-template #rowExtensionAction let-row="row" let-value="value" ngx-datatable-cell-template>

    <button mat-button color="primary"
            (click)="extensionRowButtonAction(row)" id="extensionRowButtonAction{{row.$$index}}_id" tooltip="Extension">
      <mat-icon>code</mat-icon>
      <span>Extension</span>
    </button>

  </ng-template>

  <ng-template #searchPanel>
    <mat-form-field>
      <input matInput placeholder="Participant Id" name="messageId" [(ngModel)]="filter.messageId"
             #messageId="ngModel" id="messageid_id">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Participant schema" name="patricipantSchema" [(ngModel)]="filter.messageId"
             #messageId="ngModel" id="participanschema_id">
    </mat-form-field>
    <mat-select placeholder="Domain " [(ngModel)]="filter.messageStatus" name="messageStatus"
               id="messagestatus_id">
      <mat-option [value]="''">
      </mat-option>
      <mat-option *ngFor="let mstatus of msgStatus" [value]="mstatus">
        {{mstatus}}
      </mat-option>
    </mat-select>
  </ng-template>


  <ng-template #additionalToolButtons>

    <div style="background-color: #03A9F4; display: inline-block; width: 3px; height: 100%; margin-right: 8px">&nbsp;
    </div>


    <button mat-raised-button color="primary"
            id="metadatabutton_id">
      <mat-icon>view_list</mat-icon>
      <span>Metadata</span>
    </button>

    <button mat-raised-button color="primary"
            id="extensionbutton_id">
      <mat-icon>code</mat-icon>
      <span>Extension</span>
    </button>


  </ng-template>

</smp-search-table>
