<div id="edit-subresource-panel" class="mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="createButton" mat-raised-button (click)="onCreateResourceButtonClicked()" color="primary"
              [disabled]="createSubResourceDisabled"
              matTooltip="{{ 'subresource.panel.tooltip.create' | translate }}"
      >
        <mat-icon>add</mat-icon>
        <span>{{ "subresource.panel.button.create" | translate }}</span>
      </button>
      <button id="editButton" mat-raised-button (click)="onEditSelectedButtonClicked()" color="primary"
              [disabled]="!selected"
              matTooltip="{{ 'subresource.panel.tooltip.edit' | translate }}"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ "subresource.panel.button.edit" | translate }}</span>
      </button>
      <button id="deleteButton" mat-raised-button (click)="onDeleteSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'subresource.panel.tooltip.delete' | translate }}"
              [disabled]="!selected">
        <mat-icon>delete</mat-icon>
        <span>{{ "subresource.panel.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3>{{title}}</h3>
  <div class="edit-subresource-container mat-elevation-z2">
    <div class="edit-resource-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <smp-table
      filterLabel="subresource.panel.label.filter"
      filterPlaceholder="subresource.panel.placeholder.filter"
      noResultLabel="subresource.panel.label.no.data.found"
      noResultForFilterLabel="edit.resource.label.no.filter.results"
      [dataSource]="dataSource"
      [selectedRow]="selected"
      [columnDefList]="columns"
      [displayedColumns]="displayedColumns"
      (onFilterChanged)="applySubResourceFilter($event)"
      (onRowClicked)="onResourceSelected($event)"
      (onRowDoubleClicked)="showSubresourceEditPanel($event)"
    >
    </smp-table>
  </div>
</div>
