<div id="domain-member-panel" class="mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="addMemberButton" mat-raised-button
              (click)="onAddMemberButtonClicked()" color="primary"
              [disabled]="inviteMemberDisabled"
              matTooltip="{{ 'membership.panel.tooltip.invite.member' | translate }}"
      >
        <mat-icon>people</mat-icon>
        <span>{{ "membership.panel.button.invite.member" | translate }}</span>
      </button>
      <button id="editButton" mat-raised-button (click)="onEditSelectedButtonClicked()" color="primary"
              [disabled]="!selectedMember"
              matTooltip="{{ 'membership.panel.tooltip.edit.membership' | translate }}"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ "membership.panel.button.edit.membership" | translate }}</span>
      </button>
      <button id="deleteButton" mat-raised-button (click)="onDeleteSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'membership.panel.tooltip.delete.membership' | translate }}"
              [disabled]="!selectedMember">
        <mat-icon>delete</mat-icon>
        <span>{{ "membership.panel.button.delete.membership" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3 style="word-wrap: break-word; max-width: 750px">{{formTitle}}</h3>
  <smp-table
    filterLabel="membership.panel.label.filter"
    filterPlaceholder="membership.panel.placeholder.filter"
    noResultLabel="edit.resource.label.no.data.found"
    noResultForFilterLabel="membership.panel.label.no.data.found"
    [isLoadableTable]="true"
    [dataSource]="dataSource"
    [dataLength]="membershipCount"
    [selectedRow]="selectedMember"
    [columnDefList]="columns"
    [displayedColumns]="displayedColumns"
    [isLoading]="isLoadingResults"
    (onFilterChanged)="applyMemberFilter($event)"
    (onPageChanged)="onPageChanged($event)"
    (onRowClicked)="memberSelected($event)"
    (onRowDoubleClicked)="showEditDialogForMember($event)"
  >
  </smp-table>
</div>
