.edit-resource-selection-panel {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

}

.edit-resource-container mat-table {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  border: 1px solid red;
}

.edit-resource-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  border: 1px solid black;
}

.edit-resource-table-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  border: 1px solid blue;
  overflow: scroll;
  min-width: 0;
}

.mat-table {
  width: 100%;
  overflow: auto;
  height: 100%;
}

#admin-resource-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  min-height: 600px;
  padding: 0 2em;
}
#resource-filter {
  width: 100%;
  padding-top: 1em;
}

#admin-resource-table {
  width: 100%;
  padding-top: 1em;
}
