<div id="admin-resource-panel">
  <data-panel id="admin-resource-data-panel"
              title="{{ 'edit.resource.title' | translate }}"
              text="{{ 'edit.resource.text' | translate }}"
              [labelColumnContent]="searchGroupPanel">

    <mat-tab-group #resourceTabs
                   *ngIf="hasResources;else noUserAdminGroupsDataFound"
                   class="edit-resource-tab-group"
                   >
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="article" label="{{ 'edit.resource.label.resource.details' | translate }}"></smp-label>
        </ng-template>
        <resource-detail-panel
          [domainResourceDefs]="selectedDomainResourceDefs"
          [domain]="selectedDomain"
          [group]="selectedGroup"
          [resource]="selectedResource"
        >
        </resource-detail-panel>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="groups" label="{{ 'edit.resource.label.members' | translate }}"></smp-label>
        </ng-template>
        <domain-member-panel #groupMemberPanelComponent
                             [membershipType]="groupMembershipType"
                             [domain]="selectedDomain"
                             [group]="selectedGroup"
                             [resource]="selectedResource"

        ></domain-member-panel>
      </mat-tab>
      <mat-tab *ngIf="hasSubResources">
        <ng-template mat-tab-label>
          <smp-label icon="description" label="{{ 'edit.resource.label.subresources' | translate }}"></smp-label>
        </ng-template>
        <subresource-panel
          [domainResourceDefs]="selectedDomainResourceDefs"
          [domain]="selectedDomain"
          [group]="selectedGroup"
          [resource]="selectedResource"
        ></subresource-panel>
      </mat-tab>
    </mat-tab-group>
  </data-panel>
  <ng-template #noUserAdminGroupsDataFound>
    <smp-warning-panel *ngIf="!isLoadingResults"
                       class="smp-no-data-panel"
                       icon="warning"
                       type="warning"
                       [label]="(filterResourceResults ? 'edit.resource.label.no.filter.results.admin': 'edit.resource.label.user.not.administrator') | translate"></smp-warning-panel>
  </ng-template>
</div>

<ng-template #searchGroupPanel>
  <div class="edit-resource-selection-panel"
    *ngIf="hasResources || filterResourceResults "
  >
    <mat-form-field style="width:100%">
      <mat-label>{{ "edit.resource.label.selected.domain" | translate }}</mat-label>
      <mat-select placeholder="{{ 'edit.resource.placeholder.selected.domain' | translate }}"
                  matTooltip="{{ 'edit.resource.tooltip.selected.domain' | translate }}"
                  id="domain_id"
                  [(value)]="selectedDomain"
                  required>
        <mat-option *ngFor="let domain of domainList"
                    [value]="domain"
        >
          {{domain.domainCode}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field style="width:100%">
      <mat-label>{{ "edit.resource.label.selected.group" | translate }}</mat-label>
      <mat-select placeholder="{{ 'edit.resource.placeholder.selected.group' | translate }}"
                  matTooltip="{{ 'edit.resource.tooltip.selected.group' | translate }}"
                  id="group_id"
                  [(value)]="selectedGroup"
                  required>
        <mat-option *ngFor="let group of groupList"
                    [value]="group">{{group.groupName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="edit-resource-container mat-elevation-z2">
      <div class="edit-resource-loading-shade"
           *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <smp-table
        filterLabel="edit.resource.label.filter"
        filterPlaceholder="edit.resource.placeholder.filter"
        noResultLabel="edit.resource.label.no.data.found"
        noResultForFilterLabel="edit.resource.label.no.filter.results"
        [isLoadableTable]="true"
        [dataSource]="dataSource"
        [dataLength]="dataLength"
        [selectedRow]="selectedResource"
        [columnDefList]="columns"
        [displayedColumns]="displayedColumns"
        [isLoading]="isLoadingResults"
        [disabledFilter]="disabledResourceFilter"
        (onFilterChanged)="onFilterChangedEvent($event)"
        (onPageChanged)="onPageChanged($event)"
        (onRowClicked)="onResourceSelected($event)"
        >
      </smp-table>
    </div>
  </div>
</ng-template>
