<h2 mat-dialog-title>Upload truststore</h2>
<mat-dialog-content style="height:150px;width:350px">
  <mat-card>
    <mat-card-content>
      <div class="divTableRow">
        <div class="divTableCell">
          <input #fileInput type="file" id="trustsore" accept=".jks" (change)="checkFile()">
        </div>
        <div class="divTableCell">
        </div>
      </div>
      <mat-form-field style="width:100%;margin-top: 1em;">
        <input matInput placeholder="Password" id="password_id" name="password" type="password" [(ngModel)]="password">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<table class="buttonsRow">
  <tr>
    <td>
      <button id="okbuttonupload_id" mat-raised-button color="primary" (click)="submit()" style="margin-top:10px" [disabled]="!enableSubmit">
        <mat-icon>check_circle</mat-icon>
        <span>OK</span>
      </button>
      <button id="cancelbuttonupload_id" mat-raised-button color="primary" (click)="dialogRef.close({})"
              style="margin-top:10px">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </td>
  </tr>
</table>



