<div id="admin-domain-panel">
  <data-panel id="admin-domain-data-panel"
              title="{{ 'edit.domain.title' | translate }}"
              text="{{ 'edit.domain.text' | translate }}"
              [labelColumnContent]="searchDomainPanel">


    <mat-tab-group #domainTabs
                   *ngIf="!!domainList && domainList.length>0;else noUserAdminGroupsDataFound"
                   style="height: 100%">
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="groups" label="{{ 'edit.domain.label.domain.members' | translate }}"></smp-label>
        </ng-template>
        <domain-member-panel #domainMemberPanelComponent
                             [domain]="selected"
                             [membershipType]="membershipType"
        ></domain-member-panel>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="group" label="{{ 'edit.domain.label.group' | translate }}"></smp-label>
        </ng-template>
        <domain-group-panel #domainGroupPanelComponent
                            [domain]="selected"
        ></domain-group-panel>
      </mat-tab>
      <mat-tab *ngIf="selected?.domainId;">
        <ng-template mat-tab-label>
          <smp-label icon="settings" label="{{ 'edit.domain.label.configuration' | translate }}"></smp-label>
        </ng-template>
        <domain-properties-panel #domainPropertiesPanelComponent
                                 [systemAdminService]="false"
                                 [domain]="selected"
        ></domain-properties-panel>
      </mat-tab>
    </mat-tab-group>
  </data-panel>
  <ng-template #noUserAdminGroupsDataFound>
    <smp-warning-panel *ngIf="!loading"
                       class="smp-no-data-panel"
                       icon="warning"
                       type="warning"
                       label="{{ 'edit.domain.label.user.not.administrator' | translate }}"></smp-warning-panel>
  </ng-template>
</div>

<ng-template #searchDomainPanel>
  <smp-table
    filterLabel="edit.domain.label.filter"
    filterPlaceholder="edit.domain.placeholder.domain.code"
    noResultLabel="edit.domain.label.user.not.administrator"
    noResultForFilterLabel="edit.domain.label.no.filter.results"
    [dataSource]="dataSource"
    [selectedRow]="selected"
    [columnDefList]="columns"
    [displayedColumns]="displayedColumns"
    (onFilterChanged)="applyDomainFilter($event)"
    (onRowClicked)="domainSelected($event)"
  >
  </smp-table>
</ng-template>
