<div id="admin-group-panel">
  <data-panel id="admin-group-data-panel"
              title="Edit Group"
              text="Edit group administration panel is a tool for group administrators to manage group members and resources"
              [labelColumnContent]="searchGroupPanel">

    <mat-tab-group #domainTabs style="height: 100%">
      <mat-tab>
        <ng-template mat-tab-label><smp-label icon="groups" label="Members"></smp-label></ng-template>
        <domain-member-panel #groupMemberPanelComponent
                             [group]="selectedGroup"
                             [membershipType]="groupMembershipType"
        ></domain-member-panel>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label><smp-label icon="group" label="Resources"></smp-label></ng-template>

      </mat-tab>
    </mat-tab-group>
  </data-panel>
</div>

<ng-template #searchGroupPanel>
  <mat-form-field style="width:100%">
    <mat-label>Selected domain</mat-label>
    <mat-select placeholder="Select domain"
                matTooltip="Select domain."
                (selectionChange)="onDomainSelected($event)"
                id="domain_id" required>
      <mat-option *ngFor="let domain of domainList"
                  [value]="domain"
     >
        {{domain.domainCode}}
      </mat-option>

    </mat-select>
  </mat-form-field>
    <mat-form-field style="width:100%">
      <mat-label>Selected Group</mat-label>
    <mat-select placeholder="Select group"
                matTooltip="Select group."
                (selectionChange)="onGroupSelected($event)"
                id="group_id" required>
      <mat-option *ngFor="let group of groupList"
                  [value]="group">{{group.groupName}}</mat-option>
    </mat-select>
    </mat-form-field>

</ng-template>
