<div id="admin-group-panel">

  <data-panel

    id="admin-group-data-panel"
    title="{{ 'edit.group.title' | translate }}"
    text="{{ 'edit.group.text' | translate }}"
    [labelColumnContent]="searchGroupPanel">


    <mat-tab-group #domainTabs
                   *ngIf="!!domainList &&  domainList.length>0;else noUserAdminGroupsDataFound"
                   style="height: 100%">
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="groups" label="{{ 'edit.group.label.members' | translate }}"></smp-label>
        </ng-template>
        <domain-member-panel #groupMemberPanelComponent
                             [membershipType]="groupMembershipType"
                             [domain]="selectedDomain"
                             [group]="selectedGroup"

        ></domain-member-panel>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="article" label="{{ 'edit.group.label.resources' | translate }}"></smp-label>
        </ng-template>
        <group-resource-panel #groupResourcePanel
                              [domainResourceDefs]="_selectedDomainResourceDef"
                              [domain]="selectedDomain"
                              [group]="selectedGroup"
        ></group-resource-panel>
      </mat-tab>
    </mat-tab-group>
    <ng-template #noUserAdminGroupsDataFound>
      <smp-warning-panel  *ngIf="!loading"
                         class="smp-no-data-panel"
                         icon="warning"
                         type="warning"
                         label="{{ 'edit.group.label.user.not.administrator' | translate }}"></smp-warning-panel>
    </ng-template>
  </data-panel>

</div>

<ng-template #searchGroupPanel>
  <div *ngIf="!!domainList &&  domainList.length>0">
    <mat-form-field style="width:100%">
      <mat-label>{{ "edit.group.label.select.domain" | translate }}</mat-label>
      <mat-select placeholder="{{ 'edit.group.placeholder.select.domain' | translate }}"
                  matTooltip="{{ 'edit.group.tooltip.select.domain' | translate }}"
                  id="domain_id"
                  [(value)]="selectedDomain"
                  required>
        <mat-option *ngFor="let domain of domainList"
                    [value]="domain"
        >
          {{domain.domainCode}}
        </mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%">
      <mat-label>{{ "edit.group.label.select.group" | translate }}</mat-label>
      <mat-select placeholder="{{ 'edit.group.placeholder.select.group' | translate }}"
                  matTooltip="{{ 'edit.group.tooltip.select.group' | translate }}"
                  id="group_id"
                  [(value)]="selectedGroup"
                  required>
        <mat-option *ngFor="let group of groupList"
                    [value]="group">{{group.groupName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</ng-template>
