<smp-search-table
  #searchTable
  page_id='alert_id'
  [title]="'Alerts'"
  [columnPicker]="columnPicker"
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="alertController"
  [showSearchPanel]="false"
  [filter]="filter"
  [allowNewItems]="false"
  [allowDeleteItems]="securityService.isCurrentUserSystemAdmin()"
>
  <ng-template #additionalToolButtons>
    <span style="width: 2px;background-color: deepskyblue;">&nbsp;</span>
  </ng-template>
</smp-search-table>
