<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:480px;width:850px">
  <mat-card style="min-height:350px;">
    <mat-card-content>
      <mat-label style="color: red;font-weight: bold">
        If truststore is empty users certificates are NOT verified if trusted!
      </mat-label>
      <br/>
      <mat-label style="color: red;font-weight: bold">
        Else (if truststore is NOT empty) ALL certificates are verified if issuer or certificate itself is in the
        truststore.
        <mat-label style="color: red;font-weight: bold"><br/>
        </mat-label>
        Not trusted certificates cannot access REST services.
      </mat-label>
      <br/>
      <div class="scroller-div">
        <ngx-datatable
          id='truststoreTable_id'
          class='material'
          style="min-height: 300px"
          [reorderable]="true"
          [selectionType]='"single"'
          [columns]="tableColumns"
          [rows]='trustedCertificateList'
          [columnMode]='"force"'
          [headerHeight]='50'
          [footerHeight]='0'
          [rowHeight]='40'
          (activate)='onActivate($event)'
        >
          <ng-template #certificateRowActions let-row="row" ngx-datatable-cell-template>
            <div>
              <button mat-icon-button color="primary"
                      matTooltip="Certificate details"
                      (click)="onShowCertificateDataRow(row)">
                <mat-icon>details</mat-icon>
              </button>
              <button mat-icon-button color="primary"
                      matTooltip="Delete certificate"
                      (click)="onDeleteCertificateRowActionClicked(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
          <ng-template #rowIndex let-row="row" ngx-datatable-cell-template>
            <span>{{row.index + 1}}</span>
          </ng-template>
        </ngx-datatable>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="custom-file-upload">
        <input #fileInput type="file" id="custom-file-upload" accept=".cer,.crt,.pem,.der"
               (change)="uploadCertificate($event)">
        <button mat-raised-button mat-flat-button color="primary"
                (click)="fileInput.click()"
        >Add certificate
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>
