#custom-file-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.required-fields {
  text-align: right;
  font-size: 70%
}

.has-error {
  color:red;
  font-size: 70%;
}
