common/cipa-commons-busdox/target/
common/cipa-edelivery-common/target/classes/eu/europa/ec/cipa/common/business/AbstractBusinessImpl.class
common/cipa-edelivery-common/target/classes/eu/europa/ec/cipa/common/exception/BusinessException.class
common/cipa-edelivery-common/target/classes/eu/europa/ec/cipa/common/logging/ILogEvent.class
common/cipa-edelivery-common/target/classes/eu/europa/ec/cipa/common/logging/impl/AbstractLoggerImpl.class
common/cipa-edelivery-common/target/classes/eu/europa/ec/cipa/common/logging/impl/LoggingServiceImpl.class
common/cipa-edelivery-common/target/
common/cipa-peppol-types/target/
sml/cipa-sml-client-library/target/
sml/cipa-sml-server-library/target/
sml/cipa-sml-webapp/target/
smp/.idea/libraries/Maven__com_sun_jersey_jersey_client_1_17_1.xml
smp/.idea/libraries/
smp/cipa-smp-client-library/target/
smp/cipa-smp-full-webapp/target/
smp/cipa-smp-readonly-webapp/target/
smp/cipa-smp-server-library/target/
smp/.idea/
smp-api/target/
smp-api/.idea/copyright/profiles_settings.xml
smp-api/.idea/libraries/Maven__junit_junit_4_12.xml
smp-api/.idea/libraries/
smp-api/.idea/
*.iml
