<div id="domain-group-panel" class="mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="createButton" mat-raised-button (click)="onAddButtonClicked()" color="primary"
              matTooltip="{{ 'domain.group.tooltip.create' | translate }}"
              [disabled]="domainNotSelected"
      >
        <mat-icon>add</mat-icon>
        <span>{{ "domain.group.button.create" | translate }}</span>
      </button>
      <button id="editButton" mat-raised-button (click)="onEditSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'domain.group.tooltip.edit' | translate }}"
              [disabled]="!groupSelected">
        <mat-icon>edit</mat-icon>
        <span>{{ "domain.group.button.edit" | translate }}</span>
      </button>
      <button id="groupMembersButton" mat-raised-button (click)="onEditSelectedGroupMembersButtonClicked()" color="primary"
              matTooltip="{{ 'domain.group.tooltip.group.members' | translate }}"
              [disabled]="!groupSelected">
        <mat-icon>group</mat-icon>
        <span>{{ "domain.group.button.group.members" | translate }}</span>
      </button>
      <button id="deleteButton" mat-raised-button (click)="onDeleteSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'domain.group.tooltip.delete' | translate }}"
              [disabled]="!groupSelected">
        <mat-icon>delete</mat-icon>
        <span>{{ "domain.group.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3 style="word-wrap: break-word; max-width: 750px">{{title}}</h3>

    <smp-table
      filterLabel="domain.group.label.filter"
      filterPlaceholder="domain.group.tooltip.filter"
      noResultLabel="edit.domain.label.user.not.administrator"
      noResultForFilterLabel="edit.domain.label.no.filter.results"
      [dataSource]="dataSource"
      [selectedRow]="selectedGroup"
      [columnDefList]="columns"
      [disabledFilter]="domainNotSelected"
      [displayedColumns]="displayedColumns"
      (onFilterChanged)="applyGroupFilter($event)"
      (onRowClicked)="onGroupSelected($event)"
      (onRowDoubleClicked)="showEditDialogForGroup($event)"
    >
    </smp-table>


</div>

