
<smp-search-table
  #searchTable
  page_id= 'domain_id'
  [title]= "'Domains'"
  [columnPicker] = "columnPicker"
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="domainController"
  [showSearchPanel]="false"
  [filter]="filter"
  [allowNewItems]="securityService.isCurrentUserSystemAdmin()"
  [allowDeleteItems]="securityService.isCurrentUserSystemAdmin()"

>
  <ng-template #additionalToolButtons >

    <button  id="registerButton" mat-raised-button (click)="smlRegisterSelectedDomain()"
            [disabled]="!enableSMLRegister()" color="primary">
      <mat-icon>link</mat-icon>
      <span>Register</span>
    </button>
    <button  id="unregisterButton" mat-raised-button (click)="smlUnregisterSelectedDomain()"
            [disabled]="!enableSMLUnregister()" color="primary">
      <mat-icon>link_off</mat-icon>
      <span>Unregister</span>
    </button>
  </ng-template>
</smp-search-table>
