<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content>
  <form [formGroup]="domainForm">
    <mat-card>
      <mat-card-title>Domain properties</mat-card-title>
      <mat-card-content>
        <fieldset style="border: none;">
          <mat-form-field style="width:100%">
            <input matInput placeholder="Domain Code" name="domainCode"
                   id="domainCode_id"
                   [formControl]="domainForm.controls['domainCode']" maxlength="255" required>
            <mat-hint align="end">For WS API integration: the Domain property</mat-hint>
            <div
              *ngIf="(!editMode && domainForm.controls['domainCode'].touched || editMode) &&  domainForm.controls['domainCode'].hasError('pattern')"
              style="color:red; font-size: 70%">
              Domain code must contain only chars and numbers.
            </div>
            <div
              *ngIf="(!editMode && domainForm.controls['domainCode'].touched || editMode) &&  domainForm.controls['domainCode'].hasError('notInList')"
              style="color:red; font-size: 70%">
              The Domain code already exists!
            </div>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput placeholder="SML domain"
                   name="smlSubdomain" id="smldomain_id"
                   [formControl]="domainForm.controls['smlSubdomain']" maxlength="63" required>
            <mat-hint align="end">Part of DNS Zone (e.g. for eHealth: 'ehealth', for peppol: '', ..</mat-hint>
            <div
              *ngIf="(!editMode && domainForm.controls['smlSubdomain'].touched || editMode) &&  domainForm.controls['smlSubdomain'].hasError('pattern')"
              style="color:red; font-size: 70%">
              SML domain should only contain alphanumeric and hyphen characters, should not start with a digit and should not end with a hyphen.
            </div>
            <div
              *ngIf="(!editMode && domainForm.controls['smlSubdomain'].touched || editMode) &&  domainForm.controls['smlSubdomain'].hasError('notInList')"
              style="color:red; font-size: 70%">
              The SML subdomain is already defined!
            </div>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput placeholder="Response signature Certificate" name="signatureKeyAlias"
                   id="signatureKeyAlias_id"
                   [formControl]="domainForm.controls['signatureKeyAlias']" maxlength="255">
          </mat-form-field>
        </fieldset>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>SML integration data</mat-card-title>
      <mat-card-content>
        <fieldset style="border: none;">
          <mat-form-field style="width:100%">
            <input matInput placeholder="SML SMP identifier" name="smlSmpId" id="smlSMPId_id"
                   [formControl]="domainForm.controls['smlSmpId']" maxlength="63">
            <mat-hint align="end">SMP ID used for SML</mat-hint>
            <div
              *ngIf="(!editMode && domainForm.controls['smlSmpId'].touched || editMode) &&  domainForm.controls['smlSmpId'].hasError('pattern')"
              style="color:red; font-size: 70%">
              SML SMP ID should only contain alphanumeric and hyphen characters, should not start with a digit and should not end with a hyphen.
            </div>
            <div
              *ngIf="(!editMode && domainForm.controls['smlSmpId'].touched || editMode) &&  domainForm.controls['smlSmpId'].hasError('notInList')"
              style="color:red; font-size: 70%">
              SML SMP ID already exists!
            </div>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput placeholder="ClientCert Header" name="Client certificate" id="smlClientHeader_id"
                   [formControl]="domainForm.controls['smlClientCertHeader']" maxlength="2000">
          </mat-form-field>
          <label class="custom-file-upload">
            <input #fileInput type="file" style="display: inline-block;cursor: pointer; display: none;"
                   id="certificate-file-upload" accept=".cer,.crt,.pem,.der"
                   (change)="uploadCertificate($event)">
            <button mat-flat-button color="primary"
                    (click)="fileInput.click()"
            >Generate 'ClientCert Header' from certificate
            </button>
          </label>
          <mat-form-field style="width:100%">
            <input matInput placeholder="ClientCert Alias" name="Client certificate" id="smlClientKeyAlias_id"
                   [formControl]="domainForm.controls['smlClientKeyAlias']" maxlength="255">
          </mat-form-field>
        </fieldset>
        <!-- label class="custom-file-upload">
          <input #fileInput type="file" id="custom-file-upload" accept=".cer" (change)="uploadCertificate()" >
          <span class="custom-file-upload-inner">Import</span>
        </label-->
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>

<table class="buttonsRow">
  <tr>
    <td>
      <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!domainForm.valid">
        <mat-icon>check_circle</mat-icon>
        <span>OK</span>
      </button>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </td>
  </tr>
</table>
<div style="text-align: right; font-size: 70%">* required fields</div>

