<h2 mat-dialog-title>Domain details</h2>
<mat-dialog-content style="height:460px;width:650px">
  <mat-card>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Domain id" value="{{domain.domainId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="SML SMP id" value="{{domain.bdmslSmpId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="ClienCert header" value="{{domain.bdmslClientCertHeader}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="ClienCert alias" value="{{domain.bdmslClientCertAlias}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Signature alias" value="{{domain.signatureCertAlias}}" readonly/>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button" >
  <button id="ServiceGroupsSaveButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>


  <button id="ServiceGroupsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
  </div>
</mat-dialog-actions>

