<?xml version="1.0" encoding="UTF-8"?>  
<module xmlns="urn:jboss:module:1.1" name="org.eclipse.persistence">  
	<resources>  
		<resource-root path="org.eclipse.persistence.core-2.5.2.jar"/>
		<resource-root path="org.eclipse.persistence.jpa-2.5.2.jar"/>
		<resource-root path="org.eclipse.persistence.asm-2.5.2.jar"/>
		<resource-root path="org.eclipse.persistence.antlr-2.5.2.jar"/>
		<resource-root path="javax.persistence-2.1.0.jar"/>
		<resource-root path="org.eclipse.persistence.jpa.jpql-2.5.2.jar"/>
	</resources>
	<dependencies>  
		<module name="asm.asm"/>  
		<module name="javax.api"/>  
		<module name="javax.persistence.api"/>  
		<module name="javax.transaction.api"/>  
		<module name="javax.validation.api"/>  
		<module name="javax.xml.bind.api"/>  
		<module name="org.antlr"/>  
		<module name="org.apache.commons.collections"/>  
		<module name="org.dom4j"/>  
		<module name="org.javassist"/>  
		<module name="org.jboss.logging"/>  
	</dependencies>  
</module> 