<settings>
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>158.169.9.13</host>
			<port>8012</port>
			<username>feriaad</username>
			<password>{t1Dvle4YGQkHvSJT8dEOoP8mRVkbx71nfyi5yDnyLzI=}</password>
		</proxy>
		<proxy>
			<active>true</active>
			<protocol>https</protocol>
			<host>158.169.9.13</host>
			<port>8012</port>
			<username>feriaad</username>
			<password>{t1Dvle4YGQkHvSJT8dEOoP8mRVkbx71nfyi5yDnyLzI=}</password>
		</proxy>
	</proxies>
	<mirrors>
		<mirror>
			<id>internal-repository</id>
			<name>Maven Repository Manager running on repo.mycompany.com</name>
			<url>https://joinup.ec.europa.eu/nexus/content/groups/public</url>
			<mirrorOf>open-saml</mirrorOf>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>webgate-digit</id>
			<username>feriaad</username>
			<password>{788Ld8tT0dUH+IzZMvy6SbUdFcYCnwd5nSO8yf1PFvQ=}</password>
		</server>
		<server>
		  <id>joinup-releases</id>
		  <username>feriaad</username>
		  <password>{788Ld8tT0dUH+IzZMvy6SbUdFcYCnwd5nSO8yf1PFvQ=}</password>
		</server>
		<server>
		  <id>joinup-snapshots</id>
		  <username>feriaad</username>
		  <password>{788Ld8tT0dUH+IzZMvy6SbUdFcYCnwd5nSO8yf1PFvQ=}</password>
		</server>
		<server>
		  <id>joinup-3rdparty</id>
		  <username>feriaad</username>
		  <password>{788Ld8tT0dUH+IzZMvy6SbUdFcYCnwd5nSO8yf1PFvQ=}</password>
		</server>
  </servers>
</settings>