<div id="user-profile-panel"  style="display: flex;flex-direction: column">
  <form [formGroup]="userForm" >
    <data-panel title="{{ 'user.profile.panel.title.account' | translate }}"
                [showTitle]="showDataPanelTitles"
                text="{{ 'user.profile.panel.text.account' | translate }}">

      <div class="panel" *ngIf="isNewUser">
        <p style="font-weight: bold">{{ "user.profile.panel.label.new.user" | translate }}
      </div>
      <mat-form-field class="user-profile-pane-field">
        <mat-label>{{ "user.profile.panel.label.username" | translate }}</mat-label>
        <input id="username_id" matInput formControlName="username" #username
               maxlength="64" required
               auto-focus-directive>
      </mat-form-field>
      <div style="display:flex; flex-direction: row;align-items: center">
        <mat-form-field style="width:100%" class="user-profile-pane-field">
          <mat-label>{{ "user.profile.panel.label.application.role" | translate }}</mat-label>
          <select matNativeControl formControlName="role"
                      matTooltip="{{ 'user.profile.panel.tooltip.application.role' | translate }}"
                      id="role_id" required>
            <option *ngFor="let role of applicationRoles"
                        [value]="role.value">
              {{role.key}}
            </option>
          </select>
          <mat-hint *ngIf="!isUserDataLoggedInUserData">{{ "user.profile.panel.hint.choose.member.role" | translate }}</mat-hint>
        </mat-form-field>

        <mat-checkbox
          id="active_id"
          formControlName="active">{{ "user.profile.panel.label.active" | translate }}</mat-checkbox>
      </div>
    </data-panel>

    <data-panel title="{{ 'user.profile.panel.title.user.profile' | translate }}"
                [showTitle]="showDataPanelTitles"
                text="{{ 'user.profile.panel.text.user.profile' | translate }}">
      <mat-form-field class="user-profile-pane-field">
        <mat-label>{{ "user.profile.panel.label.email" | translate }}</mat-label>
        <input id="emailAddress_id" matInput formControlName="emailAddress"
               maxlength="127">
        <div
          *ngIf="userForm.controls['emailAddress'].hasError('pattern') && !userForm.controls['emailAddress'].untouched"
          class="has-error">{{ "user.profile.panel.error.email" | translate }}
        </div>
      </mat-form-field>
      <mat-form-field class="user-profile-pane-field">
        <mat-label>{{ "user.profile.panel.label.full.name" | translate }}</mat-label>
        <input id="fullName_id" matInput formControlName="fullName"
               maxlength="127">
      </mat-form-field>

      <mat-form-field class="user-profile-pane-field">
        <mat-label>{{ "user.profile.panel.label.theme" | translate }}</mat-label>
        <select matNativeControl id="smpTheme_id"
                (change)="onThemeSelect($event.target.value)"
                formControlName="smpTheme">
          <option *ngFor="let item of themeItems" [value]="item.className">{{item.name}}</option>
        </select>
      </mat-form-field>
      <div class="user-profile-pane-field" style="display:flex;flex-direction: row">
        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "user.profile.panel.label.locale" | translate }}</mat-label>
          <select matNativeControl id="smpLocale_id"
                  (change)="onLocaleSelect($event.target.value)"
                  formControlName="smpLocale"
          >
            <!-- currently supported locales  see the main.ts-->
            <option value="bg">{{ "user.profile.panel.label.language.bg" | translate }}</option>
            <option value="cs">{{ "user.profile.panel.label.language.cs" | translate }}</option>
            <option value="da">{{ "user.profile.panel.label.language.da" | translate }}</option>
            <option value="de">{{ "user.profile.panel.label.language.de" | translate }}</option>
            <option value="el">{{ "user.profile.panel.label.language.el" | translate }}</option>
            <option value="en">{{ "user.profile.panel.label.language.en" | translate }}</option>
            <option value="es">{{ "user.profile.panel.label.language.es" | translate }}</option>
            <option value="et">{{ "user.profile.panel.label.language.et" | translate }}</option>
            <option value="fi">{{ "user.profile.panel.label.language.fi" | translate }}</option>
            <option value="fr">{{ "user.profile.panel.label.language.fr" | translate }}</option>
            <option value="hr">{{ "user.profile.panel.label.language.hr" | translate }}</option>
            <option value="hu">{{ "user.profile.panel.label.language.hu" | translate }}</option>
            <option value="it">{{ "user.profile.panel.label.language.it" | translate }}</option>
            <option value="lt">{{ "user.profile.panel.label.language.lt" | translate }}</option>
            <option value="lv">{{ "user.profile.panel.label.language.lv" | translate }}</option>
            <option value="mt">{{ "user.profile.panel.label.language.mt" | translate }}</option>
            <option value="nl">{{ "user.profile.panel.label.language.nl" | translate }}</option>
            <option value="pl">{{ "user.profile.panel.label.language.pl" | translate }}</option>
            <option value="pt">{{ "user.profile.panel.label.language.pt" | translate }}</option>
            <option value="ro">{{ "user.profile.panel.label.language.ro" | translate }}</option>
            <option value="sk">{{ "user.profile.panel.label.language.sk" | translate }}</option>
            <option value="sl">{{ "user.profile.panel.label.language.sl" | translate }}</option>
            <option value="sv">{{ "user.profile.panel.label.language.sv" | translate }}</option>
          </select>
        </mat-form-field>
        <!-- show example only for logged-in user-->
        <mat-form-field style="flex-grow: 1" *ngIf="isUserDataLoggedInUserData">
          <mat-label>{{ "user.profile.panel.label.example" | translate }}</mat-label>
          <input id="exampleDate_id" matInput placeholder="{{ 'user.profile.panel.placeholder.choose.date' | translate }}"
                 [value]="formattedDateTimeExample"
                 readonly>
        </mat-form-field>
      </div>

      <!-- buttons  -->
      <mat-toolbar class ="mat-elevation-z2">
        <mat-toolbar-row  class="smp-toolbar-row">
          <button id="resetButton" mat-raised-button (click)="onResetButtonClicked()" color="primary"
                  [disabled]="!resetButtonEnabled">
            <mat-icon>refresh</mat-icon>
            <span>{{ "user.profile.panel.button.reset" | translate }}</span>
          </button>
          <button id="saveButton" mat-raised-button (click)="onSaveButtonClicked()" color="primary"
                  [disabled]="!submitButtonEnabled">
            <mat-icon>save</mat-icon>
            <span>{{ "user.profile.panel.button.save" | translate }}</span>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>


    </data-panel>
  </form>
  <form [formGroup]="userCredentialForm">
    <data-panel *ngIf="true" title="{{ 'user.profile.panel.title.credentials' | translate }}"
                [showTitle]="showDataPanelTitles"
                text="{{ 'user.profile.panel.text.credentials' | translate }}">
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow:2 "  floatLabel="always">
          <mat-label>{{ "user.profile.panel.label.last.set" | translate }}</mat-label>
          <input id="passwordUpdatedOn_id" matInput
                 formControlName="passwordUpdatedOn"
                 placeholder="---"
                 readonly>
        </mat-form-field>

        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "user.profile.panel.label.password.expiration.date" | translate }}</mat-label>
          <input id="passwordExpireOn_id"
                 matInput
                 formControlName="passwordExpireOn"
                 placeholder="---"
                 readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row;">
        <mat-form-field style="flex-grow: 2"  floatLabel="always">
          <mat-label>{{ "user.profile.panel.label.login.failed.attempts" | translate }}</mat-label>
          <input id="sequentialLoginFailureCount_id" matInput placeholder="{{ 'user.profile.panel.placeholder.login.failed.attempts' | translate }}"
                 [value]="userCredentialForm.controls['sequentialLoginFailureCount'].value"
                 placeholder="0"
                 maxlength="255" disabled readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow:2 "  floatLabel="always">
          <mat-label>{{ "user.profile.panel.label.login.last.failed.attempt" | translate }}</mat-label>
          <input id="LastFailedAttempt_id" matInput
                 formControlName="lastFailedLoginAttempt"
                 placeholder="---"
                 readonly>
        </mat-form-field>

        <mat-form-field style="flex-grow:2 "  floatLabel="always">
          <mat-label>{{ "user.profile.panel.label.suspended.until.date" | translate }}</mat-label>
          <input id="suspendedUtil_id" matInput
                 formControlName="suspendedUtil"
                 placeholder="---"
                 readonly>
        </mat-form-field>
      </div>
      <mat-toolbar class ="mat-elevation-z2">
        <mat-toolbar-row  class="smp-toolbar-row">
          <button mat-flat-button color="primary" id="changePassword_id" [disabled]="isNewUser"
                  (click)="changeCurrentUserPassword()">
            <span>{{ "user.profile.panel.button.update.password" | translate }}</span>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

    </data-panel>
  </form>
</div>

