<div id="admin-keystore-panel">
  <data-panel id="admin-keystore-data-panel"
              title="{{ 'admin.keystore.title' | translate }}"
              text="{{ 'admin.keystore.text' | translate }}"
              [labelColumnContent]="searchKeyCertificatePanel">
    <ng-template #noDataFound>
      <div class="empty-data-panel">{{ "admin.keystore.label.no.certificate.selected" | translate }}</div>
    </ng-template>
    <smp-warning-panel *ngIf="selected?.invalid;"
                       icon="error"
                       label="{{ 'admin.keystore.label.invalid.certificate' | translate: { reason: selected.invalidReason } }}">
    </smp-warning-panel>
    <certificate-panel [certificate]="selected"
                       style="flex-grow: 1;"
                       *ngIf="selected;else noDataFound"></certificate-panel>
  </data-panel>
</div>

<ng-template #searchKeyCertificatePanel>
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button mat-raised-button mat-flat-button color="primary"
              (click)="openImportKeystoreDialog()">{{ "admin.keystore.button.import.keystore" | translate }}
      </button>
      <button mat-raised-button
              [disabled]="!selected"
              color="primary"
              (click)="onDeleteSelectedCertificateClicked()">
        <mat-icon>delete</mat-icon>
        <span>{{ "admin.keystore.button.delete.key" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <smp-table class="mat-elevation-z2" id="admin-keystore-table"
             filterLabel="admin.keystore.label.filter"
             filterPlaceholder="admin.keystore.placeholder.filter"
             noResultLabel="admin.keystore.label.no.data.found"
             noResultForFilterLabel="admin.keystore.label.no.filter.results"
             [dataSource]="dataSource"
             [selectedRow]="selected"
             [columnDefList]="columns"
             [displayedColumns]="displayedColumns"
             (onFilterChanged)="applyCertificateFilter($event)"
             (onRowClicked)="onCertificateSelected($event)"
  >
  </smp-table>
</ng-template>

