<div id="edit-resource-panel" class="mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="createButton" mat-raised-button (click)="onCreateResourceButtonClicked()" color="primary"
              [disabled]="createResourceDisabled"
              matTooltip="{{ 'group.resource.panel.tooltip.create' | translate }}"
      >
        <mat-icon>add</mat-icon>
        <span>{{ "group.resource.panel.button.create" | translate }}</span>
      </button>
      <button id="editButton" mat-raised-button (click)="onEditSelectedButtonClicked()" color="primary"
              [disabled]="!selected"
              matTooltip="{{ 'group.resource.panel.button.edit' | translate }}"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ "group.resource.panel.button.edit" | translate }}</span>
      </button>
      <button id="groupMembersButton" mat-raised-button (click)="onEditSelectedGroupMembersButtonClicked()" color="primary"
              matTooltip="{{ 'group.resource.panel.tooltip.members' | translate }}"
              [disabled]="!selected">
        <mat-icon>group</mat-icon>
        <span>{{ "group.resource.panel.button.members" | translate }}</span>
      </button>
      <button id="deleteButton" mat-raised-button (click)="onDeleteSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'group.resource.panel.tooltip.delete' | translate }}"
              [disabled]="!selected">
        <mat-icon>delete</mat-icon>
        <span>{{ "group.resource.panel.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3 style="word-wrap: break-word; max-width: 750px">{{title}}</h3>
  <div class="edit-resource-container mat-elevation-z2">
    <div class="edit-resource-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="edit-resource-table-container">

      <mat-form-field id="edit-resource-filter" style="width: 100%">
        <mat-label>{{ "group.resource.panel.label.filter" | translate }}</mat-label>
        <input matInput (keyup)="applyResourceFilter($event)"
               placeholder="{{ 'group.resource.panel.placeholder.filter' | translate }}"
               [disabled]="disabledForm"
               #inputDomainMemberFilter>
      </mat-form-field>

      <table class="mat-elevation-z2" mat-table [dataSource]="data">

        <ng-container matColumnDef="identifierScheme">
          <th mat-header-cell *matHeaderCellDef>{{ "group.resource.panel.label.identifier.scheme" | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row.identifierScheme}}</td>
        </ng-container>

        <ng-container matColumnDef="identifierValue">
          <th mat-header-cell *matHeaderCellDef>{{ "group.resource.panel.label.identifier.value" | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row.identifierValue}}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let odd = odd; let row; columns: displayedColumns;"
            (click)="onResourceSelected(row)"
            (dblclick)="showResourceEditDialog(row)"
            [ngClass]="{'datatable-row-selected': row==selected,'datatable-row-odd': odd}"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td *ngIf="inputDomainMemberFilter.value;else noDataFound" class="mat-cell" colspan="2">
            {{ "group.resource.panel.label.no.filter.results" | translate: { filterValue: inputDomainMemberFilter.value } }}
          </td>
          <ng-template #noDataFound>
            <td class="mat-cell" colspan="2">{{ "group.resource.panel.label.no.data.found" | translate }}</td>
          </ng-template>
        </tr>
      </table>
    </div>

    <mat-paginator class="mat-elevation-z2" [length]="resultsLength"
                   (page)="onPageChanged($event)"
                   [hidePageSize]="true"
                   [pageSize]="5"
                   [disabled]="disabledForm"
                   attr.aria-label="{{ 'group.resource.panel.label.select.pages' | translate }}"></mat-paginator>
  </div>
</div>
