<div id="edit-resource-panel" class="mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="createButton" mat-raised-button (click)="onCreateResourceButtonClicked()" color="primary"
              [disabled]="createResourceDisabled"
              matTooltip="{{ 'group.resource.panel.tooltip.create' | translate }}"
      >
        <mat-icon>add</mat-icon>
        <span>{{ "group.resource.panel.button.create" | translate }}</span>
      </button>
      <button id="editButton" mat-raised-button (click)="onEditSelectedButtonClicked()" color="primary"
              [disabled]="!selected"
              matTooltip="{{ 'group.resource.panel.button.edit' | translate }}"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ "group.resource.panel.button.edit" | translate }}</span>
      </button>
      <button id="groupMembersButton" mat-raised-button (click)="onEditSelectedGroupMembersButtonClicked()" color="primary"
              matTooltip="{{ 'group.resource.panel.tooltip.members' | translate }}"
              [disabled]="!selected">
        <mat-icon>group</mat-icon>
        <span>{{ "group.resource.panel.button.members" | translate }}</span>
      </button>
      <button id="deleteButton" mat-raised-button (click)="onDeleteSelectedButtonClicked()" color="primary"
              matTooltip="{{ 'group.resource.panel.tooltip.delete' | translate }}"
              [disabled]="!selected">
        <mat-icon>delete</mat-icon>
        <span>{{ "group.resource.panel.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3 style="word-wrap: break-word; max-width: 750px">{{title}}</h3>
  <smp-table
    filterLabel="group.resource.panel.label.filter"
    filterPlaceholder="group.resource.panel.placeholder.filter"
    noResultLabel="group.resource.panel.label.no.data.found"
    noResultForFilterLabel="group.resource.panel.label.no.filter.results"
    [isLoadableTable]="true"
    [dataSource]="dataSource"
    [dataLength]="dataLength"
    [selectedRow]="selected"
    [columnDefList]="columns"
    [displayedColumns]="displayedColumns"
    [isLoading]="isLoadingResults"
    (onFilterChanged)="applyResourceFilter($event)"
    (onPageChanged)="onPageChanged($event)"
    (onRowClicked)="onResourceSelected($event)"
    (onRowDoubleClicked)="showResourceEditDialog($event)"
  >
  </smp-table>
</div>
