<h2 mat-dialog-title>ServiceGroup Metadata list</h2>
<mat-dialog-content style="height:460px;width:950px">


  <ngx-datatable
    id="metadataTable"
    class="material striped"
    style="height: 400px;width: 920px;"
    [rows]="rows"
    [columns]="columnPicker.selectedColumns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [externalPaging]="true"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    [count]="count"
    [offset]="offset"
    [limit]="rowLimiter.pageSize"
    [sorts]="[{prop: 'received', dir: 'desc'}]"

    [selected]="selected"
    [selectionType]="'multi'"
   >
  </ngx-datatable>


  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>

    <button mat-icon-button color="primary"
            (click)="editRowButtonAction(row)" id="editButtonRow{{row.$$index}}_id" tooltip="Edit">
      <mat-icon>edit</mat-icon>
    </button>


    <button mat-icon-button color="primary" (click)="deleteRowButtonAction(row)"
            id="deleteButtonRow{{row.$$index}}_id" tooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button">

    <button mat-raised-button color="primary" (click)="newButtonAction()"
            id="add_id">
      <mat-icon>add</mat-icon>
      <span>New</span>
    </button>

    <button mat-raised-button color="primary" [disabled]="!isRowSelected()" (click)="editButtonAction()"
            id="edit_id">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>

    <button mat-raised-button color="primary" [disabled]="!isRowSelected()" (click)="deleteButtonAction()"
            id="resendbutton_id">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <div style="background-color: #03A9F4; display: inline-block; width: 3px; height: 20px; margin-right: 8px">&nbsp;
    </div>
    <button id="ServiceGroupMetadataListCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </div>
</mat-dialog-actions>

