<div id="page" class="login-page" [style]="'justify-content:center; align-items:center; height:100%'">
  <div fxLayout="row" [style]="'justify-content:center; align-items:center; height:100%'">
    <div [formGroup]="resetForm" class="form-control">

      <div style="display:flex;flex-direction: column;">
        <mat-form-field style="width:100%">
          <mat-label>Enter Username</mat-label>
          <input matInput formControlName="resetUsername" id="reset_username_id" required auto-focus-directive>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hideNewPwdFiled ? 'password' : 'text'"
                 formControlName="new-password" id="np_id" required>
          <mat-icon matSuffix
                    (click)="hideNewPwdFiled = !hideNewPwdFiled">{{ hideNewPwdFiled ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <smp-field-error *ngIf="passwordError('new-password', 'error')">New password must not be equal than old
            current
            password!
          </smp-field-error>
          <smp-field-error *ngIf="passwordError('new-password', 'pattern')">{{ passwordValidationMessage }}
          </smp-field-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-label>Confirm New Password</mat-label>
          <input matInput [type]="hideConfPwdFiled ? 'password' : 'text'"
                 formControlName="confirm-new-password" id="cnp_id" required>
          <mat-icon matSuffix
                    (click)="hideConfPwdFiled = !hideConfPwdFiled">{{ hideConfPwdFiled ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <smp-field-error *ngIf="passwordError('confirm-new-password', 'error')">Confirm valued does not match new
            password!
          </smp-field-error>
        </mat-form-field>

        <div class="required-fields">* required fields</div>
      </div>
      <mat-toolbar-row>
        <button id="changeCurrentUserPasswordButton" mat-raised-button color="primary"
                (click)="resetPassword()"
                [disabled]="!resetForm.valid ">
          <mat-icon>check_circle</mat-icon>
          <span>Set/change password</span>
        </button>
        <button id="closeDialogButton" mat-raised-button color="primary"
                (click)="cancel()"
                mat-dialog-close>
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
      </mat-toolbar-row>
    </div>
  </div>
  <footer></footer>
</div>
