<div id="page" class="login-page" [style]="'justify-content:center; align-items:center; height:100%'">
  <div fxLayout="row" [style]="'justify-content:center; align-items:center; height:100%'">
    <div [formGroup]="resetForm" class="form-control">

      <div style="display:flex;flex-direction: column;">
        <mat-form-field style="width:100%">
          <mat-label>{{ "reset.credentials.label.username" | translate }}</mat-label>
          <input matInput formControlName="resetUsername" id="reset_username_id" required auto-focus-directive>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <mat-label>{{ "reset.credentials.label.new.password" | translate }}</mat-label>
          <input matInput [type]="hideNewPwdFiled ? 'password' : 'text'"
                 formControlName="new-password" id="np_id" required>
          <mat-icon matSuffix
                    (click)="hideNewPwdFiled = !hideNewPwdFiled">{{ hideNewPwdFiled ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <smp-field-error *ngIf="passwordError('new-password', 'error')">
            {{ "reset.credentials.error.old.password.reused" | translate }}
          </smp-field-error>
          <smp-field-error *ngIf="passwordError('new-password', 'pattern')">{{ passwordValidationMessage }}
          </smp-field-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-label>{{ "reset.credentials.label.new.password.confirmation" | translate }}</mat-label>
          <input matInput [type]="hideConfPwdFiled ? 'password' : 'text'"
                 formControlName="confirm-new-password" id="cnp_id" required>
          <mat-icon matSuffix
                    (click)="hideConfPwdFiled = !hideConfPwdFiled">{{ hideConfPwdFiled ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <smp-field-error *ngIf="passwordError('confirm-new-password', 'error')">
            {{ "reset.credentials.error.passwords.mismatch" | translate }}
          </smp-field-error>
        </mat-form-field>

        <div class="required-fields">{{ "reset.credentials.legend.required.fields" | translate }}</div>
      </div>
      <mat-toolbar-row>
        <button id="changeCurrentUserPasswordButton" mat-raised-button color="primary"
                (click)="resetPassword()"
                [disabled]="!resetForm.valid ">
          <mat-icon>check_circle</mat-icon>
          <span>{{ "reset.credentials.button.update.password" | translate }}</span>
        </button>
        <button id="closeDialogButton" mat-raised-button color="primary"
                (click)="cancel()"
                mat-dialog-close>
          <mat-icon>cancel</mat-icon>
          <span>{{ "reset.credentials.button.cancel" | translate }}</span>
        </button>
      </mat-toolbar-row>
    </div>
  </div>
  <footer></footer>
</div>
