<div id="sandwichMenuHolder">
  <div id="sandwichMenu">
    <a id="login_id" class="sandwich-menu-item" *ngIf="!currentUser"
       (click)="navigateToLogin()">Login</a>
    <button mat-icon-button [mat-menu-trigger-for]="settingsMenu" id="settingsmenu_id"
            matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu x-position="before" #settingsMenu="matMenu">
      <div *ngIf="currentUser">
        <button id="currentuser_id" mat-menu-item (click)="editCurrentUser()">
          <mat-icon>person</mat-icon>
          <span>{{currentUser}}</span>
        </button>
        <button id="changePassword_id" *ngIf="isUserAuthPasswdEnabled" mat-menu-item
                (click)="changeCurrentUserPassword()">
          <mat-icon>edit</mat-icon>
          <span>{{ "toolbar.component.button.change.password" | translate }}</span>
        </button>
        <button id="showSSODetails_id" *ngIf="isUserAuthSSOEnabled" mat-menu-item
                (click)="openCurrentCasUserData()">
          <span>{{ "toolbar.component.button.open.cas.profile" | translate }}</span>
        </button>
        <button id="versionInfo_id" mat-menu-item (click)="showVersionInfo()">
          <mat-icon>info</mat-icon>
          <span>{{ "toolbar.component.button.version.info" | translate }}</span>
        </button>
        <hr/>
        <button id="logout_id" mat-menu-item (click)="logout($event)">
          <mat-icon>power_settings_new</mat-icon>
          <span>{{ 'toolbar.component.button.logout' | translate }}</span>
        </button>

      </div>
      <div *ngIf="!currentUser" style="text-align: center; vertical-align: middle;margin: 2px;">
        <button id="notLoggedInButton" mat-menu-item disabled="true">
          <mat-icon>person_outline</mat-icon>
          <span>{{ "toolbar.component.button.not.logged.in" | translate }}</span>
        </button>
      </div>
    </mat-menu>
  </div>
</div>
