<smp-search-table
  #searchTable
  page_id='property_id'
  [title]="'Properties'"
  [columnPicker]="columnPicker"
  [url]="baseUrl"
  [searchTableController]="propertyController"
  [searchPanel]="searchPanel"
  [showSearchPanel]="true"
  [filter]="filter"
  [showActionButtons]="true"
  [allowNewItems]="false"
  [allowEditItems]="true"
  [allowDeleteItems]="false"
  [tableTitle]="tableTitle"
>
  <ng-template #searchPanel>
    <mat-form-field>
      <input matInput placeholder="Property" name="Property"
             [(ngModel)]="filter.property"
             [matTooltip]='"Filter by property name"' (input)="searchPropertyChanged()" id="searchProperty">
    </mat-form-field>
  </ng-template>

  <ng-template #propertyColumnTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <span [class]='aliasCssClass(value, row)' [matTooltip]='row.desc'>{{value}}</span>
  </ng-template>

  <ng-template #tableTitle>
    <span *ngIf="isServerRestartNeeded()" [class]="'alert-message'">Server restart is needed!</span>
  </ng-template>
  <ng-template #propertyValueTemplate
               let-row="row"
               let-value="value"
               ngx-datatable-cell-template>
    <span [class]='aliasCssClass(value, row)'
      [matTooltip]='row.desc'>{{ value }}</span>
    <span *ngIf="row.updateDate" style="display: block;font-size: 0.8em;color: darkorange">New Value: '{{ row.newValue +"." }}'
        <span *ngIf="!row.restartNeeded">
      Scheduled update time:  {{ row.updateDate | date:'yyyy-MM-dd HH:mm:ss' }}</span>
    </span>



  </ng-template>
</smp-search-table>
