/* --- Select ---*/
.mat-select{
  padding:20px 0;
}

/* --- Button  ---*/
.group-btn {
  margin-top:20px;
}

#hiddenButtonId {
  position: fixed;
}


.datatable-body{
  overflow-y: scroll;
}

::ng-deep .inner-table {
  margin-left: 100px;
  width: 80%;
}

::ng-deep .inner-table .datatable-body-cell {
  padding:  1.5em 2px !important;

}

::ng-deep .inner-table .mat-icon-button {
  height: auto !important;;
  line-height: unset !important;
}

