<smp-search-table
  page_id='search_id'
  title='Search'
  [columnPicker]="columnPicker"
  url="rest/search"
  [additionalToolButtons]="additionalToolButtons"
  [searchPanel]="searchPanel"
  [filter]="filter"
  [searchTableController]="serviceGroupSearchController"
  [tableRowDetailContainer]="tableRowDetailContainer"
  [showActionButtons]="false"
>


  <ng-template #rowExtensionAction let-row="row" let-value="value" ngx-datatable-cell-template>

    <button mat-button color="primary"
            (click)="extensionRowButtonAction(row)" id="extensionRowButtonAction{{row.$$index}}_id" tooltip="Extension">
      <mat-icon>code</mat-icon>
      <span>Extension</span>
    </button>

  </ng-template>

  <ng-template #rowSMPUrlLinkAction let-row="row" let-value="value" ngx-datatable-cell-template>
    <a target="_blank"
       href="{{contextPath}}{{row.participantScheme}}::{{row.participantIdentifier}}" >{{row.participantScheme}}::{{row.participantIdentifier}}</a>

  </ng-template>


  <ng-template #searchPanel>
    <mat-form-field>
      <input matInput placeholder="Participant Identifier" name="ParticipantIdentifier"
             [(ngModel)]="filter.participantIdentifier"
             #messageId="ngModel" id="participantIdentifier">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Participant scheme" name="patricipantScheme" [(ngModel)]="filter.participantScheme"
             #messageId="ngModel" id="participantScheme">
    </mat-form-field>
    <mat-select placeholder="Domain " [(ngModel)]="filter.domain" name="domain"
                id="domain_id">
      <mat-option [value]="''">
      </mat-option>
      <mat-option *ngFor="let domain of domainlist" [value]="domain.smlSubdomain">
        {{domain.smlSubdomain}}
      </mat-option>
    </mat-select>
  </ng-template>




  <ng-template #additionalToolButtons>
    <button mat-raised-button color="primary"
            id="extensionbutton_id">
      <mat-icon>code</mat-icon>
      <span>Extension</span>
    </button>
  </ng-template>

  <ng-template #tableRowDetailContainer let-row="row">

    <div *ngIf="row.serviceMetadata.length===0" style="padding-left:20px;">
      No service metadata;
    </div>
    <div *ngIf="row.serviceMetadata.length !== 0" >

      <table style="width: 100%">
        <tr>
          <th>Domain</th>
          <th>Document identifier scheme</th>
          <th>Document identifier</th>
          <th>OASIS SMP URL</th>
        </tr>
        <tr *ngFor="let smd of row.serviceMetadata">
          <td style="width: 100em">{{smd.domainCode}}</td>
          <td style="width: 250em">{{smd.documentIdentifierScheme}}</td>
          <td >{{smd.documentIdentifier}}</td>
          <td style="width: 50em">
            <a target="_blank"
               href="{{contextPath}}{{row.participantScheme}}::{{row.participantIdentifier}}/services/{{smd.documentIdentifierScheme}}::{{smd.documentIdentifier}}">Oasis URL</a>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

</smp-search-table>
