<smp-search-table
  page_id='search_id'
  title='Search'
  [columnPicker]="columnPicker"
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [searchPanel]="searchPanel"
  [filter]="filter"
  [searchTableController]="serviceGroupSearchController"
  [tableRowDetailContainer]="tableRowDetailContainer"
  [showActionButtons]="false"
  [showIndexColumn]="true"
>
  <ng-template #rowExtensionAction let-row="row" let-value="value" ngx-datatable-cell-template>

    <button mat-button color="primary"
            (click)="extensionRowButtonAction(row)" id="extensionRowButtonAction{{row.$$index}}_id" tooltip="Extension">
      <mat-icon>code</mat-icon>
      <span>Extension</span>
    </button>

  </ng-template>

  <ng-template #rowSMPUrlLinkAction let-row="row" let-value="value" ngx-datatable-cell-template>
    <a target="_blank"
       href="{{contextPath}}{{row.participantScheme}}::{{row.participantIdentifier}}">Open URL</a>
  </ng-template>


  <ng-template #searchPanel>
    <mat-form-field>
      <input matInput placeholder="Participant Identifier" name="ParticipantIdentifier"
             [(ngModel)]="filter.participantIdentifier"
             #messageId="ngModel" id="participantIdentifier">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Participant scheme" name="patricipantScheme" [(ngModel)]="filter.participantScheme"
             #messageId="ngModel" id="participantScheme">
    </mat-form-field>
    <mat-select placeholder="All Domains" [(ngModel)]="filter.domain" name="domain"
                id="domain_id">
      <mat-option [value]="''">All Domains</mat-option>
      <mat-option *ngFor="let domain of lookups.cachedDomainList" [value]="domain.domainCode">
        {{domain.domainCode}} ({{domain.smlSubdomain}})
      </mat-option>
    </mat-select>
  </ng-template>


  <ng-template #additionalToolButtons>
  </ng-template>

  <ng-template #tableRowDetailContainer let-row="row">

    <div *ngIf="row.serviceMetadata.length===0" style="padding-left:20px;">
      No service metadata
    </div>
    <div *ngIf="row.serviceMetadata.length !== 0">
      <ngx-datatable
        class='material striped'
        style="width: 80%"
        [loadingIndicator]="loading"
        [rows]='row.serviceMetadata'
        [columnMode]='"force"'
        [headerHeight]='50'
        [footerHeight]='50'
        [rowHeight]='"auto"'>
        <ngx-datatable-column prop="domainCode" name="Domain" maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column prop="documentIdentifierScheme" name="Document identifier scheme"
                              maxWidth="350"></ngx-datatable-column>
        <ngx-datatable-column prop="documentIdentifier" name="Document identifier"
                              maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column [cellTemplate]="rowMetadataSMPUrlLinkAction" name="URL"
                              maxWidth="250"></ngx-datatable-column>

        <ng-template #rowMetadataSMPUrlLinkAction let-rowSmd="row" ngx-datatable-cell-template>
          <a target="_blank"
             href="{{contextPath}}{{row.participantScheme}}::{{row.participantIdentifier}}/services/{{rowSmd.documentIdentifierScheme}}::{{rowSmd.documentIdentifier}}">Open
            URL</a>
        </ng-template>
      </ngx-datatable>

    </div>
  </ng-template>

</smp-search-table>
