<div id="certificate-panel" class="mat-elevation-z2">
  <h3>{{ "certificate.panel.title" | translate }}</h3>
  <div style="display: flex;flex-direction: row;flex:1 1">
    <mat-form-field *ngIf="!!this.certificate?.publicKeyType"  style="flex:1 1">
      <mat-label>{{ "certificate.panel.label.public.key.type" | translate }}</mat-label>
      <input matInput placeholder="{{ 'certificate.panel.placeholder.public.key.type' | translate }}"
             id="publicKeyType_id"
             [value]="certificate?.publicKeyType"
             readonly>
    </mat-form-field>
    <mat-form-field *ngIf="!!this.certificate?.alias"  style="flex:1 1">
      <mat-label>{{ "certificate.panel.label.alias" | translate }}</mat-label>
      <input matInput placeholder="{{ 'certificate.panel.placeholder.alias' | translate }}"
             id="alias_id"
             [value]="certificate?.alias"
             readonly>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ "certificate.panel.label.smp.certificate.id" | translate }}</mat-label>
    <input matInput placeholder="{{ 'certificate.panel.placeholder.smp.certificate.id' | translate }}"
           id="certificateId_id"
           [value]="certificate?.certificateId"
           resizeable="true" readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "certificate.panel.label.subject.name" | translate }}</mat-label>
    <input matInput placeholder="{{ 'certificate.panel.placeholder.subject.name' | translate }}"
           id="subject_id"
           [value]="certificate?.subject"
           readonly>
  </mat-form-field>
  <div style="display: flex;flex-direction: row;flex-grow: 1">
    <mat-form-field style="flex-grow: 1">
      <mat-label>{{ "certificate.panel.label.valid.from" | translate }}</mat-label>
      <input matInput
             placeholder="{{ 'certificate.panel.placeholder.valid.from' | translate }}"
             [value]="certificateValidFromFormattedDate"
             readonly>
    </mat-form-field>
    <mat-form-field style="flex-grow: 1">
      <mat-label>{{ "certificate.panel.label.valid.to" | translate }}</mat-label>
      <input matInput placeholder="{{ 'certificate.panel.placeholder.valid.to' | translate }}"
             [value]="certificateValidToFormattedDate"
             readonly>
     </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ "certificate.panel.label.issuer" | translate }}</mat-label>
    <input matInput placeholder="{{ 'certificate.panel.placeholder.issuer' | translate }}"
           id="issuer_id"
           [value]="certificate?.issuer"
           readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "certificate.panel.label.serial.number" | translate }}</mat-label>
    <input matInput placeholder="{{ 'certificate.panel.placeholder.serial.number' | translate }}" id="servialNumber_id"
           [value]="certificate?.serialNumber"
           readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "certificate.panel.label.crl" | translate }}</mat-label>
    <input matInput placeholder="{{ 'certificate.panel.placeholder.crl' | translate }}" id="clrUrl_id"
           [value]="certificate?.crlUrl"
           readonly>
  </mat-form-field>
</div>
