<div id="domain-properties-panel" class="mat-elevation-z2" style="display: flex; flex-direction: column; height: 100%;">
  <h3>{{ "domain.properties.panel.title" | translate }}</h3>

  <smp-table class="mat-elevation-z2" id="admin-domain-properties-table"
             style="flex-grow: 1"
             filterLabel="property.label.filter"
             filterPlaceholder="property.placeholder.filter"
             noResultLabel="property.label.no.data.found"
             noResultForFilterLabel="property.label.no.result.for.filter"
             [dataSource]="propertyDataSource"
             [selectedRow]="selected"
             [columnDefList]="columns"
             [displayedColumns]="displayedColumns"
             (onFilterChanged)="applyPropertyFilter($event)"
             (onRowClicked)="propertySelected($event)"
             (onRowDoubleClicked)="editSelectedRow()"
  >
  </smp-table>
  <mat-toolbar class="mat-elevation-z2" style="justify-content: flex-end;">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="cancelButton" mat-raised-button (click)="onResetButtonClicked()"
              color="primary"
              [disabled]="!cancelButtonEnabled">
        <mat-icon>refresh</mat-icon>
        <span>{{ "domain.properties.button.reset" | translate }}</span>
      </button>
      <button id="saveButton" mat-raised-button (click)="onSaveButtonClicked()"
              color="primary"
              [disabled]="!saveButtonEnabled">
        <mat-icon>save</mat-icon>
        <span>{{ "domain.properties.button.save" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
<!-- Define cell templates for specific columns -->
<ng-template #systemDefaultColumn let-row="row">
    <span>
      <mat-checkbox checked="{{row.systemDefault}}" disabled="true"></mat-checkbox>
    </span>
</ng-template>

