smp/cipa-smp-server-library/target/
smp/cipa-smp-readonly-webapp/target/
smp/cipa-smp-full-webapp/target/
smp/cipa-smp-client-library/target/test-classes/eu/europa/ec/cipa/smp/client/functest/MainSMPCheckIfWorking.class
smp/cipa-smp-client-library/target/
smp/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_10.xml
smp/.idea/libraries/
smp/.idea/
smp/cipa-smp-server-library/cipa-smp-server-library.iml
smp/cipa-smp-client-library/cipa-smp-client-library.iml
smp/cipa-smp-full-webapp/cipa-smp-full-webapp.iml
smp/cipa-smp-builder.iml
smp/cipa-smp-readonly-webapp/cipa-smp-readonly-webapp.iml
