<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content  style="height: 400px;width: 800px;">
    <table mat-table style="width: 100%" [dataSource]="dataSource">


      <!-- Name Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key</th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value</th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>
