<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content  style="height: 400px;width: 800px;">
    <table mat-table style="width: 100%" [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef>{{ "object.properties.dialog.header.key" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{element[0] | titlecase }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>{{ "object.properties.dialog.header.value" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{element[1]}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
    <mat-icon>close</mat-icon>
    <span>{{ "object.properties.dialog.button.close" | translate }}</span>
  </button>
</mat-dialog-actions>
