<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:600px;width:1000px">
  <mat-card style="height:500px">
    <mat-card-content >
      <ngx-datatable
        id='keystoreTable_id'
        class='material striped'
        style="height: 450px;"
        [reorderable]="true"
        [sorts]="[{prop: 'alias', dir: 'asc'}]"
        [selectionType]='"signle"'
        [rows]='lookups.cachedCertificateList'
        [columnMode]='"force"'
        [headerHeight]='50'
        [footerHeight]='50'
        [rowHeight]='"fixed"'
        (activate)='onActivate($event)'
        [count]='lookups.cachedCertificateList.length'
        [limit]="5"
      >
        <ngx-datatable-column prop="alias" name="Alias" maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column prop="certificateId" name="Certificate id"></ngx-datatable-column>
        <ngx-datatable-column [cellTemplate]="certificateRowActions" name="Actions"
                              maxWidth="180"></ngx-datatable-column>

        <ng-template #certificateRowActions let-row="row" ngx-datatable-cell-template>
          <div>
            <button mat-icon-button color="primary"
                    matTooltip="Certificate details"
                    (click)="onShowCertificateDataRow(row)" >
              <mat-icon>details</mat-icon>
            </button>
            <button mat-icon-button color="primary"
                    matTooltip="Delete certificate"
                    (click)="onDeleteCertificateRowActionClicked(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable>
      <button mat-raised-button color="primary" (click)="openImportKeystoreDialog()">
        <mat-icon>vpn_key</mat-icon>
        <span>Import keystore</span>
      </button>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<table class="buttonsRow">
  <tr>
    <td>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </td>
  </tr>
</table>

