<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:500px;width:1000px">
  <form [formGroup]="dialogForm">

      <ngx-datatable
        class='inner-table material striped'
        [loadingIndicator]="loading"
        [rows]='certificateList'
        [columnMode]='"force"'
        [headerHeight]='50'
        [footerHeight]='50'
        [rowHeight]='"auto"'
        (activate)="onActivate($event)">
        <ngx-datatable-column prop="alias" name="Alias" maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column prop="certificateId" name="Certificate id"
                             ></ngx-datatable-column>
        <ngx-datatable-column [cellTemplate]="certificateRowActions" name="Delete"
                              maxWidth="120"></ngx-datatable-column>

        <ng-template #certificateRowActions let-row="row" ngx-datatable-cell-template>
          <div>
            <button mat-icon-button color="primary" [disabled]="loading"
                    (click)="onDeleteCertificateRowActionClicked(row)" tooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable>

  </form>
  <button mat-raised-button color="primary" (click)="openImportKeystoreDialog()">
    <mat-icon>vpn_key</mat-icon>
    <span>Import keystore</span>
  </button>
</mat-dialog-content>

<table class="buttonsRow">
  <tr>
    <td>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </td>
  </tr>
</table>

