<div id="user-profile-panel">
  <form [formGroup]="userForm">
    <data-panel title="Account"
                [showTitle]="showDataPanelTitles"
                text="Account data">
      <div class="panel" *ngIf="isNewUser"><p style="font-weight: bold">Enter user and click 'Save' to create new user
      </div>
      <mat-form-field class="user-profile-pane-field">
        <mat-label>Username</mat-label>
        <input id="username_id" matInput placeholder="Username" formControlName="username" #username
               maxlength="255" required
               auto-focus-directive>
      </mat-form-field>
      <div style="display:flex; flex-direction: row;align-items: center">
        <mat-form-field style="width:100%" class="user-profile-pane-field">
          <mat-label>Application role</mat-label>
          <mat-select placeholder="Application role for the user"
                      formControlName="role"
                      matTooltip="application role for the user."
                      id="role_id" required>
            <mat-option *ngFor="let role of applicationRoles"
                        [value]="role.value">
              {{role.key}}
            </mat-option>
          </mat-select>
          <mat-hint> Chose member role</mat-hint>
        </mat-form-field>

        <mat-checkbox
          id="active_id"
          formControlName="active">Active</mat-checkbox>
      </div>

    </data-panel>

    <data-panel title="User profile"
                [showTitle]="showDataPanelTitles"
                text="User profile data and settings">
      <mat-form-field class="user-profile-pane-field">
        <mat-label>E-Mail Address</mat-label>
        <input id="emailAddress_id" matInput placeholder="EMail Address" formControlName="emailAddress"
               maxlength="127">
        <div
          *ngIf="userForm.controls['emailAddress'].hasError('pattern') && userForm.controls['emailAddress'].touched"
          class="has-error">Email is invalid!
        </div>
      </mat-form-field>
      <mat-form-field class="user-profile-pane-field">
        <mat-label>Full name (name and last name)</mat-label>
        <input id="fullName_id" matInput placeholder="Full name" formControlName="fullName"
               maxlength="127">
      </mat-form-field>

      <mat-form-field class="user-profile-pane-field">
        <mat-label>Theme</mat-label>
        <select id="smpTheme_id" matNativeControl
                (change)="onThemeSelect($event.target.value)"
                formControlName="smpTheme">
          <option *ngFor="let item of themeItems" [value]="item.className">{{item.name}}</option>
        </select>
      </mat-form-field>
      <div class="user-profile-pane-field" style="display:flex;flex-direction: row">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Locale (Date/time formatting)</mat-label>
          <select id="smpLocale_id" matNativeControl id="moment-locale"
                  (change)="onLocaleSelect($event.target.value)"
                  formControlName="smpLocale"
          >
            <option value="bg">Bulgarian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="et">Estonian</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="hr">Croatian</option>
            <option value="hu">Hungarian</option>
            <option value="it">Italian</option>
            <option value="lt">Lithuanian</option>
            <option value="lv">Latvian</option>
            <option value="mt">Maltese</option>
            <option value="nl">Dutch</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="ro">Romanian</option>
            <option value="sk">Slovak</option>
            <option value="sl">Slovenian</option>
            <option value="sv">Swedish</option>
          </select>
        </mat-form-field>
        <!-- show example only for logged-in user-->
        <mat-form-field style="flex-grow: 1" *ngIf="isUserDataLoggedInUserData">
          <mat-label>Example of Date/time</mat-label>
          <input id="exampleDate_id" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                 [value]="currentDate"
                 readonly>
          <mat-datepicker-toggle matSuffix [for]="picker" style="visibility: hidden"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                   [stepMinute]="1" [stepSecond]="1"
                                   [hideTime]="false"
          >

          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <!-- buttons  -->
      <div id="user-profile-panel-toolbar" class="panel">
        <button id="cancelButton_id" mat-raised-button (click)="onResetButtonClicked()" color="primary"
                [disabled]="!resetButtonEnabled">
          <mat-icon>refresh</mat-icon>
          <span>Reset</span>
        </button>
        <button id="saveButton_id" mat-raised-button (click)="onSaveButtonClicked()" color="primary"
                [disabled]="!submitButtonEnabled">
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
      </div>
    </data-panel>
  </form>
  <form [formGroup]="userCredentialForm">
    <data-panel *ngIf="true" title="Username/password credentials"
                [showTitle]="showDataPanelTitles"
                text="Reset username password for the UI login">
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Last set</mat-label>
          <input id="passwordUpdatedOn_id" matInput placeholder="Last set"
                 value="{{!userCredentialForm.get('passwordUpdatedOn').value?nullValue:userCredentialForm.get('passwordUpdatedOn').value | date:dateTimeFormat}}"
                 maxlength="255" disabled>
        </mat-form-field>

        <mat-form-field style="flex-grow: 1">
          <mat-label>Password expire on</mat-label>
          <input id="passwordExpireOn_id"
                 *ngIf="!!userCredentialForm.get('passwordExpireOn').value; else noPasswordExpirySet " matInput
                 placeholder="Valid until"
                 value="{{userCredentialForm.get('passwordExpireOn').value | date:dateTimeFormat}}"
                 maxlength="255" disabled>
          <ng-template #noPasswordExpirySet>
            <input id="passwordExpireOnMessage_id" matInput placeholder="Valid until" style="color: red"
                   matTooltip="Default password set by system admin! User must change password immediately!"
                   value="Default or null password"
                   maxlength="255" disabled>
          </ng-template>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 2">
          <mat-label>Seq. failed attempts</mat-label>
          <input id="sequentialLoginFailureCount_id" matInput placeholder="Seq. failed attempts"
                 [value]="userCredentialForm.controls['sequentialLoginFailureCount'].value"
                 maxlength="255" disabled readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1">
          <mat-label>Last failed attempt</mat-label>
          <input id="lastFailedLoginAttempt_id" matInput placeholder="Last failed attempt"
                 value="{{!userCredentialForm.get('lastFailedLoginAttempt').value?nullValue:userCredentialForm.get('lastFailedLoginAttempt').value | date:dateTimeFormat}}"
                 maxlength="255" disabled>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Suspended until</mat-label>
          <input id="suspendedUtil_id" matInput placeholder="Suspended until"
                 value="{{!userCredentialForm.get('suspendedUtil').value?nullValue:userCredentialForm.get('suspendedUtil').value | date:dateTimeFormat}}"
                 maxlength="255" disabled>
        </mat-form-field>
      </div>


      <div id="user-password-reset-panel-toolbar" class="panel">
        <button mat-flat-button color="primary" id="changePassword_id"
                (click)="changeCurrentUserPassword()">
          <span>Set/change password</span>
        </button>
      </div>
    </data-panel>
  </form>
</div>

