<smp-search-table
  #searchTable
  page_id="user_id"
  title="Users"
  [columnPicker]="columnPicker"
  [url]="'rest/user'"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="userController"
  [showSearchPanel]="false"
  [filter]="filter"
  [allowNewItems]="securityService.isCurrentUserSystemAdmin()"
>

  <ng-template #roleCellTemplate let-value="value" ngx-datatable-cell-template>{{getRoleLabel(value)}}</ng-template>

  <ng-template #additionalToolButtons></ng-template>

</smp-search-table>
