/* --- Select ---*/
.mat-select{
  padding:20px 0;
}

/* --- Button  ---*/
.group-btn {
   margin-top:20px;
 }

#hiddenButtonId {
  position: fixed;
}
/deep/ .invalidCertificate {
  text-decoration: line-through !important;
  font-weight: bold;
  color:red;
}

/deep/ .deleted  {
  text-decoration: line-through !important;
  font-weight: bold;
}
/deep/ .table-row-new  {

  color: darkgreen !important;
  font-weight: bold;
}
/deep/ .table-row-updated  {
  font-weight: bold;
}
/deep/ .table-row  {
  font-weight: normal;
}
