<smp-search-table
  #searchTable
  page_id="user_id"
  [title]="'Users'"
  [columnPicker]="columnPicker"
  [url]="'rest/user'"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="userController"
  [showSearchPanel]="false"
  [filter]="filter"
  [allowNewItems]="securityService.isCurrentUserSystemAdmin()"
  [allowDeleteItems]="securityService.isCurrentUserSystemAdmin()"
>

  <ng-template #roleCellTemplate let-value="value" ngx-datatable-cell-template>{{getRoleLabel(value)}}</ng-template>

  <ng-template #certificateTemplate let-row="row"  ngx-datatable-cell-template>
    <span [class]='certCssClass(row)'
          matTooltip="{{row.certificate?.invalidReason}}"
    >{{row.certificate?.certificateId}}</span>
  </ng-template>

  <ng-template #additionalToolButtons >
    <span style="width: 2px;background-color: deepskyblue;">&nbsp;</span>


    <button mat-raised-button color="primary" (click)="openEditTruststoreDialog()">
      <mat-icon>vpn_key</mat-icon>
      <span> Edit truststore</span>
    </button>
  </ng-template>

</smp-search-table>
