<smp-search-table
  page_id= 'user_id'
  title= 'Users'
  [columnPicker] = "columnPicker"
  [url]="'ui/user'"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="userController"
  [searchPanel]="searchPanel"
  [filter]="filter">

  <ng-template #additionalToolButtons></ng-template>

  <ng-template #searchPanel>
    <md-input-container>
      <input mdInput placeholder="Username" name="Username" [(ngModel)]="filter.userName" #messageId="ngModel">
    </md-input-container>
  </ng-template>
</smp-search-table>
