<div style="width: 500px;text-align: center">
  <h1 mat-dialog-title>Do you want to cancel all unsaved operations?</h1>

  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">

        <div class="divTableCell">
          <button mat-raised-button color="primary" (click)="dialogRef.close(true)" id="yesbuttondialog_id">
            <mat-icon>check_circle</mat-icon>
            <span>Yes</span>
          </button>
        </div>

        <div class="divTableCell">
          <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
            <mat-icon>cancel</mat-icon>
            <span>No</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
