<div id="page" class="login-page" [style]="'justify-content:center; align-items:center; height:100%'">
  <div fxLayout="row" [style]="'justify-content:center; align-items:center; height:100%'">
    <mat-card *ngIf="isUserAuthSSOEnabled()  == true" fxFlex="400px" [style]="'width:400px;height:240px;margin:10px'">
      <mat-card-title class="title-panel">SSO Login: {{ lookups.cachedApplicationInfo.ssoAuthenticationLabel }}
      </mat-card-title>
      <mat-card-content style="align-items: center;justify-content: center;display: flex;height: 200px;">
        <a mat-raised-button color="primary" href="{{lookups.cachedApplicationInfo.ssoAuthenticationURI}}"
           [style]="'width:150px'">
          <mat-icon>input</mat-icon>
          <span> SSO Login</span>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isUserAuthPasswdEnabled() == true">
      <mat-card-title class="title-panel">SMP Login</mat-card-title>
      <mat-card-content style="width:380px; height: 260px;margin: 15px">
        <mat-tab-group>
          <mat-tab label="Login">
            <ng-container *ngTemplateOutlet="loginFormContainer"></ng-container>
          </mat-tab>
          <mat-tab label="Request password reset">
            <ng-container *ngTemplateOutlet="requestResetContainer"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <footer></footer>
</div>


<ng-template #loginFormContainer>
  <div [formGroup]="loginForm" class="form-control">
    <mat-form-field style="width: 100%">
      <mat-label>Username</mat-label>
      <input matInput id="username_id"
             formControlName="username"
             auto-focus-directive
             required>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Password</mat-label>
      <input matInput id="password_id" type="password"
             formControlName="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" id="loginbutton_id" [disabled]="!loginForm.valid"
            (click)="login()"
            [style]="'width:250px'">
      <mat-icon>input</mat-icon>
      <span> Login</span>
    </button>
  </div>
</ng-template>

<ng-template #requestResetContainer>
  <div [formGroup]="resetForm" class="form-control">
    <mat-form-field style="width: 100%">
      <mat-label>Username</mat-label>
      <input matInput id="reset_username_id"
             formControlName="resetUsername"
             auto-focus-directive
             required>
    </mat-form-field>
    <button mat-raised-button color="primary" id="resetbutton_id" [disabled]="!resetForm.valid"
            [style]="'width:250px'"
            (click)="requestCredentialReset()"
    >
      <mat-icon>input</mat-icon>
      <span> Request reset password</span>
    </button>
    </div>
</ng-template>
