<div id="page" class="login-page">
  <div id="formContainer">
    <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel"
                     required id="username_id">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="model.password"
                     #password="ngModel" required id="password_id">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" id="loginbutton_id">
              <mat-icon>input</mat-icon>
              <span>Login</span>
            </button>
          </td>
        </tr>
      </table>
      <footer></footer>
    </form>
  </div>
</div>
