<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:800px">
  <div>
    <div style="padding-left:2em;display: flex;flex-flow: column;">
      <h3>Selected Resource definition data</h3>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Resource name</mat-label>
          <input matInput placeholder="Resource name"
                 [value]="current?.name"
                 maxlength="255" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1">
          <mat-label>Resource identifier</mat-label>
          <input matInput placeholder="Resource identifier"
                 [value]="current?.identifier"
                 maxlength="255" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Url path segment/http header</mat-label>
          <input matInput placeholder="Url path segment/http header"
                 [value]="current?.urlSegment"
                 maxlength="255" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1">
          <mat-label>Resource MIME Type</mat-label>
          <input matInput placeholder="Resource MIME Type"
                 [value]="current?.mimeType"
                 maxlength="255" readonly>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%">
        <mat-label>Description</mat-label>
        <textarea matInput extension="Description"
                  [value]="current?.description"
                  maxlength="255" readonly></textarea>
      </mat-form-field>

      <h3>SubResource definitions</h3>
      <table mat-table [dataSource]="subresourceDefDataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Version Column -->
        <ng-container matColumnDef="identifier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</th>
          <td mat-cell *matCellDef="let row"> {{row.identifier}}</td>
        </ng-container>
        <ng-container matColumnDef="urlSegment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Url Segment</th>
          <td mat-cell *matCellDef="let row"> {{row.urlSegment}}</td>
        </ng-container>

        <ng-container matColumnDef="mimeType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mime Type</th>
          <td mat-cell *matCellDef="let row"> {{row.identifier}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let odd = odd; let row; columns: displayedColumns;"
            [matTooltip]="row.description"
            [ngClass]="{'datatable-row-odd': odd}"
        ></tr>

      </table>

      <mat-paginator #resourcePaginator
                     [hidePageSize]="true"
                     [showFirstLastButtons]="true"
                     [pageSize]="5" aria-label="Select page"></mat-paginator>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button>
</mat-dialog-actions>

