<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:800px">
  <div>
    <div style="padding-left:2em;display: flex;flex-flow: column;">
      <h3>{{ "resource.details.dialog.resource.description" | translate }}</h3>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "resource.details.dialog.label.resource.name" | translate }}</mat-label>
          <input matInput placeholder="{{ 'resource.details.dialog.placeholder.resource.name' | translate }}"
                 [value]="current?.name"
                 maxlength="255" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "resource.details.dialog.label.resource.id" | translate }}</mat-label>
          <input matInput placeholder="{{ 'resource.details.dialog.placeholder.resource.id' | translate }}"
                 [value]="current?.identifier"
                 maxlength="255" readonly>
        </mat-form-field>
      </div>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "resource.details.dialog.label.url" | translate }}</mat-label>
          <input matInput placeholder="{{ 'resource.details.dialog.placeholder.url' | translate }}"
                 [value]="current?.urlSegment"
                 maxlength="255" readonly>
        </mat-form-field>
        <mat-form-field style="flex-grow: 1">
          <mat-label>{{ "resource.details.dialog.label.resource.mime.type" | translate }}</mat-label>
          <input matInput placeholder="{{ 'resource.details.dialog.placeholder.resource.mime.type' | translate }}"
                 [value]="current?.mimeType"
                 maxlength="255" readonly>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%">
        <mat-label>{{ "resource.details.dialog.label.description" | translate }}</mat-label>
        <textarea matInput attr.extension="{{ 'resource.details.dialog.extension.description' | translate }}"
                  [value]="current?.description"
                  maxlength="255" readonly></textarea>
      </mat-form-field>

      <h3>{{ "resource.details.dialog.subresources.description" | translate }}</h3>
      <table mat-table [dataSource]="subresourceDefDataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "resource.details.dialog.label.name" | translate }}</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Version Column -->
        <ng-container matColumnDef="identifier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "resource.details.dialog.label.id" | translate }}</th>
          <td mat-cell *matCellDef="let row"> {{row.identifier}}</td>
        </ng-container>
        <ng-container matColumnDef="urlSegment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "resource.details.dialog.label.url.segment" | translate }}</th>
          <td mat-cell *matCellDef="let row"> {{row.urlSegment}}</td>
        </ng-container>

        <ng-container matColumnDef="mimeType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "resource.details.dialog.label.mime.type" | translate }}</th>
          <td mat-cell *matCellDef="let row"> {{row.identifier}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let odd = odd; let row; columns: displayedColumns;"
            [matTooltip]="row.description"
            [ngClass]="{'datatable-row-odd': odd}"
        ></tr>

      </table>

      <mat-paginator #resourcePaginator
                     [hidePageSize]="true"
                     [pageSize]="5" attr.aria-label="{{ 'resource.details.dialog.label.select.page' | translate }}"></mat-paginator>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>{{ "resource.details.dialog.button.cancel" | translate }}</span>
  </button>
</mat-dialog-actions>

