<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:400px;width:850px">
  <mat-card>
    <mat-card-content >
      <div class="scroller-div">
      <ngx-datatable
        id='keystoreTable_id'
        class='material'
        style="min-height: 300px"
        [reorderable]="true"
        [selectionType]='"single"'
        [rows]='lookups.cachedCertificateList'
        [columnMode]='"force"'
        [headerHeight]='50'
        [footerHeight]='0'
        [rowHeight]='40'
        (activate)='onActivate($event)'
        [count]='lookups.cachedCertificateList.length'
      >
        <ngx-datatable-column prop="alias" name="Alias" maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column prop="certificateId" minWidth="300" name="Certificate id"></ngx-datatable-column>
        <ngx-datatable-column [cellTemplate]="certificateRowActions" name="Actions"
                              minWidth="100" maxWidth="180" > </ngx-datatable-column>

        <ng-template #certificateRowActions let-row="row" ngx-datatable-cell-template>
          <div>
            <button id="showCertificateDataButton" mat-icon-button color="primary"
                    matTooltip="Certificate details"
                    (click)="onShowCertificateDataRow(row)" >
              <mat-icon>details</mat-icon>
            </button>
            <button id="deleteCertificateButton" mat-icon-button color="primary"
                    matTooltip="Delete certificate"
                    (click)="onDeleteCertificateRowActionClicked(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable>
      </div>
      <button id="importKeystoreButton" mat-raised-button color="primary" (click)="openImportKeystoreDialog()">
        <mat-icon>vpn_key</mat-icon>
        <span>Import keystore</span>
      </button>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="closeDialogButton" mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
</mat-dialog-actions>
