<smp-search-table #searchTable
  page_id='search_id'
  [title]="'Search'"
  [columnPicker]="columnPicker"
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [additionalSearchAreaButtons]="additionalSearchAreaButtons"
  [searchPanel]="searchPanel"
  [filter]="filter"
  [searchTableController]="resourceSearchController"
  [tableRowDetailContainer]="tableRowDetailContainer"
  [showActionButtons]="false"
  [showIndexColumn]="true"
>
  <ng-template #rowSMPUrlLinkAction let-row="row" let-value="value" ngx-datatable-cell-template>
    <a target="_blank"
       href="{{contextPath}}{{createResourceURL(row)}}">Open URL</a>
  </ng-template>

  <ng-template #searchPanel>
    <div style="display: flex;flex-direction: row;width: 100%">
    <mat-form-field class="smp-data-panel-field">
      <mat-label>Resource Identifier</mat-label>
      <input matInput name="ResourceIdentifier"
             [(ngModel)]="filter.participantIdentifier"
             #messageId="ngModel" id="ResourceIdentifier">
    </mat-form-field>
    <mat-form-field  class="smp-data-panel-field">
      <mat-label>Resource scheme</mat-label>
      <input matInput  name="ResourceScheme" [(ngModel)]="filter.participantScheme"
             #messageId="ngModel" id="ResourceScheme">
    </mat-form-field>
    <mat-form-field class="smp-data-panel-field">
      <mat-label>Domain</mat-label>
      <mat-select placeholder="Domain"
                  matTooltip="Domain"
                  id="Domain"
                  [(value)]="filter.domainCode">
        <mat-option *ngFor="let domainCode of domainList"
                    [value]="domainCode">
          {{domainCode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field class="smp-data-panel-field">
        <mat-label>Document Type</mat-label>
        <mat-select placeholder="Document type"
                    matTootip="Document type"
                    id="DocumentType"
                    [(value)]="filter.documentType">
          <mat-option *ngFor="let documentType of documentTypeList"
                      [value]="documentType">
            {{documentType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>

  <ng-template #additionalSearchAreaButtons>
    <button mat-raised-button color="primary" (click)="clearFilters()" id="clearallbutton_id">
      <mat-icon>search</mat-icon>
      <span>Clear All</span>
    </button>
  </ng-template>

  <ng-template #additionalToolButtons>
  </ng-template>

  <ng-template #tableRowDetailContainer let-row="row">
    <div *ngIf="row.serviceMetadata.length===0" style="padding-left:20px;">
      No subresources
    </div>
    <div *ngIf="row.serviceMetadata.length !== 0">
      <ngx-datatable
        class='inner-table material striped'
        [loadingIndicator]="false"
        [rows]='row.serviceMetadata'
        [columnMode]='"force"'
        [headerHeight]='50'
        [footerHeight]='50'
        [rowHeight]='"auto"'>
        <ngx-datatable-column prop="documentIdentifierScheme" name="Subresource identifier scheme"
                              maxWidth="350"></ngx-datatable-column>
        <ngx-datatable-column prop="documentIdentifier" name="Subresource identifier"
                              maxWidth="250"></ngx-datatable-column>
        <ngx-datatable-column [cellTemplate]="rowMetadataSMPUrlLinkAction" name="URL"
                              maxWidth="250"></ngx-datatable-column>

        <ng-template #rowMetadataSMPUrlLinkAction let-rowSmd="row" ngx-datatable-cell-template>
          <a target="_blank"
             href="{{contextPath}}{{createServiceMetadataURL(row, rowSmd)}}">Open
            URL</a>
        </ng-template>
      </ngx-datatable>
    </div>
  </ng-template>
</smp-search-table>
