/*--------------------------------------------------
    [NORMALIZE]
----------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* set table cells to wrap words*/
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}


.mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bolder !important;
  margin: 0 2px !important;
}

.mat-card {
  padding: 10px !important;
}

.text-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  word-wrap: break-word !important;
}

div:before,
table:before,
tr:before,
td:before,
form:before,
tbody:before,
mat-card:before,
mat-card-content:before,
.panel:before,
.selectionCriteria:before,
table.buttonsRow:before,
table.buttonsMoveRow,
mat-input-container:before,
ngx-datatable span:before {
  content: " " !important;
}


.ngx-datatable span {
  word-wrap: break-word;
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2px;
  padding: 5px;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

}

.mat-dialog-title {
  margin: 0px -24px 1em -24px !important;
  padding: 0 24px !important;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
  color: white;
}

.mat-dialog-container {
  padding: 0 24px !important;
}

.mat-dialog-actions {
  padding: 0 23px !important;
  justify-content: flex-end;
  width: 100%;
  border: gray outset 1px;
  background-color: #c4e1f8;
  min-height: 5px !important;
  margin: 18px -24px 0 -24px !important;
}

.required-fields {
  text-align: left;
  font-size: 65%;
  margin: 0 3px;
}

.mat-toolbar-multiple-rows {
  height: unset !important;
  min-height: 32px !important;
  padding: 5px;
}

.mat-toolbar-row {
  padding: unset !important;
  height: unset !important;
  min-height: 32px !important;
}

/*--------------------------------------------------
    [STRUCTURE]
----------------------------------------------------*/

/* --- Collapse button ---*/
.collapse-button {
  position: absolute;
  bottom: 0;
}

/*Hamburger button*/
#sandwichMenu {

  width: 100%;
  position: absolute;
  right: 10px;
  top: 0;
}

#sandwichMenu .mat-icon-button {
  height: 40px;
  width: 40px;
}

#sandwichMenu .mat-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 1;
}

#sandwichMenu .material-icons:hover {
  color: #03A9F4;
}

/* --- Help button ---*/
.helpMenu {
  position: absolute;
  top: 8px;
  right: 37px;
  width: 50px;
}

/*--------------------------------------------------
    [LOGIN PAGE]
----------------------------------------------------*/
.login-page form {
  margin-top: 70px;
}

.login-page #formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------
    [HEADING]
----------------------------------------------------*/

h1 {
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-size: 36px;
}

/*--------------------------------------------------
    [LINKS]
----------------------------------------------------*/
a {
  text-decoration: none;
}

a,
a:hover,
a:active,
button,
button:hover {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------
    [PANEL]
----------------------------------------------------*/
.panel {
  margin-bottom: 10px;
  padding: 10px;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.empty-data-panel {
  margin-bottom: 10px;
  padding: 10px;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.smp-toolbar-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

mat-card {
  margin: 0;
}

.searchArea {
  margin-top: 0 !important;
}

/* --- INPUT ---*/
.panel mat-select, .panel mat-datepicker {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel mat-select, .panel mat-form-field, .panel mat-datepicker {
  margin-right: 2%;
}

@media (max-width: 991px) {
  .panel mat-form-field, .panel mat-select, .panel mat-datepicker {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .panel mat-form-field, .panel mat-select, .panel mat-datepicker {
    width: 100%;
  }
}

.mat-select-menu-container,
.md2-select-panel {
  z-index: 99999 !important;
}

/* --- GROUP BUTTON FILTER ---*/
.group-filter-button {
  position: relative;
  margin-bottom: 3px;
  padding-top: 3px;
}

.column-filter-button a.hide-show-column {
  position: absolute;
  top: 10px;
  right: 0;
}

.all-none-selection {
  padding-left: 10px;
}

/* --- GROUP BUTTON ACTION ---*/
.group-action-button {
  margin-top: 20px;
}

.group-action-button button {
  margin-right: 10px;
}

/* --- TABS --- */
.md2-tab-ink-bar {
  background-color: #03A9F4 !important;
}

/*--------------------------------------------------
    [TABLE]
----------------------------------------------------*/
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

/*--------------------------------------------------
    [alert-message]
----------------------------------------------------*/
.alert-message {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 1000;
}

.alert-message-error {
  background-color: #f44336;
}

.alert-message-success {
  background-color: #4CAF50;
}

.alert-message-close-button {
  margin-left: 15px;
  padding: 4px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-message-close-button:hover {
  color: black;
}


.cm-s-eclipse span.cm-meta { color: #FF1717; }
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-eclipse span.cm-atom { color: #219; }
.cm-s-eclipse span.cm-number { color: #164; }
.cm-s-eclipse span.cm-def { color: #00f; }
.cm-s-eclipse span.cm-variable { color: black; }
.cm-s-eclipse span.cm-variable-2 { color: #0000C0; }
.cm-s-eclipse span.cm-variable-3, .cm-s-eclipse span.cm-type { color: #0000C0; }
.cm-s-eclipse span.cm-property { color: black; }
.cm-s-eclipse span.cm-operator { color: black; }
.cm-s-eclipse span.cm-comment { color: #3F7F5F; }
.cm-s-eclipse span.cm-string { color: #2A00FF; }
.cm-s-eclipse span.cm-string-2 { color: #f50; }
.cm-s-eclipse span.cm-qualifier { color: #555; }
.cm-s-eclipse span.cm-builtin { color: #30a; }
.cm-s-eclipse span.cm-bracket { color: #cc7; }
.cm-s-eclipse span.cm-tag { color: #170; }
.cm-s-eclipse span.cm-attribute { color: #00c; }
.cm-s-eclipse span.cm-link { color: #219; }
.cm-s-eclipse span.cm-error { color: #f00; }
.cm-s-eclipse .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-eclipse .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
