/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*--------------------------------------------------
    [NORMALIZE]
----------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.mat-dialog-title {
  font-family: 'Open Sans', sans-serif !important;
}

.mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bolder !important;
}
.mat-card{
  padding: 10px !important;
}
.text-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  word-wrap: break-word !important;
}

div:before,
table:before,
tr:before,
td:before,
form:before,
tbody:before,
mat-card:before,
mat-card-content:before,
.panel:before,
.selectionCriteria:before,
table.buttonsRow:before,
table.buttonsMoveRow,
mat-input-container:before,
ngx-datatable span:before {
  content: " " !important;
}

/* selection for datatable */
.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable span {
  word-wrap: break-word;
}

/*--------------------------------------------------
    [STRUCTURE]
----------------------------------------------------*/

/* --- CONTAINER --------- */
/*------------------------ */
.mat-sidenav-container {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, .99);
}

/* --- SIDEBAR --------- */
/*---------------------- */
mat-sidenav[_ngcontent-c0] {
  box-shadow: 0px 0px 2px #9B9B9B !important;
}

/* --- Logo ---*/
#topLogoText {
  margin-left: 5px;
  text-align: left;
}

#topLogo {
  vertical-align: middle;
}

#topLogoText h1 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
}

#topLogoText h1 span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* --- Menu ---*/
.mat-sidenav button {
  box-shadow: none;
  border-radius: 0;
  line-height: 50px !important;
  letter-spacing: 1px;

}

.sideNavButton {
  padding-left: 20px !important;
}

/* --- Collapse button ---*/
.collapse-button {
  position: absolute;
  bottom: 0;
}

/* --- EC Logo ---*/
#bottomLogo {
  display: none;
}

/* --- MAIN CONTENT --------- */
/*--------------------------- */
.mat-sidenav-content {
  min-height: 100vh;
}

/* --- Hamburger Menu ---*/
/*Hamburger wrapper*/
#sandwichMenuHolder {
  position: relative;
  display: block;
}

/*Hamburger button*/
#sandwichMenu {
  position: absolute;
  right: 10px;
  top: 0;
}

#sandwichMenu .mat-icon-button {
  height: 40px;
  width: 40px;
}

#sandwichMenu .mat-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 1;
}

#sandwichMenu .material-icons:hover {
  color: #03A9F4;
}

/* --- Help button ---*/
.helpMenu {
  position: absolute;
  top: 8px;
  right: 37px;
  width: 50px;
}

/*--------------------------------------------------
    [LOGIN PAGE]
----------------------------------------------------*/
.login-page form {
  margin-top: 70px;
}

.login-page #formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------
    [HEADING]
----------------------------------------------------*/

h1 {
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-size: 36px;
}

/*--------------------------------------------------
    [LINKS]
----------------------------------------------------*/
a {
  text-decoration: none;
}

a,
a:hover,
a:active,
button,
button:hover {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------
    [PANEL]
----------------------------------------------------*/
.panel {
  margin-bottom: 20px;
  padding: 20px;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

mat-card {
  margin: 0;
}

.searchArea {
  margin-top: 0 !important;
}

/* --- INPUT ---*/
.panel mat-select, .panel mat-datepicker, .panel mat-select {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel mat-select, .panel mat-form-field, .panel mat-datepicker, .panel mat-select {
  margin-right: 2%;
}

.panel mat-form-field, .panel mat-select, .panel mat-datepicker, .panel mat-select {
  width: 22%;
}

@media (max-width: 991px) {
  .panel mat-form-field, .panel mat-select, .panel mat-datepicker, .panel mat-select {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .panel mat-form-field, .panel mat-select, .panel mat-datepicker, .panel mat-select {
    width: 100%;
  }
}

.mat-select-menu-container,
.mat-select-panel {
  z-index: 99999 !important;
}

/* --- GROUP BUTTON FILTER ---*/
.group-filter-button {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
}

.column-filter-button a.hide-show-column {
  position: absolute;
  top: 30px;
  right: 0;
}

.all-none-selection {
  padding-left: 10px;
}

/* --- GROUP BUTTON ACTION ---*/
.group-action-button {
  margin-top: 20px;
}

.group-action-button button {
  margin-right: 10px;
}

/* --- TABS --- */
.mat-tab-ink-bar {
  background-color: #03A9F4 !important;
}

/*--------------------------------------------------
    [TABLE]
----------------------------------------------------*/
.ngx-datatable.material {
  background: #FFF;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

