<div style="display:flex; flex-direction: column;height: 100%">
  <window-toolbar #windowToolbar/>
  <mat-drawer-container id="smp-window" [hasBackdrop]="false" style="flex: 1 1 auto;">
    <mat-drawer #drawer [mode]="'side'" opened="true">
      <smp-sidenav #sidenav />
      <div class="bottom-link" *ngIf="fullMenu">
        <a target="_blank"
           href="https://edelivery.digital/smp-licence-info">License info</a>
      </div>
      <div class="collapse-button">
        <button *ngIf="fullMenu" mat-raised-button id="expand_id" (click)="toggleMenu()">
          <mat-icon matTooltip="Collapse" [matTooltipPosition]="'right'">chevron_left</mat-icon>Collapse sidebar
        </button>
        <button *ngIf="!fullMenu" mat-raised-button id="collapse_id" (click)="toggleMenu()">
          <mat-icon matTooltip="Expand" [matTooltipPosition]="'right'">chevron_right</mat-icon>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content (scroll)="onDrawerContentScroll($event);">
      <alert #alertMessage></alert>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
