<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true" ngClass="{{menuClass}}">

    <!-- sidenav content -->
    <div id="topLogo">
      <img src="assets/images/Logo.svg" *ngIf="fullMenu"/>
      <img src="assets/images/Logomark.svg" *ngIf="!fullMenu"/>
    </div>

    <button mat-raised-button class="sideNavButton" [routerLink]="['/']" id="sidebar_search_id">
      <mat-icon matTooltip="Search" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">search</mat-icon>
      <span>Search</span>
    </button>
    <button mat-raised-button class="sideNavButton" *ngIf="isCurrentUserSMPAdmin() || isCurrentUserServiceGroupAdmin()" [routerLink]="['/edit']" id="sidebar_edit_id">
      <mat-icon matTooltip="Edit" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/domain']" *ngIf="isCurrentUserSystemAdmin()" id="sidebar_domain_id">
      <mat-icon matTooltip="Domain" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">domain</mat-icon>
      <span>Domain</span>
    </button>

    <!-- button mat-raised-button class="sideNavButton" [routerLink]="['/user']" *ngIf="hasAdmin()" id="user_id" -->
    <button mat-raised-button class="sideNavButton" [routerLink]="['/user']" *ngIf="isCurrentUserSystemAdmin()" id="sidebar_user_id">
      <mat-icon matTooltip="Users" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">people</mat-icon>
      <span>Users</span>
    </button>

    <div class="collapse-button">
      <button *ngIf="fullMenu" mat-raised-button id="expand_id" (click)="toggleMenu()">
        <mat-icon matTooltip="Collapse" [matTooltipPosition]="'right'">chevron_left</mat-icon>
      </button>

      <button *ngIf="!fullMenu" mat-raised-button id="collapse_id" (click)="toggleMenu()">
        <mat-icon matTooltip="Expand" [matTooltipPosition]="'right'">chevron_right</mat-icon>
      </button>
    </div>

  </mat-sidenav>

  <!-- primary content -->
  <div fxLayout="column" id=".my-content" style="position:absolute; bottom:5px; top:5px; right: 5px; left: 5px"
       [style.margin-left]="fullMenu? '225px' : '65px'">
    <alert></alert>

    <div  id="sandwichMenuHolder" style="z-index: 500">
      <div id="sandwichMenu">

        <a *ngIf="!currentUser" [routerLink]="['/login']" (click)="clearWarning()" > Login   </a>
        <span *ngIf="currentUser" >{{currentUserRoleDescription}}: {{currentUser}}  </span >

        <button mat-icon-button [mat-menu-trigger-for]="settingsMenu" id="settingsmenu_id" matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu x-position="before" #settingsMenu="matMenu">
          <div *ngIf="currentUser">

            <button mat-menu-item id="currentuser_id" (click)="editCurrentUser()">
              <mat-icon>person</mat-icon>
              <span>{{currentUser}}</span>
            </button>

            <hr/>

            <button mat-menu-item (click)="logout($event)" id="logout_id">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>

          </div>

          <div *ngIf="!currentUser" style="text-align: center; vertical-align: middle;margin: 2px;">
            <button mat-menu-item disabled="true">
              <mat-icon>person_outline</mat-icon>
              <span>Not logged in</span>
            </button>
          </div>
        </mat-menu>
      </div>
    </div>

    <div fxFill="100" fxFlex="<grow> <shrink> <basis>" id="routerHolder" style="min-height: 100%" >
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
