[mat-raised-button] {
  width: 95%;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
  /*border: solid green;*/

}

mat-sidenav {
  text-align: center;
  box-shadow: 7px 7px 10px #9B9B9B;
  /*border: dashed red;*/
}

mat-sidenav.menu-expanded {
  width: 220px;

}

mat-sidenav.menu-collapsed {
  width: 55px;
}

html, body, material-app, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  /*border: dashed red;*/
}

.menu-expanded .sideNavButton {
  text-align: left;
  padding-left: 20%;
}

.menu-collapsed .sideNavButton {
  text-align: center;
  padding: 0 !important;
  max-width: 50px !important;
  min-width: 0px !important;
}

.menu-collapsed .sideNavSubmenu {
  margin-left: -10px;
}

.menu-collapsed span.mat-expansion-indicator {
  display: none !important;
}

.mat-expansion-panel-header {
  padding-left: 0;
}

.menu-collapsed .mat-expansion-panel-header {
  padding-right: 0px;
  margin-right: -10px;
}

.menu-collapsed.mat-sidenav {
  min-width: 1vw !important;
}

.menu-expanded #topLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.menu-collapsed #topLogo {
  display: flex;
  padding-top: 18px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

#collapse_id, #expand_id {
  text-align: center;
  width: 50px;
  height: 50px;
  min-width: 0
}

.menu-collapsed .sideNavButton span {
  display: none;
}
