@use '../../../../_smp-theme-helper' as smp;

@mixin set-component-colors($theme) {

  .smp-breadcrumb-item-selected {
    background-color: smp.get-theme-color($theme, primary, 600) !important;

  }

  .smp-breadcrumb-item:hover {
    color: smp.get-theme-color($theme, primary, 500-contrast);
  }
  .smp-breadcrumb-item:hover .smp-breadcrumb-arrow {
    background-color: smp.get-theme-color($theme, primary, 300);

  }
  .smp-breadcrumb-item .smp-breadcrumb-arrow {
    background-color: smp.get-theme-color($theme, primary, 0.2);

  }
  .smp-breadcrumb-item .smp-breadcrumb-arrow {
    background-color: smp.get-theme-color($theme, primary, 100) ;
    border-left: 1px solid smp.get-theme-color($theme, primary, 0.5);
    border-right: 1px solid smp.get-theme-color($theme, primary, 0.5);
  }

  .smp-breadcrumb-arrow.bottom {
    border-bottom: 1px solid smp.get-theme-color($theme, primary, 0.5);
  }

  .smp-breadcrumb-arrow.top {
    border-top: 1px solid smp.get-theme-color($theme, primary, 0.5);
  }



}

