<h2 mat-dialog-title>ServiceGroup Extension</h2>
<mat-dialog-content style="height:260px;width:650px">
  <textarea style="width: 100%; height: 95%">&lt;Extension&gt;
    &lt;ExtensionID&gt;another sample not mandatory extension ID&lt;/ExtensionID&gt;
    &lt;ExtensionName&gt;name&lt;/ExtensionName&gt;
    &lt;ExtensionAgencyID&gt;sample string&lt;/ExtensionAgencyID&gt;
    &lt;ExtensionAgencyName&gt;sample string&lt;/ExtensionAgencyName&gt;
    &lt;ext:nextdummynode xmlns:ext="http://test2.eu"&gt;token1&lt;/ext:nextdummynode&gt;
&lt;/Extension&gt;</textarea>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button">
    <button id="ServiceGroupsSaveButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>

    <button id="ServiceGroupsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </div>
</mat-dialog-actions>

