/**
 * Version: MPL 1.1/EUPL 1.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at:
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)
 *
 * Alternatively, the contents of this file may be used under the
 * terms of the EUPL, Version 1.1 or - as soon they will be approved
 * by the European Commission - subsequent versions of the EUPL
 * (the "Licence"); You may not use this work except in compliance
 * with the Licence.
 * You may obtain a copy of the Licence at:
 * http://joinup.ec.europa.eu/software/page/eupl/licence-eupl
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and
 * limitations under the Licence.
 *
 * If you wish to allow use of your version of this file only
 * under the terms of the EUPL License and not to allow others to use
 * your version of this file under the MPL, indicate your decision by
 * deleting the provisions above and replace them with the notice and
 * other provisions required by the EUPL License. If you do not delete
 * the provisions above, a recipient may use your version of this file
 * under either the MPL or the EUPL License.
 */
body {
	font: 76% verdana,Helvetica,sans-serif;
	margin: 0em;
	text-align: center;
/*	background-image: url(BlueGradLine.png);
	background-repeat: repeat-x;*/
	background: white; /*#efeff7;*/
}

div.letur1 {
	font-family: verdana, helvetica,sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}

div.letur1b {
	font-family: verdana, helvetica,sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}

div.letur2 {
	font-family: verdana, helvetica,sans-serif;
	font-size:0.9em;
	font-weight: normal;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}

div.letur7 {
	font-family: arial, verdana, helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}

div.letur8 {
	font-family: arial, verdana, helvetica,sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}

div.letur9 {
	font-family: arial, verdana, helvetica,sans-serif;
	font-size: 1.7em;
	font-weight: normal;
	margin-top: 0.0em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0px;
	color: black;
	line-height: 140%;
}



div.sida {
	border: 0.0em solid #CDA1B6;
	background-color: white;
	width: 68em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

div.dalkfyrirsogn {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0.1em;
	margin-bottom: 0.6em;
	padding-left: 0.15em;
	/*  background: white; */
	font-style: normal;
	font-size: 0.9em;
	/*background-image: url(GrayGridHeader.png);*/
	background-repeat: repeat-x;
}
div.dalkfyrirsogn2 {
	/*margin-left: 0px;
	margin-right: 0px;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-left: 0.0em;    */
	/*  background: white; */
	font-style: normal;
	font-weight: bold;
	font-size: 1.0em;
	/*background-image: url(GrayGridHeader.png);*/
	/*background-repeat: repeat-x; */
}
div.dalkfyrirsogn3 {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0.1em;
	margin-bottom: 0.6em;
	padding-left: 0.0em;
	/*  background: white; */
	font-style: normal;
	font-size: 0.9em;
	/*background-image: url(GrayGridHeader.png);*/
	background-repeat: repeat-x;
}

div.dalkfyrirsognbold {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0em;
	margin-bottom: 0.2em;
	padding-left: 0.15em;
	/*  background: white; */
	font-style: normal;
	font-weight: bold;
	font-size: 0.8em;
	/*background-image: url(GrayGridHeader.png);*/
	background-repeat: repeat-x;
}

div.lysing { 
  float: left; 
  width: 50%; 
  height: 11em; 
  overflow: hidden; 
  margin-left:0.15em;
}/*   border-right: 0.2em solid white;*/


div.left60prc {
	float: left;
/*	 background-color: #224455;*/
	width: 50%;
	height: 8.5em;
	overflow: hidden;
}


div.leftgreidandi {
	float: left;
	/* background-color: red;*/
	width: 34em;
	height: 11.6em;
	padding: 0.2em;
	margin-right : 2.0em;
	margin-bottom : 0.6em;
	border: 0.1em solid #CDA1B6;
	background: #FEF5F9;
	overflow: hidden;
}

div.righthaussummur {
	/* background-color: blue;*/
	height: 12.7em;
	padding: 0em;	
	margin-bottom : 0.6em;    
	line-height: 150%;
	border: 0em solid #ffffff;
	overflow: hidden;
}

div.righhaussummurgjalddagi {
    float: left;
	height: 4.8em;
	width: 14.8em;
	padding: 0em;	
	padding-left: 0.2em;
	margin-right: 1em;
	line-height: 150%;
	border: 0.1em solid #CDA1B6;
	overflow: hidden;
	background: #FEF5F9;
	margin-bottom : 0.6em;
}

div.righhaussummureindagi {
    float: left;
	height: 4.8em;
	width: 14.8em;
	padding: 0em;	
	padding-left: 0.2em;
	padding-right: 0em;
	line-height: 150%;
	border: 0.1em solid #CDA1B6;    
	overflow: hidden;
	background: #FEF5F9;
	margin-bottom : 0.6em;
}

div.rightlysing {
	/* background-color: blue; */
	float: right;
    width: 30.8em;
	padding: 0.2em;
	border: 0.1em solid #CDA1B6;	
	position: relative; top: -70px;
}

div.rightlysingbox1 {
    float: left;
    width: auto;
	padding: 0em;
	margin-right: 0.3em;
	border: 0.1em solid #ffffff;	
	overflow: hidden;
	clear: left;
}

div.rightlysingbox2 {		
	padding: 0em;
	margin: 0em;
	border: 0.1em solid #ffffff;	
	overflow: hidden;
}



div.leftseljandi {
	float: left;
	/* background-color: red;*/
	width: 40em;
	height: 8.5em;
	padding: 0.2em;
	border-left: 0.1em clear;
	border-bottom: 0.1em clear;
	overflow: hidden;
}

div.righthausreikningur {
	/* background-color: blue;*/
	text-align: right;		
	height: 8.5em;
	padding: 0.2em;		
	line-height: 150%;	
	overflow: hidden;
}


div.linur {
/*	 background-color: lime;*/
	margin: 0;
	padding: 0.0em;
	border-bottom: 0.0em solid #CDA1B6;
}

div.ListItem {
	padding: 0em;
	overflow: hidden;
	font-size: 1em;
}

div.lysing {
/*	 background-color: Yellow;*/
	height: 3em;
	width: 34em;
	padding: 0.1em;
	line-height: 110%;
	margin-top: 0.8em;
	overflow: hidden;
}

.col20 { background-color: white;}
.col21 { background-color: #f2f5f6;}

.col21:hover { background-color: #E8E8E8; }
.col20:hover { background-color: #E8E8E8; }

.hdrcol22 {
    background-color: #FEF5F9;
    font-family: arial, verdana, helvetica,sans-serif;
    font-size: 1.0em;
    border-bottom: 1px solid #CDA1B6;
    font-weight: bold;
}

.hdrcol23 {
    background-color: white;
    font-family: arial, verdana, helvetica,sans-serif;
    font-size: 1.0em;

}

.hdrcol234 {
    background-color: white;
    font-family: arial, verdana, helvetica,sans-serif;
    font-size: 1.0em;
    border-bottom: 0.05em solid #CDA1B6;
}

.hdrcolSmall {
    background-color: white;
    font-family: arial, verdana, helvetica,sans-serif;
    font-size: 0.75em;
}

.letur9 {
	font-family: arial, verdana, helvetica,sans-serif;
	font-size: 1.7em;
	font-weight: normal;
	color: black;
}

.ntable {
border-collapse: collapse;
border: 1px solid #CDA1B6;
}

.ntable2 { 
  background-color: #FEF5F9;
  border-collapse: collapse; 
  width: 68em;
  border: 1px solid #CDA1B6; 
}

div.annadsida {
	border: 0.0em solid #CDA1B6;
	background-color: white;
	width: 68em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	page-break-before: always;
}

div.annadsidafalid {
	border: 0.0em solid #CDA1B6;
	background-color: white;
	width: 68em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.annadfela {
margin: 0; 
padding: 0.0em; 
width: 68em;
display:none;
}

div.openlink {
 margin-left: 0.4em;
 margin-top: 0.4em;
 margin-bottom: 0.2em;
 padding-left: 2em;
 background-image: url(Open.png);
 cursor: pointer;
 background-repeat: no-repeat;
 background-position: left;

}

div.closedlink {
 margin-left: 0.4em;
 margin-top: 0.4em;
 margin-bottom: 0.2em;
 padding-left: 2em; 
 background-image: url(Closed.png);
 cursor: pointer; 
 background-repeat: no-repeat;
 background-position: left;
}

div.closedlink:hover {
 font-weight: bold;
}

div.openlink:hover {
 font-weight: bold;
}

div.itarupplBig {	
	padding-top: 0.8em;
	padding-bottom: 0.4em;
	padding-left: 0.4em;
	padding-right: 0.0em;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	font-family: arial, verdana, helvetica,sans-serif;
	color: #8F5873;

}

.content-parent {
	margin-bottom: 0px;
}

.content-parent-main,

.content-content {
	padding: 2px 0 0px;
}


.content-parent-b {
	/*background: url(content_box.png) #d3e2f0 repeat-x 0 -85px; */
}

.content-parent-b-l {
	/*background: url(content_box.png) no-repeat left -75px; */
	font-size: 0;
	height: 5px;
}

.content-parent-b-r {
	/*background: url(content_box.png) no-repeat right -80px; */
}


.content-parent-t {
	/*background: url(content_box.png) #d3e2f0 repeat-x 0 -50px;*/
}


.content-parent-t-r {
	/*background: url(content_box.png) no-repeat right -25px; */
}

div.floatkassi {
	vertical-align: text-top;
	height: auto;
	width: 68em;
    overflow: off;
}

div.minifloat {
	vertical-align: text-top;
	height: auto;
	width: 32em;
    border: 0.1em solid #CDA1B6;
}

div.tengilidirseljanda {
	vertical-align: text-top;
	float: left;
	width: 32em;
	padding: 0.2em;
}

div.tengilidirkaupanda {
	vertical-align: text-top;
	width: 32em;
	padding: 0.2em;
    float: right;
}

.clear { 
        clear: both; 
}
