<h2 md-dialog-title>ServiceGroup Extension</h2>
<md-dialog-content style="height:260px;width:650px">
  <textarea style="width: 100%; height: 95%">&lt;Extension&gt;
    &lt;ExtensionID&gt;another sample not mandatory extension ID&lt;/ExtensionID&gt;
    &lt;ExtensionName&gt;name&lt;/ExtensionName&gt;
    &lt;ExtensionAgencyID&gt;sample string&lt;/ExtensionAgencyID&gt;
    &lt;ExtensionAgencyName&gt;sample string&lt;/ExtensionAgencyName&gt;
    &lt;ext:nextdummynode xmlns:ext="http://test2.eu"&gt;token1&lt;/ext:nextdummynode&gt;
&lt;/Extension&gt;</textarea>

</md-dialog-content>

<md-dialog-actions>
  <div class="group-action-button">
    <button id="ServiceGroupsSaveButton" md-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <md-icon>save</md-icon>
      <span>Save</span>
    </button>

    <button id="ServiceGroupsCloseButton" md-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <md-icon>close</md-icon>
      <span>Close</span>
    </button>
  </div>
</md-dialog-actions>

