<div style="position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px;">
  <page-header id="{{id}}_header_id">{{title}}</page-header>

  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (ngSubmit)="search()">
            <ng-container *ngTemplateOutlet="searchPanel"></ng-container>

            <div class="searchArea">
              <button mat-raised-button color="primary" [disabled]="!filterForm.form.valid" id="searchbutton_id">
                <mat-icon>search</mat-icon>
                <span>Search</span>
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="panel" style="position: absolute; top: 270px; bottom: 5px; left: 5px; right: 5px;">
    <div class="group-filter-button">
      <span class="row-button">
        <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                         (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
      </span>
      <span class="column-filter-button">
        <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                           (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)"></app-column-picker>
      </span>
    </div>
    <!-- temporal solution <div - absolut - wrapping> for stretch table height to fit screen size: scrollbarV does not work - virtual scrolling has
    row bugs.-->
    <div class="panel">
      <ngx-datatable
        id="searchTable"
        class="material striped"
        [rowClass]="getRowClass"
        [rows]="rows"
        [columns]="columnPicker.selectedColumns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [externalPaging]="true"
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [count]="rows.length"
        [offset]="offset"
        [limit]="rowLimiter.pageSize"
        (page)="onPage($event)"
        (sort)="onSort($event)"
        [selected]="selected"
        [selectionType]="'multi'"
        (activate)="onActivate($event)"
        (select)="onSelect($event)">
      </ngx-datatable>

      <div class="group-action-button">
        <button id="cancelButton" mat-raised-button (click)="onCancelButtonClicked()" color="primary" [disabled]="!submitButtonsEnabled">
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
        <button id="saveButton" mat-raised-button (click)="onSaveButtonClicked(false)" color="primary" [disabled]="!submitButtonsEnabled">
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
        <button id="newButton" mat-raised-button (click)="onNewButtonClicked()" [disabled]="loading" color="primary">
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        <button id="editButton" mat-raised-button (click)="onEditButtonClicked()" [disabled]="!editButtonEnabled || loading" color="primary">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button id="deleteButton" mat-raised-button (click)="onDeleteButtonClicked()" [disabled]="!deleteButtonEnabled || loading" color="primary">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

        <ng-container *ngTemplateOutlet="additionalToolButtons"></ng-container>

      </div>

      <ng-template #rowActions let-row="row" ngx-datatable-cell-template>
        <div>
          <button mat-icon-button color="primary" [disabled]="row.deleted || loading"
                  (click)="onEditRowActionClicked(row.$$index)" tooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="row.deleted || loading"
                  (click)="onDeleteRowActionClicked(row)" tooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
