/* --- Select ---*/
.mat-select{
  padding:20px 0;
}

/* --- Button  ---*/
.group-btn {
   margin-top:20px;
 }

#hiddenButtonId {
  position: fixed;
}

.datatable-body {
  overflow-y: scroll;
}

/deep/ .deleted span[title] {
  text-decoration: line-through !important;
  font-weight: bold;
}
/deep/ .newTableRow span[title] {

  color: darkgreen !important;
  font-weight: bold;
}
/deep/ .updatedTableRow span[title] {
  font-weight: bold;
}
/deep/ .tableRow span[title] {
  font-weight: normal;
}

.group-action-button {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
.table-button-expand {
  padding: 0 !important;
  margin: 0 !important;
}
