
/* --- Select ---*/
.mat-select{
  padding:20px 0;
}

/* --- Button  ---*/
.group-btn {
   margin-top:20px;
 }

#hiddenButtonId {
  position: fixed;
}

.datatable-body {
  overflow-y: scroll;
}

::ng-deep .deleted span[title] {
  text-decoration: line-through !important;
  font-weight: bold;
}
::ng-deep .table-row-new span[title] {

  color: darkgreen !important;
  font-weight: bold;
}
::ng-deep .table-row-updated span[title] {
  font-weight: bold;
}
::ng-deep .table-row span[title] {
  font-weight: normal;
}

.group-action-button {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
.row-column-actions button {
  padding: 0;
  margin: 2px;

}
.table-button-expand {
  padding: 0 !important;
  margin: 0 !important;
}

.h1 {
  margin-bottom: 0 !important;
}


