<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework.spring">
	<resources>
		<resource-root path="cglib-nodep-2.2.2.jar"/>
		<resource-root path="aopalliance-1.0.jar"/>
		<resource-root path="spring-aop-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-asm-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-beans-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-context-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-context-support-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-core-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-expression-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-jdbc-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-orm-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-oxm-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-tx-3.1.3.RELEASE.jar"/>
		<resource-root path="spring-web-3.1.3.RELEASE.jar"/>
	</resources>
	<dependencies>
		<module name="org.apache.commons.logging"/>
		<module name="org.slf4j"/>
		<module name="javax.servlet.api"/>
		<module name="javax.faces.api" slot="1.2" />
		<module name="com.sun.jsf-impl" slot="1.2" />
		<module name="org.jboss.vfs"/>
		<module name="javax.persistence.api"/>
		<module name="javax.xml.bind.api"/>
		<module name="javax.api"/>
		<module name="javax.jms.api"/>
		<module name="javax.annotation.api"/>
		<module name="org.apache.commons.logging"/>
	</dependencies>
</module> 