
#extension-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}
#extension-filter {
  width: 100%;
  padding: 1em 0.5em 0.5em 0.5em;
}


#extension-table {
  width: 100%;
  padding: 1em 0.5em 0.5em 0.5em;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
