<div id="document-metadata-panel"
     [formGroup]="documentMetadataForm">

  <mat-form-field style="min-width: 180px"
                  subscriptSizing="dynamic"
                  appearance="fill">
    <mat-label>{{ "document.metadata.panel.label.name" | translate }}</mat-label>
    <input matInput id="name_id"
           formControlName="name"
           readonly>
  </mat-form-field>
  <mat-form-field style="min-width: 180px"
                  subscriptSizing="dynamic"
                  appearance="fill">
    <mat-label>{{ "document.metadata.panel.label.mimetype" | translate }}</mat-label>
    <input matInput id="mimeType_id"
           formControlName="mimeType"
           readonly>
  </mat-form-field>

  <mat-form-field style="min-width: 180px"
                  subscriptSizing="dynamic"
                  appearance="fill">
    <mat-label>{{ "document.metadata.panel.label.published.version" | translate }}</mat-label>
    <input matInput id="publishedVersion_id"
           formControlName="publishedVersion"
           readonly>
  </mat-form-field>
  <mat-checkbox formControlName="sharingEnabled"
                matTooltip="{{ 'document.metadata.panel.label.sharing.enabled' | translate }}"
                id="sharingEnabled_id">
    {{ "document.metadata.panel.label.sharing.enabled" | translate }}
  </mat-checkbox>
</div>

