<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:700px">
  <form [formGroup]="resourceForm">
    <b *ngIf="newMode">{{ "resource.dialog.description" | translate }}</b>
    <mat-form-field style="width:100%">
      <mat-label>{{ "resource.dialog.label.resource.type" | translate }}</mat-label>
      <select matNativeControl placeholder="{{ 'resource.dialog.placeholder.resource.type' | translate }}"
                  matTooltip="{{ 'resource.dialog.tooltip.resource.type' | translate }}"
                  id="resourceTypeIdentifier"
                  formControlName="resourceTypeIdentifier"
                  required>
        <option *ngFor="let resDef of domainResourceDefs"
                    [value]="resDef.identifier">
          {{resDef.name}} ({{resDef.identifier}})
        </option>
      </select>
    </mat-form-field>
    <mat-form-field  style="width: 100%">
      <mat-label>{{ "resource.dialog.label.resource.id" | translate }}</mat-label>
      <input id="identifierValue_id" type="text" matInput #identifierValue
             formControlName="identifierValue"
             auto-focus-directive
             maxlength="255" required>
      <div
        *ngIf="(newMode && resourceForm.controls['identifierValue'].touched ) &&  resourceForm.controls['identifierValue'].hasError('required')"
        style="color:red; font-size: 70%">
        {{ "resource.dialog.label.resource.id.mandatory" | translate }}
      </div>
      <div
        *ngIf="(newMode &&  resourceForm.controls['identifierValue'].hasError('dbExist'))"
        style="color:red; font-size: 70%">
        {{ "resource.dialog.label.resource.id.already.exists" | translate }}
      </div>
    </mat-form-field>

    <mat-form-field  style="width: 100%">
      <mat-label>{{ "resource.dialog.label.resource.scheme" | translate }}</mat-label>
      <input id="identifierScheme_id" type="text" matInput
             formControlName="identifierScheme"
             maxlength="255"
             >
      <div
        *ngIf="(newMode && resourceForm.controls['identifierScheme'].touched ) &&  resourceForm.controls['identifierScheme'].hasError('required')"
        style="color:red; font-size: 70%">
        {{ "resource.dialog.label.resource.scheme.mandatory" | translate }}
      </div>
      <div
        *ngIf="(newMode && resourceForm.controls['identifierScheme'].touched ) &&
               resourceForm.controls['identifierScheme'].hasError('pattern')"
        style="color:red; font-size: 70%">
        {{participantSchemeMessage}}
      </div>
    </mat-form-field>
    <mat-checkbox formControlName="reviewEnabled"
                  matTooltip="{{ 'resource.dialog.label.resource.review.enabled' | translate }}"
                  id="reviewEnabled_id">
      {{ "resource.dialog.tooltip.resource.review.enabled" | translate }}
    </mat-checkbox>

    <mat-form-field style="width:100%">
      <mat-label>{{ "resource.dialog.label.resource.visibility" | translate }}</mat-label>
      <select matNativeControl placeholder="{{ 'resource.dialog.placeholder.resource.visibility' | translate }}"
                  formControlName="visibility"
                  matTooltip="{{ 'resource.dialog.tooltip.resource.visibility' | translate }}"
                  id="visibility_id" required>
        <option *ngFor="let visibility of groupVisibilityOptions"
                    [value]="visibility.value">
          {{visibility.key}}
        </option>
      </select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button id="closeDialogButton" mat-raised-button color="primary" (click)="closeDialog()">
    <mat-icon>cancel</mat-icon>
    <span>{{ "resource.dialog.button.close" | translate }}</span>
  </button>
  <button id="saveButton" mat-raised-button (click)="onSaveButtonClicked()" color="primary"
          [disabled]="!submitButtonEnabled">
    <mat-icon>save</mat-icon>
    <span>{{ "resource.dialog.button.save" | translate }}</span>
  </button>
</mat-dialog-actions>

