<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.RollingFileAppender" name="Axis2FILE">
        <param value="true" name="Append"/>
        <param value="../logs/axis2.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p (%F:%L) %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="Ebms3FILE">
        <param value="true" name="Append"/>
        <param value="../logs/domibus-ebms3.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="HibFILE">
        <param value="true" name="Append"/>
        <param value="../logs/hibernate.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="LoggingFILE">
        <param value="true" name="Append"/>
        <param value="../logs/domibus-logging.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="WsrmFILE">
        <param value="true" name="Append"/>
        <param value="../logs/domibus-reliability.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="SecurityFILE">
        <param value="true" name="Append"/>
        <param value="../logs/domibus-security.log" name="File"/>
        <param value="5120KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>


    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>


    <appender class="eu.domibus.logging.appender.DomibusAppender"
              name="DBLOGGER">
    </appender>

    <appender class="eu.domibus.logging.appender.DomibusAppender"
              name="MESSAGELOGGER">
    </appender>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ <category name="eu.domibus.ebms3.workers.impl">
        <priority value="message" class="eu.domibus.logging.level.Message" /> <appender-ref
        ref="MESSAGELOGGER"/> </category> -->

    <logger additivity="true" name="eu.domibus">
        <level value="message" class="eu.domibus.logging.level.Message"/>
        <appender-ref ref="MESSAGELOGGER"/>

    </logger>

    <logger additivity="false" name="eu.domibus">
        <level value="error"/>
        <appender-ref ref="DBLOGGER"/>

    </logger>

    <logger additivity="false" name="eu.domibus.logging">
        <level value="debug"/>
        <appender-ref ref="LoggingFILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>


    <logger name="com.mchange">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="com.mchange.v2.c3p0">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="com.mchange.v2.c3p0.C3P0Registry">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="com.mchange.v2.c3p0.impl">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="com.mchange.v2.log">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="com.mchange.v2.log.MLog">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.cfg">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.AnnotationBinder">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.AnnotationConfiguration">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.cfg.annotations">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.annotations.EntityBinder">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.annotations.Version">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.Environment">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.cfg.SettingsFactory">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.connection">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="org.hibernate.connection.C3P0ConnectionProvider">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.dialect">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.dialect.Dialect">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.ejb.Version">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.hql.ast">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="org.hibernate.hql.ast.ASTQueryTranslatorFactory">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.impl">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false" name="org.hibernate.impl.SessionFactoryImpl">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="org.hibernate.impl.SessionFactoryObjectFactory">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger name="org.hibernate.transaction">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="org.hibernate.transaction.TransactionFactoryFactory">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>
    <logger additivity="false"
            name="org.hibernate.transaction.TransactionManagerLookupFactory">
        <level value="info"/>
        <appender-ref ref="HibFILE"/>
    </logger>

    <logger name="org.apache.axis2">
        <level value="info"/>
        <appender-ref ref="Axis2FILE"/>
    </logger>

    <logger additivity="false" name="eu.domibus.ebms3.consumers">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.ebms3.handlers">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.ebms3.module">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.ebms3.pmodes">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.ebms3.submit">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>
    <logger additivity="true" name="eu.domibus.ebms3.workers">
        <level value="debug"/>
        <appender-ref ref="Ebms3FILE"/>
    </logger>

    <logger additivity="false" name="eu.domibus.reliability.handlers">
        <level value="debug"/>
        <appender-ref ref="WsrmFILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.reliability.module">
        <level value="debug"/>
        <appender-ref ref="WsrmFILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.security.handlers">
        <level value="debug"/>
        <appender-ref ref="SecurityFILE"/>
    </logger>
    <logger additivity="false" name="eu.domibus.security.module">
        <level value="debug"/>
        <appender-ref ref="SecurityFILE"/>
    </logger>
    <root>
        <level value="debug"/>
        <appender-ref ref="Axis2FILE"/>
    </root>
</log4j:configuration>
