@use '../../../../_smp-theme-helper' as smp;

@mixin set-component-colors($theme) {
  .navigation-selected {
    border-color: smp.get-theme-color($theme, primary, 900) !important;
    background-color: smp.get-theme-color($theme, primary, 600) !important;
    color: smp.get-theme-color($theme, primary, 800-contrast) !important;
  }

  .nav-tree-leaf {
    background-color: smp.get-theme-color($theme, primary, lighter);
    color: smp.get-theme-color($theme, primary, 500-contrast);
  }
}
