<smp-search-table
  #searchTable
  [url]="baseUrl"
  [additionalToolButtons]="additionalToolButtons"
  [searchTableController]="reviewTaskController"
  [showSearchParametersPanel]="false"
  [columns]="columns"
  [displayedColumnIds]="displayedColumnIds"
  [filter]="filter"
  [allowNewItems]="false"
  [allowDeleteItems]="false"
  [allowEditItems]="true"
  [showActionButtons]="false"
  (onRowDoubleClickedEventEmitter)="onRowDoubleClicked($event)"
>
  <ng-template #additionalToolButtons>
    <span style="width: 2px">&nbsp;</span>
  </ng-template>
  <ng-template #dateTimeColumn let-value="value">
    <div class='truncate-text' title="{{value | date:dateTimeFormat}}">{{ value | date:dateTimeFormat }}</div>
  </ng-template>
</smp-search-table>
