<div style="width: 500px;text-align: center">
  <h1 mat-dialog-title>{{title}}</h1>
  <div class="panel">{{description}}</div>
  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">


        <div class="divTableCell">
          <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
