<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:700px">
  <div *ngIf="message"
       [ngClass]="{ 'alert-message': message, 'alert-message-success': messageType === 'success', 'alert-message-error':messageType === 'error' }"
       id="alertmessage_id">
    <span class="alert-message-close-button" (click)="clearAlert()">&times;</span>
    {{message}}
  </div>

    <div *ngIf="!isReadOnly" class="panel" [formGroup]="credentialForm" (ngSubmit)="submitForm()">

      <mat-form-field style="width: 100%">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description"
               formControlName="description"
               maxlength="255">
      </mat-form-field>
      <div style="display: flex;flex-flow: row wrap;">
        <mat-checkbox formControlName="active">
          Active
        </mat-checkbox>
        <mat-form-field style="flex-grow: 1">
          <mat-label>Enter a credential valid date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="activeFrom" placeholder="Start date">
            <input matEndDate formControlName="expireOn" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="credentialForm.controls.activeFrom.hasError('matStartDateInvalid')">Invalid active from
            date
          </mat-error>
          <mat-error *ngIf="credentialForm.controls.expireOn.hasError('matEndDateInvalid')">Invalid expire on date
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="!isReadOnly && isCertificateType" class="panel"
         style="display: flex;flex-flow: column;"
         [formGroup]="certificateForm" (ngSubmit)="submitForm()">
      <label class="custom-file-upload" style="flex-grow: 1">
        <input #fileInput type="file" id="custom-file-upload" accept=".cer,.crt,.pem,.der"
               (change)="uploadCertificate($event)">
        <button mat-flat-button color="primary" (click)="fileInput.click()">Import</button>
      </label>

      <mat-form-field class="certificate-subject" style="width:100%">
        <mat-label>Subject Name</mat-label>
        <input matInput placeholder="Subject Name" formControlName="subject" id="subject_id"
               readonly="true">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Certificate validity period</mat-label>
        <mat-date-range-input>
          <input matStartDate formControlName="validFrom" placeholder="Valid from" readonly="true">
          <input matEndDate formControlName="validTo" placeholder="Expire On" readonly="true">
        </mat-date-range-input>

        <mat-error *ngIf="credentialForm.controls.activeFrom.hasError('matStartDateInvalid')">Invalid active from date
        </mat-error>
        <mat-error *ngIf="credentialForm.controls.expireOn.hasError('matEndDateInvalid')">Invalid expire on date
        </mat-error>
      </mat-form-field>
      <mat-form-field class="certificate-issuer" style="width:100%">
        <mat-label>Issuer Name</mat-label>
        <input matInput placeholder="Issuer" formControlName="issuer" id="issuer_id"
               readonly="true">
      </mat-form-field>
      <mat-form-field class="certificate-serial-number" style="width:100%">
        <mat-label>Serial Number</mat-label>
        <input matInput placeholder="Serial Number" formControlName="serialNumber"
               id="servialNumber_id" readonly="true">
      </mat-form-field>
      <mat-form-field class="certificate-id" style="width:100%">
        <mat-label>SMP certificate ID</mat-label>
        <input matInput placeholder="SMP certificate ID" formControlName="certificateId"
               id="certificateId_id"
               resizeable="true" readonly="true">
      </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="isAccessTokenType && !isReadOnly" [disabled]="!credentialForm.valid " mat-raised-button color="primary"
          (click)="generatedAccessToken()">
    <mat-icon>key</mat-icon>
    <span>Generate new access token</span>
  </button>


  <button *ngIf="isCertificateType && !isReadOnly" [disabled]="!credentialForm.valid || isCertificateInvalid " mat-raised-button color="primary"
          (click)="storeCertificateCredentials()">
    <mat-icon>key</mat-icon>
    <span>Save Certificate</span>
  </button>


  <button mat-raised-button color="primary" (click)="closeDialog()">
    <mat-icon>cancel</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>

