<div id="admin-user-panel">
  <data-panel id="admin-user-data-panel"
              title="{{ 'admin.user.title' | translate }}"
              text="{{ 'admin.user.text' | translate }}"
              [labelColumnContent]="searchUserPanel">
    <ng-template #noDataFound>
      <div class="empty-data-panel">{{ "admin.user.label.no.user.selected" | translate }}</div>
    </ng-template>
    <user-profile-panel *ngIf="managedUserData;else noDataFound"
      [showDataPanelTitles] =false
      [managedUserData]="managedUserData"
      (onSaveUserEvent)="onSaveUserEvent($event)"
      (onDiscardNew)="onDiscardNew()"
      (onChangeUserPasswordEvent)="changeUserPasswordEvent($event)"
      ></user-profile-panel>
  </data-panel>
</div>

<ng-template #searchUserPanel>
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button mat-raised-button
              mat-flat-button color="primary"
              (click)="onCreateUserClicked()"
      >{{ "admin.user.button.create" | translate }}
      </button>

      <button mat-raised-button
              [disabled]="canNotDelete"
              color="primary"
              (click)="onDeleteSelectedUserClicked()">
        <mat-icon>delete</mat-icon>
        <span>{{ "admin.user.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <smp-table class="mat-elevation-z2" id="admin-user-table"
             filterLabel="admin.user.label.filter"
             filterPlaceholder="admin.user.placeholder.filter"
             noResultLabel=admin.user.label.no.data.found"
             noResultForFilterLabel="admin.user.label.no.filter.results"
             [dataSource]="dataSource"
             [selectedRow]="selected"
             [columnDefList]="columns"
             [displayedColumns]="displayedColumns"
             (onFilterChanged)="applyUserFilter($event)"
             (onRowClicked)="onUserSelected($event)"
  >
  </smp-table>
</ng-template>
