#document-version-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1em;
  min-width: 600px;
}

#version-table-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

#version-table-container table {
  width: 100%;
}
