<div style="display:flex; flex-grow: 1; flex-direction: column">
  <mat-form-field style="width: 100%">
    <mat-label>{{ "document.versions.panel.label.filter" | translate }}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <div id="versions-table-container">
    <table #DocumentVersionsTable mat-table class="mat-elevation-z1"
           style="max-height: 100%;flex-grow: 1;"
           id="document-versions-table"
           [dataSource]="versionDataSource" matSort>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{ "document.versions.panel.label.version" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.version }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{ "document.versions.panel.label.status" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.versionStatus }}</td>
      </ng-container>
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{ "document.versions.panel.label.created" | translate }}
        </th>
        <td mat-cell *matCellDef="let row;">
          {{ row.createdOn | date: dateTimeFormat }}
      </ng-container>

      <ng-container matColumnDef="lastUpdatedOn">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header>{{ "document.versions.panel.label.updated" | translate }}
        </th>
        <td mat-cell *matCellDef="let row;">
          {{ row.lastUpdatedOn | date: dateTimeFormat }}
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row
          *matRowDef="let odd = odd; let row; columns: displayedColumns;"
          (dblclick)="onRowSelect(row)"
          [ngClass]="getRowClass(row, odd)"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell"
            colspan="2">{{ "document.versions.panel.label.no.properties.found" | translate }}
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                 [pageSize]="10" [length]="versionDataSource.data?.length"
                 attr.aria-label="{{ 'document.versions.panel.label.select.page' | translate }}"></mat-paginator>

</div>

