<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:450px;width:900px">
  <form [formGroup]="certificateForm">
    <mat-card>
      <mat-card-content fxLayout="column">
         <mat-form-field class="alias" style="width:100%">
           <input matInput placeholder="Alias" [formControl]="certificateForm.controls['alias']" id="alias_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-subject" style="width:100%">
           <input matInput placeholder="Subject Name" [formControl]="certificateForm.controls['subject']" id="subject_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-valid-from" style="width:100%">
           <input matInput placeholder="Valid From" [formControl]="certificateForm.controls['validFrom']" id="validFrom_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-valid-to" style="width:100%">
           <input matInput placeholder="Valid To" [formControl]="certificateForm.controls['validTo']" id="validTo_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-issuer" style="width:100%">
           <input matInput placeholder="Issuer" [formControl]="certificateForm.controls['issuer']" id="issuer_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-serial-number" style="width:100%">
           <input matInput placeholder="Serial Number" [formControl]="certificateForm.controls['serialNumber']"
                  id="servialNumber_id" readonly="true">
         </mat-form-field>
         <mat-form-field class="certificate-id" style="width:100%">
           <input matInput placeholder="SMP certificate ID" [formControl]="certificateForm.controls['certificateId']"
                  id="certificateId_id"
                  resizeable="true" readonly="true">
         </mat-form-field>
      </mat-card-content>
    </mat-card>

  </form>
</mat-dialog-content>

<table class="buttonsRow">
  <tr>
    <td>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </td>
  </tr>
</table>


