<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:380px;width:800px">
  <form [formGroup]="dialogForm">
    <mat-card>
      <mat-card-content>
        <fieldset style="border: none;">
          <label style="width:100%">
            <input #fileInput type="file" style="cursor: pointer; display: none;"
                   id="keystore-file-upload" accept=".jks,.keystore,.p12"
                   (change)="keystoreFileSelected($event)">
            <button mat-flat-button color="primary"
                    (click)="fileInput.click()">{{ "keystore.import.dialog.label.choose" | translate }}</button>
          </label>
          <mat-form-field style="width:100%">
            <input matInput placeholder="{{ 'keystore.import.dialog.placeholder.keystore.file.name' | translate }}" name="keystoreFilename" id="keystoreFilename"
                   maxlength="255"
                   [formControl]="dialogForm.controls['file']"
                   type="text"
                   readonly="true"
                   required>
            <div
              *ngIf="dialogForm.controls['file'].touched && dialogForm.controls['file'].hasError('required')"
              style="color:red; font-size: 70%">
              {{ "keystore.import.dialog.label.keystore.file.name" | translate }}
            </div>
          </mat-form-field>

          <mat-form-field style="width:100%">
            <mat-select matInput placeholder="{{ 'keystore.import.dialog.placeholder.keystore.type' | translate }}"
                        [formControl]="dialogForm.controls['keystoreType']"
                        id="keystoretype_id" required>
              <mat-option value="JKS">{{ "keystore.import.dialog.placeholder.keystore.type.jks" | translate }}</mat-option>
              <mat-option value="PKCS12">{{ "keystore.import.dialog.placeholder.keystore.type.pkcs12" | translate }}</mat-option>
            </mat-select>
            <div
              *ngIf="dialogForm.controls['keystoreType'].touched && dialogForm.controls['keystoreType'].hasError('required')"
              style="color:red; font-size: 70%">
              {{ "keystore.import.dialog.label.keystore.type.mandatory" | translate }}
            </div>

          </mat-form-field>

          <mat-form-field style="width:100%">
            <input matInput placeholder="{{ 'keystore.import.dialog.placeholder.password' | translate }}" type="password"
                   id="password_id"
                   [formControl]="dialogForm.controls['password']"
                   required>
            <mat-hint align="end">{{ "keystore.import.dialog.hint.password" | translate }}</mat-hint>
            <div
              *ngIf="dialogForm.controls['password'].touched && dialogForm.controls['password'].hasError('required')"
              style="color:red; font-size: 70%">
              {{ "keystore.import.dialog.label.password.mandatory" | translate }}
            </div>
          </mat-form-field>

        </fieldset>
      </mat-card-content>
    </mat-card>

  </form>
  <div class="required-fields">{{ "keystore.import.dialog.legend.required.fields" | translate }}</div>
</mat-dialog-content>


<mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="importKeystore()" [disabled]="!dialogForm.valid">
        <mat-icon>vpn_key</mat-icon>
        <span>{{ "keystore.import.dialog.button.import" | translate }}</span>
      </button>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        <span>{{ "keystore.import.dialog.button.cancel" | translate }}</span>
      </button>
</mat-dialog-actions>

