<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:380px;width:800px">
  <form [formGroup]="dialogForm">
    <mat-card>
      <mat-card-content>
        <fieldset style="border: none;">
          <label style="width:100%">
            <input #fileInput type="file" style="cursor: pointer; display: none;"
                   id="keystore-file-upload" accept=".jks,.keystore,.p12"
                   (change)="keystoreFileSelected($event)">
            <button mat-flat-button color="primary"
                    (click)="fileInput.click()">Choose keystore</button>
          </label>
          <mat-form-field style="width:100%">
            <input matInput placeholder="Keystore filename" name="keystoreFilename" id="keystoreFilename"
                   maxlength="255"
                   [formControl]="dialogForm.controls['file']"
                   type="text"
                   readonly="true"
                   required>
            <div
              *ngIf="dialogForm.controls['file'].touched && dialogForm.controls['file'].hasError('required')"
              style="color:red; font-size: 70%">
              Choose a file - keystore!
            </div>
          </mat-form-field>

          <mat-form-field style="width:100%">
            <mat-select matInput placeholder="Keystore type"
                        [formControl]="dialogForm.controls['keystoreType']"
                        id="keystoretype_id" required>
              <mat-option value="JKS">Java keystore (JKS)</mat-option>
              <mat-option value="PKCS12">PKCS #12 (PKCS12)</mat-option>
            </mat-select>
            <div
              *ngIf="dialogForm.controls['keystoreType'].touched && dialogForm.controls['keystoreType'].hasError('required')"
              style="color:red; font-size: 70%">
              Keystore type is required!
            </div>

          </mat-form-field>

          <mat-form-field style="width:100%">
            <input matInput placeholder="Password" type="password"
                   id="password_id"
                   [formControl]="dialogForm.controls['password']"
                   required>
            <mat-hint align="end">Keys and keystore must have the same password!</mat-hint>
            <div
              *ngIf="dialogForm.controls['password'].touched && dialogForm.controls['password'].hasError('required')"
              style="color:red; font-size: 70%">
              Password is required! (Keys and keystore must have the same password!)
            </div>
          </mat-form-field>

        </fieldset>
      </mat-card-content>
    </mat-card>

  </form>
  <div class="required-fields">* required fields</div>
</mat-dialog-content>


<mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="importKeystore()" [disabled]="!dialogForm.valid">
        <mat-icon>vpn_key</mat-icon>
        <span>Import</span>
      </button>
      <button mat-raised-button color="primary" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
</mat-dialog-actions>

