<h3 mat-dialog-title>{{title}}</h3>
<mat-dialog-content style="min-width:500px;max-width:900px">
  <div class="panel" style="word-break: break-word" innerHTML={{description}}></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)" id="yesbuttondialog_id">
    <mat-icon>check_circle</mat-icon>
    <span>Yes</span>
  </button>
  <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="nobuttondialog_id">
    <mat-icon>cancel</mat-icon>
    <span>No</span>
  </button>
</mat-dialog-actions>
