<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="height:750px;width:1200px">
  <div fxLayout="column">
    <mat-card   >

      <mat-card-content >
        <div class="panel">
          <mat-form-field  style="width:30%">
            <input matInput placeholder="Participant scheme" name="patricipantSchema"  id="participanSchema_id"
                   [formControl]="dialogForm.controls['participantScheme']"
            >
          </mat-form-field>
          <mat-form-field style="width:40%">
            <input matInput placeholder="Participant Identifier" name="participantIdentifier"  id="participantIdentifier_id"
                   [formControl]="dialogForm.controls['participantIdentifier']">
          </mat-form-field>
          <mat-select #domainList [compareWith]="compareDomainCode" placeholder="Domain (sml subdomain)" id="domain_id" style="width:20%"
                      [formControl]="dialogForm.controls['domainCode']">
            <mat-option *ngFor="let domain of currentServiceGroup.serviceGroupDomains" [value]="domain">
              {{domain.domainCode}} ({{domain.smlSubdomain}})
            </mat-option>
          </mat-select>
          <div
            *ngIf="(!editMode && dialogForm.controls['domainCode'].touched || editMode) &&  dialogForm.controls['domainCode'].hasError('required')"
            style="color:red; font-size: 70%">
            Domain must be selected.
          </div>

          <mat-form-field  style="width:30%">
            <input matInput placeholder="Document identifier scheme" name="documentScheme"  id="documentScheme_id"
                   [formControl]="dialogForm.controls['documentIdentifierScheme']"  maxlength="255" required>
          </mat-form-field>
            <mat-form-field style="width:55%">
              <input matInput placeholder="Document identifier" name="documentIdentifier"  id="documentIdentifier_id"
                     [formControl]="dialogForm.controls['documentIdentifier']"  maxlength="255" required>
            </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-content>
        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-raised-button color="primary"
                    matTooltip="Clear the metadata content."
                    matTooltipPosition="below"
                    (click)="onClearServiceMetadata()">
              <mat-icon>clear</mat-icon>
              <span>Clear</span>
            </button>
            <button mat-raised-button color="primary"
                    matTooltip="Generates simple XML"
                    matTooltipPosition="below"
                    (click)="onGenerateSimpleXML()">
              <mat-icon>settings_ethernet</mat-icon>
              <span>Generate XML</span>
            </button>
            <!-- button mat-raised-button color="primary"
                    matTooltip="Opens wizard to configure ServiceMetadata xml."
                    matTooltipPosition="below"
                    (click)="onStartWizardDialog()">
              <mat-icon>add_box</mat-icon>
              <span>Metadata wizard</span>
            </button -->
            <button mat-raised-button color="primary"
                    atTooltip="Validate serviceMetadata XML."
                    matTooltipPosition="below"
                    (click)="onServiceMetadataValidate()">
              <mat-icon>warning</mat-icon>
              <span>Validate</span>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>

        <div style="display: block;border:1px; solid: #999999;margin:5px 0; padding:3px;">
          <div class="textwrapper">
            <textarea matInput style="width:100%;border: #03A9F4 1px solid" cols="2" rows="25"
                      resizeable="false"
                      id="MetadataTextArea"
                      placeholder="Metadata XML*" name="metadataXML"
                      [formControl]="dialogForm.controls['xmlContent']"

                      required></textarea>
          </div>
          <div
            *ngIf="(!editMode && dialogForm.controls['xmlContent'].dirty || editMode) &&  dialogForm.controls['xmlContent'].hasError('required')"
            style="color:red; font-size: 70%">
            Valid service metadata XML is required!
          </div>
          <div
            *ngIf="metadataValidationMessage && !((!editMode && dialogForm.controls['xmlContent'].touched || editMode) &&  dialogForm.controls['xmlContent'].hasError('required'))"
            [style.color]="isMetadataValid?'green':'red'">
            {{metadataValidationMessage}}
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="group-action-button">
    <button mat-raised-button color="primary" (click)="submitForm()"
            [disabled]="!dialogForm.valid">
      <mat-icon>check_circle</mat-icon>
      <span>OK</span>
    </button>

    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </div>
</mat-dialog-actions>
<div style="text-align: right; font-size: 70%">* required fields</div>
