<h2 mat-dialog-title>ServiceGroup Metadata</h2>
<mat-dialog-content  style="height:460px;width:950px">

  <mat-tab-group fxFlex="column">
    <mat-tab label="Metadata data">
      <mat-form-field style="width:100%">
        <input matInput placeholder="Document identifier schema" name="documentIdentifierScheme" id="documentIdentifierScheme_id"
               [formControl]="dialogForm.controls['documentIdentifierScheme']" maxlength="255">

      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Document identifier" name="documentIdentifier" id="documentIdentifier_id"
               [formControl]="dialogForm.controls['documentIdentifier']" maxlength="255" required>

        <div *ngIf="(!editMode && dialogForm.controls['documentIdentifier'].touched || editMode) &&  dialogForm.controls['documentIdentifier'].hasError('required')" style="color:red; font-size: 70%">
          Document identifier must not be empty.
        </div>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Process schema" name="processSchema" id="processSchema_id"
               [formControl]="dialogForm.controls['processSchema']" maxlength="255" required>

        <div *ngIf="(!editMode && dialogForm.controls['processSchema'].touched || editMode) &&  dialogForm.controls['processSchema'].hasError('required')" style="color:red; font-size: 70%">
          Process identifier must not be empty.
        </div>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Process identifier" name="processidentifier" id="processidentifier_id"
               [formControl]="dialogForm.controls['processIdentifier']" maxlength="255" required>

        <div *ngIf="(!editMode && dialogForm.controls['processIdentifier'].touched || editMode) &&  dialogForm.controls['processIdentifier'].hasError('required')" style="color:red; font-size: 70%">
          Process identifier must not be empty.
        </div>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Endpoint Url" name="endpointUrl" id="endpointUrl_id"
               [formControl]="dialogForm.controls['endpointUrl']" maxlength="255" required>

        <div *ngIf="(!editMode && dialogForm.controls['endpointUrl'].touched || editMode) &&  dialogForm.controls['endpointUrl'].hasError('required')" style="color:red; font-size: 70%">
          Endpoint URL must not be empty.
        </div>
      </mat-form-field>



    </mat-tab>
    <mat-tab label="XML">
      <h1>Some more tab content</h1>
      <textarea style="width: 100%; height: 95%"></textarea>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button">
    <button id="ServiceGroupsSaveButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>

    <button id="ServiceGroupsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
            style="margin-top:10px">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </div>
</mat-dialog-actions>
