BASIC {
	eu.cec.digit.ecas.auth.provider.CASLoginModule		requisite
		configName="BASIC"
		authHandler="eu.cec.digit.ecas.auth.provider.SingleFactorPasswordHandler";
	eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
           configName="DETAILS"
           userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
MOBILE_APP {
    eu.cec.digit.ecas.mobile.auth.onmobile.OnMobileLoginModule                      requisite;
    eu.cec.digit.ecas.auth.provider.GroupLoginModule        requisite
        configName="ECAS"
        groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
        configName="DETAILS"
        userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_MOBILE_APP {
    eu.cec.digit.ecas.auth.provider.CASLoginModule                             requisite
        configName="PASSWORD"
        authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
    eu.cec.digit.ecas.mobile.auth.password.PasswordMobileAppLoginModule                     requisite;
    eu.cec.digit.ecas.auth.provider.GroupLoginModule        requisite
        configName="ECAS"
        groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
        configName="DETAILS"
        userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_SOFTWARE_TOKEN {
    eu.cec.digit.ecas.auth.provider.CASLoginModule                             requisite
        configName="PASSWORD"
        authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
    eu.cec.digit.ecas.mobile.auth.softwaretoken.SoftwareTokenLoginModule                             requisite;
    eu.cec.digit.ecas.auth.provider.GroupLoginModule        requisite
        configName="ECAS"
        groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
        configName="DETAILS"
        userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_SMS {
	eu.cec.digit.ecas.auth.provider.CASLoginModule		requisite
		configName="PASSWORD"
		authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
	eu.cec.digit.ecas.auth.provider.SmsChallengeLoginModule		requisite
		configName="SMS";
	eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
	eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule	requisite
		configName="DETAILS"
		userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_TOKEN {
	eu.cec.digit.ecas.auth.provider.CASLoginModule		requisite
		configName="PASSWORD"
		authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
	eu.cec.digit.ecas.auth.provider.RadiusTokenLoginModule		requisite
		configName="TOKEN";
    eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
	eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule	requisite
		configName="DETAILS"
		userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_TOKEN_CRAM {
	eu.cec.digit.ecas.auth.provider.CASLoginModule		requisite
		configName="PASSWORD"
		authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
	eu.cec.digit.ecas.auth.provider.TokenCramChallengeLoginModule		requisite
		configName="TOKEN_CRAM";
	eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
	eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule	requisite
		configName="DETAILS"
		userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
	eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
PASSWORD_WEBAUTHN {
    eu.cec.digit.ecas.auth.provider.CASLoginModule                             requisite
        configName="PASSWORD"
        authHandler="eu.cec.digit.ecas.auth.provider.FirstFactorPasswordHandler";
    eu.europa.ec.ecas.webauthn.auth.provider.PasswordWebAuthnDeviceLoginModule                     requisite;
    eu.cec.digit.ecas.auth.provider.GroupLoginModule        requisite
        configName="ECAS"
        groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
        configName="DETAILS"
        userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
EIDAS {
	eu.cec.digit.ecas.auth.provider.eid.EidLoginModule	requisite;
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
SOCIAL_NETWORKS {
    eu.cec.digit.ecas.auth.oauth.provider.SocialNetworksLoginModule    requisite
        configName="SOCIAL_NETWORKS";
    eu.cec.digit.ecas.auth.provider.GroupLoginModule        requisite
        configName="ECAS"
        groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
    eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule              requisite
        configName="DETAILS"
        userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
CLIENT_CERT {
	eu.cec.digit.ecas.auth.provider.CertLoginModule		requisite;
	eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
	eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule	requisite
		configName="DETAILS"
		userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
	eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
WINDOWS {
	eu.cec.digit.ecas.auth.provider.WsTrustClientLoginModule		requisite
	    identityProviderId="";
    eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
FEDERATION {
	eu.cec.digit.ecas.auth.provider.FederationLoginModuleDispatcher	requisite;
	eu.cec.digit.ecas.auth.provider.GroupLoginModule	requisite
		configName="ECAS"
		groupHandler="eu.cec.digit.ecas.auth.provider.EcasGroupHandler";
	eu.cec.digit.ecas.auth.provider.UserDetailsLoginModule	requisite
		configName="DETAILS"
		userDetailsHandler="eu.cec.digit.ecas.auth.provider.EcasUserDetailsHandler";
	eu.cec.digit.ecas.auth.provider.GeolocationLoginModule	requisite
        configName="GEOLOCATION";
};
