#window-sidenav-panel {
  /* --- make space for Logo ---*/
  padding-top: 8em;
}

/* --- Logo ---*/
#topLogoText {
  margin-left: 5px;
  text-align: left;
}

#topLogo {
  vertical-align: middle;
  position: relative;
  overflow: visible;
  top: -2em;
}

#topLogoText h1 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
}

#topLogoText h1 span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
