<div id="window-sidenav-panel"  style="display:flex;
  flex-direction: column;"
   [style.width]="fullMenu ? '180px' : '50px'">

  <nav-tree #navtree ></nav-tree>

  <!-- button mat-raised-button class="sideNavButton" [routerLink]="['/']" id="sidebar_search_id">
    <mat-icon matTooltip="Search" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">search</mat-icon>
    <span *ngIf="fullMenu==true">Search</span>
  </button>
  <button mat-raised-button class="sideNavButton" *ngIf="isCurrentUserSMPAdmin() || isCurrentUserServiceGroupAdmin()"
          [routerLink]="['/edit']" id="sidebar_edit_id">
    <mat-icon matTooltip="Edit" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">edit</mat-icon>
    <span *ngIf="fullMenu==true">Edit</span>
  </button>
  <button mat-raised-button class="sideNavButton" [routerLink]="['/domain']" *ngIf="isCurrentUserSystemAdmin()"
          id="sidebar_domain_id">
    <mat-icon matTooltip="Domains" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">domain</mat-icon>
    <span *ngIf="fullMenu==true">Domains</span>
  </button>
  <button mat-raised-button class="sideNavButton" [routerLink]="['/user']" *ngIf="isCurrentUserSystemAdmin()"
          id="sidebar_user_id">
    <mat-icon matTooltip="Users" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">people</mat-icon>
    <span *ngIf="fullMenu==true">Users</span>
  </button>
  <button mat-raised-button class="sideNavButton" [routerLink]="['/alert']" *ngIf="isCurrentUserSystemAdmin()"
          id="sidebar_alert_id">
    <mat-icon matTooltip="Alerts" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">add_alert</mat-icon>
    <span *ngIf="fullMenu==true">Alerts</span>
  </button>

  <button mat-raised-button class="sideNavButton" [routerLink]="['/property']" *ngIf="isCurrentUserSystemAdmin()"
          id="sidebar_property_id">
    <mat-icon matTooltip="Properties" matTooltipDisabled="{{fullMenu}}" [matTooltipPosition]="'right'">settings</mat-icon>
    <span *ngIf="fullMenu==true">Properties</span>
  </button -->
</div>
