#extensionTextArea {
  border: none;
  width: 610px;
  height:340px;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

/deep/ .domainWarning {
  text-decoration: line-through !important;
  font-weight: bold;
  color:#c6c639;
}
