<h2 mat-dialog-title>{{formTitle}}</h2>

<mat-dialog-content style="height:620px;width:1200px">
  <div fxLayout="row">
    <div fxLayout="column">
      <mat-card fxFlex="200px">
        <!-- mat-card-title>Identifier</mat-card-title -->
        <mat-card-content style="height: 100px">
          <div class="panel">
          <mat-form-field style="width:100%">
            <input matInput placeholder="Participant identifier" name="participantIdentifier"
                   value="{{current.participantIdentifier}}" id="participantIdentifier_id"
                   (blur)="updateParticipantIdentifier($event)"
                   [formControl]="dialogForm.controls['participantIdentifier']" maxlength="255" required>
            <div
              *ngIf="(!editMode && dialogForm.controls['participantIdentifier'].touched || editMode) &&  dialogForm.controls['participantIdentifier'].hasError('required')"
              style="color:red; font-size: 70%">
              Participant identifier must not be empty.
            </div>
          </mat-form-field>

          <mat-form-field style="width:100%">
            <input matInput placeholder="Participant scheme" name="participantScheme"
                   value="{{current.participantScheme}}" id="participantScheme_id"
                   (blur)="updateParticipantScheme($event)" [formControl]="dialogForm.controls['participantScheme']"
                   maxlength="255" required>
            <div
              *ngIf="(!editMode && dialogForm.controls['participantScheme'].touched || editMode) &&  dialogForm.controls['participantScheme'].hasError('required')"
              style="color:red; font-size: 70%">
              Participant scheme must not be empty.
            </div>
          </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <!-- mat-card-title>Owners/Domains</mat-card-title -->
        <mat-card-content>

          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>Owners</mat-panel-title>
                <mat-panel-description>
                  Selected user count: {{usersSelected.selectedOptions.selected.length}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-selection-list  #usersSelected [compareWith]="compareTableItemById"
                                  (selectionChange)="userListChanged(usersSelected.selectedOptions.selected,$event)"
                                  [formControl]="formControlUsers"
                                  style="height: 200px;  overflow-y: scroll; overflow-x: auto;">
                <mat-list-option *ngFor="let user of userlist" [value]='user'>
                  {{user.id}} - {{user.username?user.username:user.id}}
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>

            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>Domains</mat-panel-title>
                <mat-panel-description>
                  Selected domain count: {{domainSelected.selectedOptions.selected.length}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-selection-list  #domainSelected [compareWith]="compareTableItemById"
                                   [formControl]="formControlDomain"
                                   style="height: 200px;  overflow-y: scroll; overflow-x: auto;">
                <mat-list-option *ngFor="let domain of domainList" [value]='domain'>
                  {{domain.domainCode}} ({{domain.smlSubdomain}})
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>


          <div
            *ngIf="(!editMode && dialogForm.controls['users'].touched || editMode) &&  dialogForm.controls['users'].hasError('minSelectedListCount')"
            style="color:red; font-size: 70%">
            At least one user (owner) must be selected!
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card fxFlex="60">
      <mat-card-title>Extension</mat-card-title>
      <mat-card-content>
        <p>
          Extension is automatically wrapped to root element to form vaild XML! No ExtensionWrapper element is needed.
        </p>
        <!--mat-form-field>
          < textarea id="extensionTextArea" resizeable="false" placeholder="Extension" name="extension"></textarea>
        </mat-form-field -->
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="submitForm()"
            [disabled]="!dialogForm.valid">
      <mat-icon>check_circle</mat-icon>
      <span>OK</span>
    </button>

    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </div>
</mat-dialog-actions>
<div style="text-align: right; font-size: 70%">* required fields</div>
