<h2 mat-dialog-title>ServiceGroup details</h2>
<mat-dialog-content style="height:260px;width:650px">
  <mat-card>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Participant Id" value="{{servicegroup.serviceGroupROId.participantId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Participant schema" value="{{servicegroup.serviceGroupROId.participantSchema}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Domain" value="{{servicegroup.domain}}" readonly/>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="group-action-button" >
  <button id="ServiceGroupsSaveButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>


  <button id="ServiceGroupsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
  </div>
</mat-dialog-actions>

