#extensionTextArea {
  border: none;
  width: 610px;
  height:340px;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

::ng-deep .domainWarning {
  text-decoration: line-through !important;
  font-weight: bold;
  color:#c6c639;
}


.list-form-item  .mat-form-field-wrapper {
  margin-bottom: -1.25em;
  padding: 0;
  margin: 0;
}

