.form-field-full-width {
  width: 100%;
}

.empty-field-label {
  color: gray;
}

#custom-file-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}
#member-user-can-review {
  max-height: 1.5em
}
