<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:700px">
  <form [formGroup]="resourceForm">
    <b *ngIf="newMode">To create a new subresource enter unique identifier and scheme and click save.</b>
    <mat-form-field style="width:100%">
      <mat-label>Selected resource type</mat-label>
      <mat-select placeholder="Select type for the subresource"
                  matTooltip="Select type for the subresource."
                  id="subresourceTypeIdentifier"
                  formControlName="subresourceTypeIdentifier"
                  required>
        <mat-option *ngFor="let resDef of subresourceDefs"
                    [value]="resDef.identifier">
          {{resDef.name}} ({{resDef.identifier}})
        </mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field  style="width: 100%">
      <mat-label>Subresource identifier</mat-label>
      <input id="identifierValue_id" type="text" matInput #identifierValue
             formControlName="identifierValue"
             auto-focus-directive maxlength="500" required>
    </mat-form-field>

    <mat-form-field  style="width: 100%">
      <mat-label>Subresource scheme</mat-label>
      <input id="identifierScheme_id" type="text" matInput
             formControlName="identifierScheme" maxlength="500"
             >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">
    <mat-icon>cancel</mat-icon>
    <span>Close</span>
  </button>
  <button id="createButton" mat-raised-button (click)="onSaveButtonClicked()" color="primary" *ngIf="newMode"
          [disabled]="!submitButtonEnabled">
    <mat-icon>save</mat-icon>
    <span>Create</span>
  </button>
</mat-dialog-actions>

