<div id="dns-tool-panel">
  <form [formGroup]="dnsToolsForm">
    <data-panel title="{{ 'dns.tools.title' | translate }}"
                [showTitle]="true"
                text="{{ 'dns.tools.description' | translate }}"

                [labelColumnContent]="dnsLookupData"
    >
      <dns-query-panel *ngFor="let dnsquery of result"
                       [dnsQeury]="dnsquery"
      />
    </data-panel>
    <ng-template #dnsLookupData>
      <div class="panel">
        <mat-form-field class="smp-data-panel-field">
          <mat-label>{{ "dns.tools.label.resource.id" | translate }}</mat-label>
          <input matInput name="ResourceIdentifier"
                 formControlName="resourceIdentifier"
                 id="resource-identifier-id">
        </mat-form-field>
        <mat-form-field class="smp-data-panel-field">
          <mat-label>{{ "dns.tools.label.resource.scheme" | translate }}</mat-label>
          <input matInput name="ResourceScheme"
                 formControlName="resourceScheme"
                 id="resource-scheme-id">
        </mat-form-field>
        <mat-form-field class="smp-data-panel-field">
          <mat-label>{{ "dns.tools.label.resource.top.domain" | translate }}</mat-label>
          <input matInput name="DNS top Domain"
                 formControlName=dnsTopDomain
                 id="dns-top-domain-id">
        </mat-form-field>

        <button mat-raised-button color="primary" id="btn-generate_id"
                [disabled]="dnsToolsForm.invalid"
                [style]="'width:250px'"
                (click)="generateLookupQuery()"
        >
          <mat-icon>input</mat-icon>
          <span>{{ "dns.tools.button.generate.lookup.query" | translate }}</span>
        </button>
      </div>
    </ng-template>
  </form>
</div>
