<div id="admin-domain-panel">
  <data-panel id="admin-domain-data-panel"
              title="System Domain administration"
              text="System Domain administration panel is a tool for creating and removing domains from DomiSMP"
              [labelColumnContent]="searchDomainPanel">

    <ng-template #noDataFound>
      <div class="empty-data-panel">No domain selected.</div>
    </ng-template>
    <mat-tab-group #domainTabs style="height: 100%" *ngIf="selected;else noDataFound">
      <mat-tab>
        <ng-template mat-tab-label>
          <smp-label icon="domain" label="Domain data"></smp-label>
        </ng-template>
        <domain-panel #domainPanelComponent
                      [domainList]="domainList"
                      [domain]="selected"
                      [keystoreCertificates]="keystoreCertificates"
                      [domiSMPResourceDefinitions]="domiSMPResourceDefinitions"
                      (onSaveBasicDataEvent)="onSaveEvent($event)"
                      (onDiscardNew)="onDiscardNew()"
        ></domain-panel>
      </mat-tab>
      <mat-tab *ngIf="selected?.domainId;">
        <ng-template mat-tab-label>
          <smp-label icon="extension" label="Resource Types"></smp-label>
        </ng-template>
        <domain-resource-type-panel #domainResourceTypePanelComponent
                                    [domain]="selected"
                                    [domiSMPResourceDefinitions]="domiSMPResourceDefinitions"
                                    (onSaveResourceTypesEvent)="onSaveResourceTypesEvent($event)"
        ></domain-resource-type-panel>
      </mat-tab>
      <mat-tab label="Members" *ngIf="selected?.domainId;">
        <ng-template mat-tab-label>
          <smp-label icon="groups" label="Members"></smp-label>
        </ng-template>
        <domain-member-panel #domainMemberPanelComponent
                             [membershipType]="membershipType"
                             [domain]="selected"
        ></domain-member-panel>
      </mat-tab>
      <mat-tab *ngIf="selected?.domainId;">
        <ng-template mat-tab-label>
          <smp-label icon="dns" label="SML integration"></smp-label>
        </ng-template>
        <domain-sml-integration-panel #domainSmlIntegrationPanelComponent
                                      [keystoreCertificates]="keystoreCertificates"
                                      [domain]="selected"
                                      (onSaveSmlIntegrationDataEvent)="onSaveSmlIntegrationDataEvent($event)"
        ></domain-sml-integration-panel>
      </mat-tab>
    </mat-tab-group>
  </data-panel>
</div>

<ng-template #searchDomainPanel>
  <mat-form-field id="domain-filter">
    <mat-label>Filter Domain by domain code</mat-label>
    <input matInput (keyup)="applyDomainFilter($event)" placeholder="Domain code" #inputDomainFilter>
  </mat-form-field>

  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button mat-raised-button
              mat-flat-button color="primary"
              (click)="onCreateDomainClicked()"
      >Create domain
      </button>

      <button mat-raised-button
              [disabled]="canNotDelete"
              color="primary"
              (click)="onDeleteSelectedDomainClicked()">
        <mat-icon>delete</mat-icon>
        <span>Delete selected</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <table class="mat-elevation-z2" id="admin-domain-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="domainCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain code</th>
      <td mat-cell *matCellDef="let row" [matTooltip]="row.domainCode">{{row.domainCode}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let odd = odd; let row; columns: displayedColumns;"
        (click)="domainSelected(row)"
        [ngClass]="{'datatable-row-selected': row===selected,'datatable-row-odd': odd}"
    ></tr>


    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="inputDomainFilter.value;else noDataFound" class="mat-cell" colspan="2">No data matching the filter
        "{{inputDomainFilter.value}}"
      </td>
      <ng-template #noDataFound>
        <td class="mat-cell" colspan="2">No data</td>
      </ng-template>
    </tr>
  </table>

  <mat-paginator class="mat-elevation-z2" id="domain-paginator"
                 [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageSize]="10" aria-label="Select page"></mat-paginator>

</ng-template>
