<div id="admin-domain-panel">
  <data-panel id="admin-domain-data-panel"
              title="{{ 'admin.domain.title' | translate }}"
              text="{{ 'admin.domain.text' | translate }}"
              [labelColumnContent]="searchDomainPanel">

    <ng-template #noDataFound>
      <div class="empty-data-panel">{{ "admin.domain.label.no.domains.selected" | translate }}</div>
    </ng-template>
    <mat-tab-group class="domain-configuration-tab"
                   #domainTabs
                   *ngIf="selected;else noDataFound"
    >
      <mat-tab>
        <ng-template mat-tab-label style="padding: 0">
          <smp-label icon="domain" label="{{ 'admin.domain.label.domain.data' | translate }}"></smp-label>
        </ng-template>
        <domain-panel #domainPanelComponent
                      [domain]="selected"
                      [keystoreCertificates]="keystoreCertificates"
                      [domiSMPResourceDefinitions]="domiSMPResourceDefinitions"
                      (onSaveBasicDataEvent)="onSaveEvent($event)"
                      (onDiscardNew)="onDiscardNew()"
        ></domain-panel>
      </mat-tab>
      @if (selected?.domainId) {
        <mat-tab>
          <ng-template mat-tab-label>
            <smp-label icon="extension" label="{{ 'admin.domain.label.resource.type' | translate }}"></smp-label>
          </ng-template>
          <domain-resource-type-panel #domainResourceTypePanelComponent
                                      [domain]="selected"
                                      [domiSMPResourceDefinitions]="domiSMPResourceDefinitions"
                                      (onSaveResourceTypesEvent)="onSaveResourceTypesEvent($event)"
          ></domain-resource-type-panel>
        </mat-tab>
        <mat-tab label="{{ 'admin.domain.label.members' | translate }}">
          <ng-template mat-tab-label>
            <smp-label icon="groups" label="{{ 'admin.domain.label.members' | translate }}"></smp-label>
          </ng-template>
          <domain-member-panel #domainMemberPanelComponent
                               [membershipType]="membershipType"
                               [domain]="selected"
          ></domain-member-panel>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <smp-label icon="settings" label="{{ 'admin.domain.label.configuration' | translate }}"></smp-label>
          </ng-template>
          <domain-properties-panel #domainPropertiesPanelComponent
                                   [systemAdminService]="true"
                                   [domain]="selected"
                                   (onSavePropertiesDataEvent)="onSavePropertiesDataEvent($event)"
          ></domain-properties-panel>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <smp-label icon="dns" label="{{ 'admin.domain.label.sml.integration' | translate }}"></smp-label>
          </ng-template>
          <domain-sml-integration-panel #domainSmlIntegrationPanelComponent
                                        [keystoreCertificates]="keystoreCertificates"
                                        [domain]="selected"
                                        (onSaveSmlIntegrationDataEvent)="onSaveSmlIntegrationDataEvent($event)"
          ></domain-sml-integration-panel>
        </mat-tab>
        @if (selected?.domainTrustStoreEnabled) {
          <mat-tab>
            <ng-template mat-tab-label>
              <smp-label icon="key" label="{{ 'admin.domain.label.custom.truststore' | translate }}"></smp-label>
            </ng-template>
            <domain-truststore-panel #truststorePanelComponent
                                     [domain]="selected"
            ></domain-truststore-panel>
          </mat-tab>
        }
      }
    </mat-tab-group>
  </data-panel>
</div>
<ng-template #searchDomainPanel>


  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row class="smp-toolbar-row">
      <button mat-raised-button
              mat-flat-button color="primary"
              (click)="onCreateDomainClicked()"
      >{{ "admin.domain.button.create" | translate }}
      </button>

      <button mat-raised-button
              [disabled]="canNotDelete"
              color="primary"
              (click)="onDeleteSelectedDomainClicked()">
        <mat-icon>delete</mat-icon>
        <span>{{ "admin.domain.button.delete" | translate }}</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <smp-table #domainTable
             filterLabel="admin.domain.label.filter"
             filterPlaceholder="admin.domain.placeholder"
             noResultLabel="admin.domain.label.no.data.found"
             noResultForFilterLabel="admin.domain.label.no.filter.results"
             [isLoadableTable]="true"
             [dataSource]="dataSource"
             [selectedRow]="selected"
             [columnDefList]="columns"
             [displayedColumns]="displayedColumns"
             [isLoading]="isLoadingResults"
             (onFilterChanged)="applyDomainFilter($event)"
             (onRowClicked)="domainSelected($event)"
             (onPageChanged)="onPageChanged($event)"
             [dataLength]="dataLength"
             [pageSize]="pageSize"
             [pageIndex]="pageIndex"
  >
  </smp-table>

</ng-template>
