<h2 mat-dialog-title>{{formTitle}}</h2>
<mat-dialog-content style="width:500px">

  <div *ngIf="message"
       [ngClass]="{ 'alert-message': message, 'alert-message-success': messageType === 'success', 'alert-message-error':messageType === 'error' }"
       id="alertmessage_id">
    <span class="alert-message-close-button" (click)="clearAlert()">&times;</span>
    {{message}}
  </div>
  <form [formGroup]="dialogForm">
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-form-field style="width:100%">
          <input matInput placeholder="Username" formControlName="username" id="un_id" readonly="true">
        </mat-form-field>
        <mat-form-field style="width:100%">
          <input matInput placeholder="User email" formControlName="email" id="em_id"
                 [ngClass]="{ 'empty-field-label': isEmptyEmailAddress }" readonly="true">
        </mat-form-field>

      </mat-card-content>
    </mat-card>
    <mat-card class="password-panel">
      <mat-card-content>
        <mat-form-field *ngIf="showCurrentPasswordField"  style="width:100%">
          <input matInput [placeholder]="getPasswordTitle" [type]="hideCurrPwdFiled ? 'password' : 'text'"
                 formControlName="current-password" required id="cp_id">
          <mat-icon matSuffix
                    (click)="hideCurrPwdFiled = !hideCurrPwdFiled">{{hideCurrPwdFiled ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <input matInput placeholder="New Password" [type]="hideNewPwdFiled ? 'password' : 'text'"
                 formControlName="new-password" required id="np_id" auto-focus-directive>
          <mat-icon matSuffix
                    (click)="hideNewPwdFiled = !hideNewPwdFiled">{{hideNewPwdFiled ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordError('new-password', 'required')">New password is required</mat-error>
          <mat-error *ngIf="passwordError('new-password', 'error')">New password must not be equal than old current
            password!
          </mat-error>
          <mat-error *ngIf="passwordError('new-password', 'pattern')">{{passwordValidationMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <input matInput placeholder="Confirm New Password" [type]="hideConfPwdFiled ? 'password' : 'text'"
                 formControlName="confirm-new-password" required id="cnp_id">
          <mat-icon matSuffix
                    (click)="hideConfPwdFiled = !hideConfPwdFiled">{{hideConfPwdFiled ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordError('confirm-new-password', 'error')">Confirm valued does not match new password!
          </mat-error>
          <mat-error *ngIf="passwordError('confirm-new-password', 'required')">Confirm New password is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>

<div class="required-fields">* required fields</div>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="changeCurrentUserPassword()"
          [disabled]="!dialogForm.valid ">
    <mat-icon>check_circle</mat-icon>
    <span>Set/change password</span>
  </button>
  <button *ngIf="!this.forceChange" mat-raised-button color="primary" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>


