#user-certificates-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

#user-certificate-table {
  padding: 0;
  border: none;
}

.user-certificate-table-header {
  display: none;
}

.user-certificate-table-data td {
  padding: 0;
}
