<h2 mat-dialog-title>Truststore entry</h2>
<mat-dialog-content style="height:450px;width:650px">
  <mat-card>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Name" value="{{trustStoreEntry.name}}" readonly/>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Subject" value="{{trustStoreEntry.subject}}" readonly/>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Issuer" value="{{trustStoreEntry.issuer}}" readonly/>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Valid from" value="{{trustStoreEntry.validFrom| smpDate: dateFormat}}"
               readonly/>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Valid until" value="{{trustStoreEntry.validUntil| smpDate: dateFormat}}"
               readonly/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="closebutton_id" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>
