<div id="user-access-token-panel">
  <data-panel title="Access token"
              text="You can generate a access token for each application you use that needs access to the DomiSMP API."
              [labelColumnContent]="commonToolbar">

    <table mat-table id="access-token-table" [dataSource]="dataSource" class="panel smp-data-panel" >
      <ng-container matColumnDef="accessTokens">
        <th mat-header-cell *matHeaderCellDef> Access Tokens </th>
        <td mat-cell *matCellDef="let token"
            [ngClass]="{'datatable-row-error': token.invalid}"
            [matTooltip]="token.certificateId">
          <access-token-panel (onDeleteEvent)="onDeleteItemClicked(token)"
                              (onSaveEvent)="onSaveItemClicked(token)"
                              [credential]="token"></access-token-panel>

        </td>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      </ng-container>
    </table>

    <mat-paginator class="mat-elevation-z2" id="tokens-paginator"
                   [hidePageSize]="true"
                   [showFirstLastButtons]="true"
                   [pageSize]="5" aria-label="Select page"></mat-paginator>
  </data-panel>

</div>

<ng-template #commonToolbar>

  <button id="createAccessTokenButton" mat-raised-button color="primary" matTooltip="Create new Access token " style="margin: 2em "
  (click)="createNewAccessToken()">
    <mat-icon>key</mat-icon>
    <span>Create access Token</span>
  </button>

</ng-template>


