<div id="domain-panel" class="mat-elevation-z2">
  <form [formGroup]="domainForm">
    <h3>{{ "domain.panel.title" | translate }}</h3>
    <div class="panel" *ngIf="_domain!=null &&  !_domain.domainId"><p
      style="font-weight: bold">{{ "domain.panel.text" | translate }}</div>
    <smp-warning-panel *ngIf="showWarning"
                       icon="warning"
                       type="warning"
                       [htmlContent]="warningMessage"></smp-warning-panel>
    <mat-form-field style="width:100%">
      <mat-label>{{ "domain.panel.label.domain" | translate }}</mat-label>
      <input matInput
             id="domainCode_id" #domainCode
             matTooltip="{{ 'domain.panel.tooltip.domain' | translate }}"
             formControlName="domainCode" maxlength="63"
             (keydown)="onFieldKeyPressed('domainCode', 'domainCodeTimeout')"
             required
             auto-focus-directive>
      <mat-hint align="end">{{ "domain.panel.hint.domain" | translate }}
      </mat-hint>
      <div
        *ngIf="(!editMode && domainForm.controls['domainCode'].touched || editMode) &&  domainForm.controls['domainCode'].hasError('pattern')"
        style="color:red; font-size: 70%">
        {{ "domain.panel.label.domain.mandatory" | translate }}
      </div>
      <div
        *ngIf="!!fieldWarningTimeoutMap.domainCodeTimeout"
        style="color:darkorange; font-size: 70%">
        {{ "domain.panel.label.domain.mandatory" | translate }}
      </div>
      <div
        *ngIf="(!editMode && domainForm.controls['domainCode'].touched || editMode) &&  domainForm.controls['domainCode'].hasError('notInList')"
        style="color:red; font-size: 70%">
        {{ "domain.panel.label.domain.already.exists" | translate }}
      </div>
    </mat-form-field>
    <mat-form-field style="width:100%">
      <mat-label>{{ "domain.panel.label.signature.cert.alias" | translate }}</mat-label>
      <mat-select formControlName="signatureKeyAlias"
                  matTooltip="{{ 'domain.panel.tooltip.signature.cert.alias' | translate }}"
                  id="signatureKeyAlias_id">
        <mat-option [value]="''"></mat-option>
        <mat-option *ngFor="let cert of keystoreCertificates"
                    [value]="cert.alias">
          {{ cert.alias }} ({{ cert.certificateId }})
        </mat-option>
      </mat-select>
      <mat-hint
        align="end">{{ "domain.panel.hint.signature.cert.alias" | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field style="width:100%">
      <mat-label>{{ "domain.panel.label.domain.visibility" | translate }}</mat-label>
      <select matNativeControl formControlName="visibility"
              name="visibility"
              matTooltip="{{ 'domain.panel.tooltip.domain.visibility' | translate }}"
              id="domainVisibility_id">
        <option *ngFor="let visibility of domainVisibilityOptions"
                [value]="visibility.value">
          {{ visibility.key }}
        </option>
      </select>
      <mat-hint
        align="end">{{ "domain.panel.hint.domain.visibility" | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="domainResourceTypes?.length" style="width:100%">
      <mat-label>{{ "domain.panel.label.domain.default.resource.type" | translate }}</mat-label>
      <select matNativeControl formControlName="defaultResourceTypeIdentifier"
              matTooltip="{{ 'domain.panel.tooltip.domain.default.resource.type' | translate }}"
              id="domainDefaultResourceType_id">
        <option [value]="''" disabled></option>
        <option *ngFor="let resDef of domainResourceTypes"
                [value]="resDef.identifier">
          {{ resDef.name }} ({{ resDef.identifier }})
        </option>
      </select>
      <mat-hint
        align="end">{{ "domain.panel.hint.domain.visibility" | translate }}
      </mat-hint>
    </mat-form-field>
    <mat-toolbar class="mat-elevation-z2">
      <mat-toolbar-row class="smp-toolbar-row">
        <button id="cancelButton" mat-raised-button
                (click)="onResetButtonClicked()" color="primary"
                [disabled]="!resetButtonEnabled">
          <mat-icon>refresh</mat-icon>
          <span>{{ "domain.panel.button.reset" | translate }}</span>
        </button>
        <button id="saveButton" mat-raised-button
                (click)="onSaveButtonClicked()" color="primary"
                [disabled]="!submitButtonEnabled">
          <mat-icon>save</mat-icon>
          <span>{{ "domain.panel.button.save" | translate }}</span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </form>
</div>
