
#admin-truststore-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  min-height: 600px;
  padding: 0 2em;
}
#truststore-filter {
  width: 100%;
  padding-top: 1em;
}


#admin-truststore-table {
  width: 100%;
  padding-top: 1em;
}

#custom-file-upload {
  display: none;
}

.custom-file-upload {
  display: block;
  cursor: pointer;
}
