.alert-message {
  position: fixed;
  max-width: 70%;
  top: 3em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 1000;
}

.stickyError {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 180px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
