<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <b:bean id="jerseyBasicAuthEntryPoint"
            class="eu.europa.ec.cipa.smp.server.errors.SpringSecurityBasicAuthenticationEntryPoint"/>

    <http>
        <csrf disabled="true"/>
        <http-basic entry-point-ref="jerseyBasicAuthEntryPoint"/>
        <anonymous granted-authority="ROLE_ANONYMOUS"/>
    </http>

    <authentication-manager alias="smpAuthenticationManager">
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT username, password, 1 FROM smp_user WHERE username = ?"
                               authorities-by-username-query="SELECT all_roles.username, all_roles.authority from ( SELECT username, 'ROLE_SERVICEGROUP_ADMIN' AS AUTHORITY FROM smp_user UNION ALL SELECT username, 'ROLE_SMP_ADMIN' AS AUTHORITY FROM smp_user WHERE isadmin = 1 ) all_roles WHERE username = ?"/>
        </authentication-provider>
    </authentication-manager>

</b:beans>