<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2017 European Commission | CEF eDelivery
  ~
  ~ Licensed under the EUPL, Version 1.2 or - as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
  ~ You may not use this work except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence attached in file: LICENCE-EUPL-v1.2.pdf
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the Licence for the specific language governing permissions and limitations under the Licence.
  -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="true">
    <!--
    WebLogic scans all application's JAR files to search for some annotated classes.
    This scanning has an issue with spring-web-5.0.2.RELEASE.jar -
    that results in deployment failure with strange error "array index out of bounds".
    metadata-complete="true" is set to inform WebLogic to NOT scan JARs
    -->


    <display-name>eDelivery SMP</display-name>

    <servlet>
        <servlet-name>firstPage</servlet-name>
        <jsp-file>/static_resources/index.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>firstPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>smpRestServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>eu.europa.ec.edelivery.smp.config.SmpWebAppConfig</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>smpRestServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>



    <!-- SpringSecurity & Application Context-->

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            eu.europa.ec.edelivery.smp.config.SpringSecurityConfig;
            eu.europa.ec.edelivery.smp.config.SmpAppConfig;
            eu.europa.ec.edelivery.smp.config.PropertiesConfig
        </param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- force UTF-8 encoding-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
          - Loads the root application context of this web app at startup.
          - The application context is then available via
          - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>

    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

</web-app>
