<div id="resource-document-panel">

  <mat-toolbar class="mat-elevation-z2" style="flex-grow: 0">
    <mat-toolbar-row class="smp-toolbar-row">
      <button id="validateResource_id" mat-raised-button
              color="primary"
              matTooltip="Validate resource"
              (click)="onDocumentValidateButtonClicked()"
      >
        <mat-icon>data_check</mat-icon>
        <span>Validate</span>
      </button>
      <button id="GenerateResource_id" mat-raised-button *ngIf="false"
              color="primary"
              matTooltip="Generate resource"
      >
        <mat-icon>add_circle</mat-icon>
        <span>Generate</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div [formGroup]="resourceForm" style="width: 100%; display: flex; flex-direction: row; ">
    <mat-form-field style="width: 100%">
      <mat-label>Resource scheme</mat-label>
      <input id="identifierScheme_id" type="text" matInput
             formControlName="identifierScheme"
      >
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Resource identifier</mat-label>
      <input id="identifierValue_id" type="text" matInput #identifierValue
             formControlName="identifierValue"
             required auto-focus-directive>
    </mat-form-field>
  </div>
  <div [formGroup]="documentForm" style="width: 100%; display: flex; flex-direction: column; flex:1; gap:0.5em ">
    <div style="width: 100%; display: flex; flex-direction: row; flex:0; gap:0.5em">
      <mat-form-field style="flex:2">
        <mat-label>Document name</mat-label>
        <input id="documentName_id" type="text" matInput
               formControlName="name"
        >
      </mat-form-field>
      <mat-form-field style="flex:1">
        <mat-label>Document mimeType</mat-label>
        <input id="documentMimeType_id" type="text" matInput
               formControlName="mimeType"
        >
      </mat-form-field>
      <mat-form-field style="width:200px">
        <mat-label>Current document version</mat-label>
        <input id="current_version_id" type="text" matInput
               formControlName="currentResourceVersion"
               required auto-focus-directive>
      </mat-form-field>
      <mat-form-field style="width:200px">
        <mat-label>Document versions</mat-label>
        <mat-select placeholder="All document version"
                    matTooltip="Select version to display."
                    formControlName="payloadVersion"
                    id="document version_id"
                    (selectionChange)="onSelectionDocumentVersionChanged()"
                    >
          <mat-option *ngFor="let version of getDocumentVersions"
                      [value]="version"
          >
            {{version}}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
    <div style="display:block; overflow: auto;flex: 2;align-self: stretch; flex-direction: column;background-color: #FCFCFCBB; border: ridge 3px #b0bec5"
      (click)="onEditPanelClick()"
    >
      <ngx-codemirror #codemirror
                      formControlName="payload"
                      [options]="codemirrorOptions"
                      ngDefaultControl
      ></ngx-codemirror>
    </div>
    <mat-toolbar class="mat-elevation-z2" style="flex-grow: 0">
      <mat-toolbar-row>
        <button id="saveResource_id" mat-raised-button
                color="primary"
                matTooltip="Validate resource"
                [disabled]="saveButtonDisabled"
                (click)="onSaveButtonClicked()"
        >
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
